[2017-02-08 01:10] doomspork commented on #939
Closing this since we've got #908

[2017-02-08 01:10] #939 closed

[2017-02-08 01:11] doomspork commented on #926
I think we can incorporate this into #944.  When a version is out-of-date we can have a call-to-action to encourage people to edit the page and make changes.

[2017-02-09 05:26] ybur-yug opened #956 "Protocol Lesson Translation"
Original PR Here #825.

This adds a lesson on Protocols. It is not yet merged but final feedback has been incorporated.

## Translation
- [x] en #825
- [ ] bg
- [ ] bn
- [ ] cn /cc @cizixs
- [ ] de
- [ ] es /cc @aleandros / @jonahoffline / @eze1981
- [ ] fr /cc @julienXX
- [x] gr /cc @gemantzu #958
- [ ] id /cc @rezaprima
- [ ] it /cc @sformisano
- [ ] jp /cc @3100
- [ ] ko /cc @devleoper
- [ ] my

[2017-02-09 08:35] brain-geek commented on #956
I'll take Russian translation. @nscyclone , do you agree?

[2017-02-09 11:04] nscyclone commented on #956
@brain-geek, I wanted to take it too but I don't mind if you'll take it.

[2017-02-10 12:28] gemantzu commented on #956
#958 for greek

[2017-02-11 16:53] doomspork commented on #944
I've been thinking about this more today.  Could we do something with this to handle missing lessons and encourage folks to contribute those?

[2017-02-11 19:40] gemantzu commented on #944
I've been thinking about this as well but chores and other matters got the best of me. I will try some things tomorrow. One: write a script that will add the initial version on the first line (1.0.0 for english, 0.9.0 for all others). Two: write a script that we have to find a way to run every time we build with jekyll (does jekyll have a way to support this?). This script will build an `index` of

[2017-02-12 17:52] doomspork commented on #944
I started working on this last night using Jekyll plugins and have made promising progress.  I'll try to get things cleaned-up tonight so I can open a PR to further the conversation.  Hope everyone is having an enjoyable weekend 😁

[2017-02-12 18:09] gemantzu commented on #944
I have all files ready (I used an elixir script to open all files and add the line on the top). Do u want to create a branch so we can check all things out before we merge to master?

[2017-02-12 18:15] doomspork commented on #944
@gemantzu that's great!  I'll push up my branch here in a little bit, it's not 100% done yet 👍

[2017-02-12 18:46] gemantzu commented on #944
Sure, so I can send a PR on the branch instead of master!

[2017-02-13 21:31] doomspork commented on #944
@gemantzu I've opened a PR with my changes @ https://github.com/doomspork/elixir-school/pull/961

I'd love to get people's feedback on the approach.  For now this just handles calculating the `en` versions and then comparing every subsequent page and adding a warning.  For now the warning is very basic, we'll style it up once folks are happy.

![image](https://cloud.githubusercontent.com/assets/73

[2017-02-16 03:08] xinz opened #965 "Plug Router.start/2 is undefined or private"
Hi,

Thanks for this website for my learning, I refer the Plug specifics https://elixirschool.com/lessons/specifics/plug/ , when setup the following code

#lib/example/router.ex
[code]

and

#mix.exs
[code]

I restart the server with `mix run --no-halt`, I got the following error message

    ** (EXIT) an exception was raised:
        ** (UndefinedFunctionError) function Example.Router.start/2 is

[2017-02-16 04:15] xinz commented on #965
Looks like this section of Plug document has typo, the original tutorial of Plug.Router section as below:

`
def application do
  [
    applications: [:cowboy, :logger, :plug],
    mod: {Example.Router, []}
  ]
end
`

My resolution it keep the mix.exs as:

`
def application do
  [
    applications: [:cowboy, :logger, :plug],
    mod: {Example, []}
  ]
end
`

And modify the lib/exmaple.ex, the orig

[2017-02-16 04:17] #965 closed

[2017-02-16 15:48] doomspork commented on #965
@xinz if you'd like to submit a PR to fix the lesson that would be greatly appreciated!

[2017-02-17 02:41] xinz commented on #965
@doomspork , sure, it's my pleasure, please review my submit https://github.com/doomspork/elixir-school/pull/967

[2017-02-17 03:37] code-shoily opened #968 "[ BN ] Collections lesson translation in Bengali."
I am working on the collections chapter in Bengali, for some reason my fonts aren't working so I'd seek help from @masnun and @prio101 to help me out with the spellings and overall flow.

[2017-02-17 03:51] masnun commented on #968
Sure.

On Fri, Feb 17, 2017 at 9:37 AM, Code Shoily <notifications@github.com>
wrote:

--
Abu Ashraf Masnun | +8801711960803 | http://masnun.me

[2017-02-17 04:10] code-shoily commented on #968
#969 there! It's rough around the edges but it'll be helpful if you could give it a read and see if the flow is alright? TIA guys! @masnun @prio101

[2017-02-17 16:24] masnun opened #970 "[BN] Translation task list"
## Get Involved!

We are seeking **Bengali** translators for this project. If you would like to get involved with translating a lesson please fork the project and start translating.

- **Set up**
  - [x] _config.yml (@masnun)
  - [x] index.md (@prio101)
- **Basics**
  - [x] basics.md (@masnun)
  - [x] collections.md (@code-shoily)
  - [x] enum.md (@prio101)
  - [x] pattern-matching.md (@code-shoil

[2017-02-17 16:25] masnun commented on #970
Please comment when you take new chapters or complete. I will update the list.

cc: @prio101 and @code-shoily

[2017-02-17 19:15] prio101 commented on #970
Great ...

[2017-02-20 05:33] code-shoily commented on #970
I will be working on Sigil and Mix in the next 2 days. Fixed my font issue so hopefully I won't be bothering @masnun with silly typos.

[2017-02-20 06:15] masnun commented on #970
I am updating the index. BTW, I won't be bothered at all. I am very happy to help.

[2017-02-20 15:05] doomspork commented on #970
Thank you all for making this happen, it's so awesome!  Please let me know if there's anything I can help with 😀

[2017-02-24 15:26] pragmaticivan commented on #956
https://github.com/pragmaticivan/elixir-school/commit/a8543d622f6824b02097dc8147d95f50863ac170

[2017-02-24 17:49] brain-geek commented on #922
FYI @nscyclone I would like to take this one for translation also.

[2017-02-24 18:09] gemantzu commented on #922
#945 greek

[2017-02-26 08:27] prio101 commented on #970
@masnun Brother I am done with `Enum` Chapter . Its waiting as a Open Pull request . And I would request you to update the `Enum` chapter and also , Now I am going for the `Pattern Matching` chapter. Thanks in advance .

[2017-02-26 16:13] masnun commented on #970
@code-shoily  vaiya, please let me know which ones were merged and which one you're currently working on. I will update the list.

[2017-02-26 16:14] masnun commented on #970
@prio101  Please let me know when the `Enum` chapter is merged. I will update the list.

I have reserved Pattern Matching for you.

[2017-02-26 16:58] prio101 commented on #970
Thanks @masnun Vaiya

[2017-02-27 06:30] masnun commented on #970
Enum is merged. Collection was merged before. Checked them off.

[2017-02-27 18:38] code-shoily commented on #970
Please add `Pipe Operator` and `Comprehension` as assigned to me? I'm interested to do those. Will be done with `Sigil` by tomorrow. Sorry for the delay, got busy preparing for my talk :(

[2017-02-27 18:40] code-shoily commented on #970
And I have sent pull requests for `Mix` and `Pattern Matching`. Had a discussion with @prio101 and took pattern matching from him.. :/ if you'd be so kind and complement my `Mix` with `Mix Task` as discussed bro?

[2017-02-27 18:41] code-shoily commented on #970
And how about filling up all of the lessons under `Basic` in here as Task List? So that we can see the bigger picture @masnun ?

[2017-02-27 18:44] prio101 commented on #970
@masnun vai.. I am going to work on 'mix task'..

[2017-02-27 18:45] masnun commented on #970
Does it look right now? I will pull in all the chapters later today.

[2017-02-27 18:50] prio101 commented on #970
and also @masnun vai...  assign me the 'testing' chapter.

[2017-02-28 13:09] masnun commented on #970
Done

[2017-03-02 00:50] dodosiz opened #985 "iex warning in Basics/Functions example"
Recently, as I was running the Guard example in Basics/Functions

`
defmodule Greeter do
  def hello(names) when is_list(names) do
    names
    |> Enum.join(", ")
    |> hello
  end

  def hello(name) when is_binary(name) do
    phrase <> name
  end

  defp phrase, do: "Hello, "
end
`

The iex showed me a warning that "variable "phrase" does not exist and is being expanded to "phrase()", please u

[2017-03-02 08:29] nscyclone commented on #985
Thanks, @dodosiz!
This is definitely a good catch, some code may produce such warnings because it wasn't yet updated to Elixir 1.4 when this warning [has been introduced](https://github.com/elixir-lang/elixir/issues/3268).
Would you want to send a PR? If so, I suppose it would be nice if you could take care of the [translations](https://github.com/doomspork/elixir-school/search?utf8=%E2%9C%93&q=ph

[2017-03-05 10:48] code-shoily commented on #970
@masnun `Mix` and `Pattern Matching` are merged, maybe cross them out?

[2017-03-05 10:49] nscyclone commented on #970
Done, thanks, @code-shoily!

[2017-03-05 10:51] code-shoily commented on #970
@masnun let's do this thing, after finishing up all the lessons on the `Basics` section, let's get back and perfect it by shuffling the chapters away from the contributors, that way we can weed out the typos and have a better quality material that looks and feels more natural and native?

And after that we party :P and move on to next section? Just a suggestion.

[2017-03-06 06:27] nscyclone opened #996 "Are assets from the `_sass` folder actually being used anywhere?"
I couldn't find any usage of the files from the mentioned folder but I might be missing something.
I removed it in a separate branch and everything seems to be working as usual both on Heroku and locally.
So the question is: can these assets be safely removed? If not, I'd like to know the secret where and what are they used for.
The branch can be found [here](https://github.com/nscyclone/elixir-sc

[2017-03-06 09:07] masnun commented on #970
Impressive work by @code-shoily  - progressing very very fast!

Yes, that is an excellent idea. After we are done with the basics, we should *all* go through the chapters individually and polish the work done.

We could use the `#bangladesh` channel in Elixir slack for discussion.

[2017-03-06 09:12] code-shoily commented on #970
This can be an invaluable resource for Bangla speaking Elixir learners, we can also share the links once the basic is updated fully, so that by the time potential learners complete the basic section, we can have the advanced sections ready. By the way, I have sent pull requests for 4 more lessons. Do check? :)

[2017-03-06 09:14] masnun commented on #970
Yes, reviewed them all. Thanks for all the good work! Really appreciate it!

[2017-03-06 10:16] nscyclone commented on #970
Guys, thanks a lot for your amazing job!
I've recently merged [some of your latest translations](https://github.com/doomspork/elixir-school/pulls?utf8=%E2%9C%93&q=is%3Apr%20merged%3A%3E%3D2017-03-06%20%5BBN%5D%20) and wanted to mark them as done here. But unfortunately this format seems a little unusual for me, so I couldn't finally decide to do it.
We usually separate the lessons in the task list

[2017-03-06 10:18] nscyclone commented on #968
Can we close this one since #969 is already merged and we now have #970 for all the Bengali translation?

[2017-03-06 10:35] code-shoily commented on #968
Yes. Thanks.

[2017-03-06 10:35] #968 closed

[2017-03-06 12:05] masnun commented on #970
The format makes sense to me. It will need me some time to do that. I will pull all the tasks and order them by section (as seen in the other example). Thanks for pointing out!

[2017-03-06 16:48] doomspork commented on #996
That's a good question @nscyclone!  I will take a peek today and see if we're using those resources or not.

I did get a message this morning from Heroku that the automatic deployment failed, I don't know if it's related to the branch you have or not.  I still need to look into that as well.

[2017-03-07 10:07] code-shoily commented on #970
@masnun why don't you just copy the list from the given link straight away, that way you won't need much effort for pulling or sorting as it's done already for you? You can always write an Elixir script to append the check-list code and replace/update the contributor names to match with our existing list if you want to have some fun while at it :P

[2017-03-08 07:20] code-shoily opened #1002 "[ BN ] Regarding Ruby references in the lesson translations."
I'm in the process of reviewing some of the translations of lessons and in a few places there are references to `Ruby` i.e. on the `Mix` and `Basics` chapter. While it's helpful to have a reference handy, but people who'd be coming with the interest of a Bengali translation wouldn't mostly be `Ruby` programmers since we don't have many of them here. I was thinking if I'd remove these references an

[2017-03-08 07:23] masnun commented on #1002
Agreed.

[2017-03-08 07:37] armanhusain commented on #1002
Agreed, we need to have a more neutral documentation for programmers with a non-Ruby background. Bengali aside, there should not be references to another language, rather, independent explanations for topics that are unique to this language.

[2017-03-08 09:04] code-shoily commented on #1002
@armanhusain you cannot let go of Erlang when it comes to advanced topics such as OTP and concurrency because Elixir is based on top of those, reference of it is bound to arrive and it's natural for it to be so. References to another language cannot be entirely removed, that'd be silly in places.

Elixir is a new language and most of the people coming on board will have some programming experience

[2017-03-08 09:09] prio101 commented on #1002
totally agreed with @code-shoily ...

[2017-03-08 17:07] doomspork commented on #1002
Hmm.  This is tough and I'd like to think it over a bit.  The purpose of referencing other languages is to assist folks with comparing it to things they know.  While the some people may not have Ruby backgrounds the vast majority of folks coming to Elixir do.

@nscyclone / @pjhampton / @pragmaticivan / et al — any thoughts?

[2017-03-08 17:45] pragmaticivan commented on #1002
I agree with @code-shoily about the OTP part. But I still think removing Ruby as a reference to use general context would be less helpful. I would rather add javascript reference too, since most of the web developers are familiar with javascript.

I think the vast majority are coming from Ruby. But also we should take into consideration to take a look at resources of where José Valim took inspirat

[2017-03-08 17:54] pjhampton commented on #1002
Hmm, there is a [Scala project](http://docs.scala-lang.org/tutorials/) where the maintainers tried to tie the lessons to other langs (Java, Python, Ruby). They didn't get very far with it except for Java because it was a natural progression from Java to Scala. I think Ruby is the closest syntactically and the elixir toolchain is heavily inspired by it. I think if there were semantic comparisons in

[2017-03-08 19:00] doomspork commented on #1002
Pinging some of the other translators to get their feedback since this change will impact everyone: @Koziolek / @brain-geek / @gemantzu / @devleoper / @cizixs

[2017-03-09 05:15] code-shoily commented on #1002
@doomspork I only meant for the Bengali translations :) because it's a rather small community, I know most of them personally, even the ones who're planning to join up. Only one or two from the Ruby background and they're fairly advanced developers who probably went way ahead from documentation. I was asked quite a few number that if knowing Ruby would help to start off with Elixir, or if they'd b

[2017-03-09 08:45] gemantzu commented on #1002
In my opinion it will be more helpful if we add more instead of moving to a more general approach with no language reference. I think the Ruby parts are not that many and it will not create a big impact to add references to a couple more languages. @code-shoily have in mind though, that most people coming to elixir are have a Ruby background, at least up until now.

[2017-03-09 09:00] nscyclone commented on #1002
I totally agree with @pragmaticivan and @gemantzu.
Removing existing references doesn't offer that much benefits but adding more is a good option to provide a faster and more comfy way to learn for those who has some background exprience with any other languages.

[2017-03-09 11:32] code-shoily commented on #1002
Thanks for the inputs everyone :) I think I'll just add references to other languages in my translations when appropriate.

[2017-03-10 06:59] code-shoily commented on #970
Guys, I've sent pull requests for `Mix.Task` and `Control Structure`. If they're merged, we'll be left with only two lessons in the basics section. `Testing` and `Documentation`. @prio101 wanted to do the `Testing` chapter, how's that coming along?

Would you like taking a stab at `Documentation` @masnun ? Anyways, I'll start checking out the already translated chapters and add more niceties and n

[2017-03-10 16:31] prio101 commented on #970
@code-shoily sorry vai . Going through the Mid-Term Exam . :taco:

and please check this pull #1007 .

So , It seems someone is going to throw a party ???? :smile:

[2017-03-10 18:20] code-shoily commented on #970
@prio101 I throw great parties. All I need is an excuse. On a serious note though, I will finish up the documentation lesson tonight. Not before checking your pull request though. Thanks man!

[2017-03-11 19:48] #1002 closed

[2017-03-11 20:29] code-shoily commented on #970
Guys, let's congratulate ourselves for the completion of the basics section. From here on things fork two-ways in tendem.

1. We continue contributing to some of the chapters in other sections. Some of them, such as `Protocol`, `Specifications and Types`, `Metaprogramming`, `Error Handling` etc map with language syntax so those could be attempted earlier on so that we get a syntax first approach.

[2017-03-11 21:05] norbajunior commented on #355
Hey guys. I'm going to translate the IEx Helpers.

[2017-03-12 04:25] prio101 commented on #970
@code-shoily vai ...Agreed ... so lets make it happen ...

[2017-03-12 04:28] uroybd commented on #970
Hello,
I have some proposal on programming Jargons. Jargons, even in their native language can be vague for newbies, let alone a non-native one. But, they are equally complicated (and often misleading) to translate them. So, It would be better if we use footnotes. Consider this line and the bold Jargons in it: "এলিক্সির ইন্টার্নালি Erlang VM (BEAM) ব্যবহার করে যেটা **ডিস্ট্রিবিউটেড**, **ফল্ট টলারে

[2017-03-12 04:31] prio101 commented on #970
@uroybd ... going to learn a lot from you ...

[2017-03-12 05:08] masnun commented on #970
I don't think we can view markdown source of the issue / comment posted by others. So can't copy that over.

May be someone with higher privilege copy that source for us? Or may be it's better that one of the maintainers manage the task list?

[2017-03-12 06:03] nscyclone commented on #970
One more time I want to thank you all for making this happen! Congratulations on completing the first section!

@masnun I've just updated this task list to make it look like the others. The original one can be found [here](http://pastebin.com/NYPW4Vfr). I might be mistaken somewhere so it would be nice if you could re-check the assignments and their completion.

[2017-03-12 06:06] masnun commented on #970
Brilliant, thanks a lot! I will check and fix if there are any issues.

[2017-03-12 06:49] code-shoily commented on #970
@uroybd good point. The whole thing is about making the Bengali speaking readers comfortable to it and a footnote will certainly help. (Wait till we get to OTP... there'd be a lot of explaining to do there).

I'd still say we need to (re-)progress structurally in this area. Maybe work in the (re-)editors, the revisionist, and the final-checker, where the editor writes the prose, focusing on langua

[2017-03-12 08:30] nscyclone commented on #566
Closing this one because the original lesson is already merged (#900)  and the translation task list is in another issue (#921).

[2017-03-12 08:30] #566 closed

[2017-03-12 09:31] code-shoily opened #1010 "Add Crash Course link at the end of the `Erlang Interoperability` lesson?"
There is a great comparison between `Erlang` and `Elixir` syntaxes [here](http://elixir-lang.org/crash-course.html) in the official site. I was thinking maybe we could add a reference to this link in `erlang.md` as a "Note"?

[2017-03-13 00:39] rrmartins commented on #355
Hey guys, we have some page to translate?

[2017-03-13 00:42] rrmartins commented on #355
Can I make Debugging translation?

[2017-03-13 00:43] pragmaticivan commented on #355
Hey @rrmartins if you check this link: https://github.com/doomspork/elixir-school/issues?q=is%3Aissue+is%3Aopen+label%3Atranslation

There are many variations of the current files, maybe you can help to keep all the content updated.

[2017-03-13 01:08] rrmartins commented on #355
Hey @pragmaticivan, ok,  I saw that we do not have a translation for Debugging page in Portuguese. Can you do this translation? :)

[2017-03-13 01:09] pragmaticivan commented on #355
Sure you can @rrmartins, go for! :D Thanks!

[2017-03-13 03:16] pragmaticivan commented on #355
List updated :)

[2017-03-14 17:49] code-shoily commented on #970
Just checking up on the translators, anyone with any lesson in mind? Either new or improvement?

cc: @masnun @prio101 @uroybd

[2017-03-14 17:54] prio101 commented on #970
I am going to work on Erlang Chapter.. from advance section this Friday...

[2017-03-14 20:37] nscyclone commented on #970
I accidentally found that [the `Testing` lesson's](http://elixirschool.com/bn/lessons/basics/testing/) title remains untranslated. If I am not mistaken in [the end of the lesson](https://github.com/doomspork/elixir-school/blame/master/bn/lessons/basics/testing.md#L145) there is a word `টেস্ট` that is likely was used as a translation for this term. Is this done on purpose?

[2017-03-15 00:26] prio101 commented on #970
oh.. sorry..  missed that..

[2017-03-15 11:28] code-shoily commented on #970
Okay, I'll be reading the `basics` lesson again and beautify sentences along the way. I think I'll do this in sequential order, so starting with the first chapter. :-)

[2017-03-17 22:06] brain-geek opened #1015 "Add Date / Time lesson"
Hey!

I've noticed that we actually don't have anything related to Date/Time stuff, which is present in Elixir now.

Do we actually have this content?

[2017-03-17 23:25] ybur-yug commented on #1015
Dates are briefly spoken about in `sigils` @brain-geek

from current master:

[code]

[2017-03-19 20:56] nscyclone opened #1019 "Translation of the `debugging` section in `advanced/metaprogramming`"
The original PR can be found [here](https://github.com/doomspork/elixir-school/pull/489).

## Translation
- [x] en #489
- [ ] bg /cc @merkata
- [ ] cn /cc @cizixs
- [x] de /cc @Lechindianer #781
- [ ] es /cc @aleandros / @jonahoffline / @eze1981
- [ ] fr /cc @julienXX
- [x] gr /cc @gemantzu #629
- [ ] id /cc @rezaprima
- [ ] it /cc @lucidstack  / @sformisano
- [x] jp /cc @3100 #507
- [x] ko /cc @d

[2017-03-19 21:04] nscyclone commented on #220
I was reviewing the translations today. It seems like some of them need to be updated:
* `basics/enum`;
* `basics/modules`;
* `advanced/metaprogramming`;
* `specifics/plug`.

Does anyone want to take a stab at them?

[2017-03-21 16:27] pjhampton commented on #624
Anything cookin' here? 🍳

[2017-03-21 21:56] doomspork commented on #624
@pjhampton I don't believe so!  Are you ready to dust off your Elixir skills and update the lesson?  😀

[2017-03-22 09:36] pjhampton commented on #624
Yep, sounds good to me @doomspork 😄
Will aim to have it completed by the 31/Mar

[2017-03-22 20:05] nscyclone opened #1025 "Translation of the version messages"
The original changes can be found [here](https://github.com/doomspork/elixir-school/blob/d37d8aea1ccd518e21a431d5d1fd98b84703df81/_config.yml#L197-L203).

## Translation
- [x] en #961
- [ ] bg /cc @merkata
- [ ] cn /cc @cizixs
- [x] de /cc @Lechindianer #1027
- [x] es /cc @aleandros / @jonahoffline / @edwinallenz #1036
- [ ] fr /cc @julienXX
- [x] gr /cc @gemantzu #1023
- [ ] id /cc @rezaprima
- [

[2017-03-22 20:16] nscyclone commented on #944
Congratulations, the versioning is now [live](http://elixirschool.com/pl/lessons/basics/pattern-matching/)! :tada: Huge thanks to everyone for making this happen!

@doomspork, should this issue be closed?

[2017-03-22 20:35] nscyclone commented on #338
Closing this one because the original lesson is already merged (#564) and the translation task list is in another issue (#850).

[2017-03-22 20:35] #338 closed

[2017-03-22 21:10] doomspork commented on #944
Yes @nscyclone!

Thanks again everyone 👍

[2017-03-22 21:10] #944 closed

[2017-03-24 09:12] brain-geek commented on #220
@nscyclone I guess we should restructure this document somehow. e.g. list only TODO items or just keep it up-to-date. Other option would be closing this issue. Any ideas?

[2017-03-24 10:21] nscyclone commented on #220
@brain-geek Actually I've recently updated the task list according to the current translations state.
The problem is that it doesn't yet reflect the newly added versioning: the lessons are simply divided in two groups depending on whether there is _any_ translation for it even it's outdated. So I think that maybe adding a version next to every lesson and unchecking the outdated ones would be suffi

[2017-03-26 16:48] ChuckIrvine opened #1029 "OTP Supervisors section needs clarification"
To preface things, I really like your "Elixir School". Nice simple examples. I despise having to wade though someone's very complex example to get to the gist of what is being explained. Thanks!!!

Goto:
https://elixirschool.com/lessons/advanced/otp-supervisors/

The context for the code snippet below is unclear to me. Where should it be placed in the code for SimpleQueue

###########
import Super

[2017-03-27 19:17] pragmaticivan opened #1032 "[Question] Would you consider using language labels"
Right now it's really manual to find out where it's missing changes/translation for `pt-BR` for example. And I think if there was a way to just use GitHub labels to filter, It would be easier to send a link to someone saying that those tasks have `pt-BR` dependency and need help. Instead depending on manually update a main task/list for that.

[2017-03-27 20:06] doomspork commented on #1032
@pragmaticivan always welcome suggestions that make life easier for translators and contributors!

My only concern would be when we have all the language labels assigned, would it be overwhelming?

@nscyclone, @brain-geek, @cizixs, @gemantzu, and others — any thoughts?

[2017-03-27 20:09] pragmaticivan commented on #1032
I was thinking about removing the label after a PR is merged.

I have the same concern about having all the labels in one language. But, the trade off seems to be reasonable in order to get a good label filtering system.

[2017-03-28 07:10] gemantzu commented on #1032
Actually, my take on this (that I didn't find time to tackle) was to make a plugin in Jekyll that after reading all the pages, creates a report page for each translation that has all the info about the status of the language (x lessons missing, y lessons major etc) which would make it so easy to find lessons that need attention.. This way, any translator could just look at this overview page and f

[2017-03-28 21:31] brain-geek commented on #1032
@gemantzu 's suggestion has a lot of sense - I've been thinking for this also.

[2017-03-28 22:11] pragmaticivan commented on #1032
@gemantzu all good with your solution! :D I think that would be better than using tags

[2017-03-30 02:24] doomspork commented on #1032
@gemantzu I think it's possible with Jekyll, I'm not 100% how though.  @pragmaticivan would you be interested in helping building this out if it suits your needs?

[2017-03-30 06:26] nscyclone commented on #529
The issue was closed automatically but I suppose it's too early since not all the translations are ready yet.

[2017-03-30 06:33] nscyclone commented on #1032
Sorry for a late reply.
Jekyll-based solution sounds like a good idea to me. Likely, [generators](https://github.com/jekyll/jekyll/blob/0300a7017b8e69d86d267d1e252d561b34906e77/docs/_docs/plugins.md#generators) is the thing we're looking for.

[2017-03-30 16:29] doomspork commented on #529
Good catch @nscyclone!  I didn't notice the magic phrase in that PR that auto-closed this.

[2017-03-30 16:30] doomspork commented on #1032
No worries @nscyclone, thanks for taking the time to respond

[2017-03-30 18:57] vicdda commented on #355
Hey, i have done the translation of the lesson of types and specifications.

[2017-03-30 19:01] pragmaticivan commented on #355
Thanks @vicdda I will start reviewing soon.

[2017-03-30 19:36] jamesporter opened #1039 "Ebook epub generation"
I wanted to read Elixir School on my Kindle so created: https://github.com/jamesporter/elixir-school-ebook

Currently it relies on a forked version of an npm library (as `epub-gen` was removing new lines) and various things are hardcoded but seems to work very well as is (for default language, on my Kindle, after using Calibre to convert the epub file)

If there is any general interest in this the

[2017-03-30 19:47] ybur-yug commented on #1039
This is awesome @jamesporter. 💥 There has definitely been talk of this and its something I know we all _really_ want to do. Going to check it out now and report back!

[2017-03-30 20:00] doomspork commented on #1039
Great work @jamesporter!  This is definitely something I'd like to get incorporated into the site, across all languages.

The gentleman behind https://github.com/javierbyte/docs2epub/ reached out to me about tackling the ebook generation but he seemingly vanished and no forward progress has been made.

Let me know if there's anything we can do to facilitate making this part of the Jekyll deploymen

[2017-03-30 20:01] #523 closed

[2017-03-30 20:21] jamesporter commented on #1039
Unfortunately as it uses javascript/node getting it working with Jekyll could be somewhat tricky. (btw Does Elixir School use github pages?)

Support for other languages, cover image, that kind of thing should all be straightforward. And there is probably much better way of getting latest Elixir School version.

[2017-03-30 21:24] doomspork commented on #1039
@jamesporter Heroku for now.  I have a DO box we could use to listen to webhooks and run a script to generate the ebooks.

[2017-03-30 21:56] milmazz commented on #1039
@jamesporter @doomspork Shameless plug here, but you can use [BUPE](https://github.com/milmazz/bupe) to generate EPUB documents using Elixir, there is a current [proposal](https://github.com/elixir-lang/elixir-lang.github.com/issues/860) to offer the official Getting Started guides in EPUB format. Let me know what do you think and I can help if you want.

[2017-03-30 21:58] doomspork commented on #1039
That's awesome @milmazz!  I'm open to evaluating all of our options, thanks for sharing 👍

[2017-04-03 01:40] doomspork commented on #1029
@ChuckIrvine thanks for reaching out!  You're right, this is unclear and something we should improve.  Were you able to find the answer you needed?

[2017-04-04 03:01] moxley opened #1043 "Translate Plug lesson 1.1.0"
Major revisions have been made to the Plug lesson, in #861 and #1033. Translations need to be created.

## Translation

Translation progress:

- [x] en
- [ ] ru /cc @brain-geek / @nscyclone
- [ ] ko /cc @devleoper
- [ ] jp /cc @3100
- [ ] no /cc @therobinsj
- [ ] pl /cc @Koziolek
- [ ] sk /cc @michalvalasek
- [ ] fr /cc @julienXX
- [ ] cn /cc @cizixs
- [x] es /cc @aleandros / @jonahoffline / @edwi

[2017-04-11 12:40] cizixs commented on #295
Fixed by PR #1049 , I will close this issue.

[2017-04-11 12:40] #295 closed

[2017-04-14 20:37] morontt opened #1050 "incorrect link"
Link follow to arithmetic section instead of comparison

[2017-04-16 07:18] nscyclone commented on #1050
Fixed in #1051. Thanks, @morontt!

[2017-04-16 07:18] #1050 closed

[2017-04-19 20:57] morontt opened #1055 "fix russian translation for Enum.each"
Now: The _each_ method does not return the atom _:ok_
Should be: The _each_ method does return the atom _:ok_

[Docs](https://hexdocs.pm/elixir/Enum.html#each/2)

[2017-04-20 07:48] edwinallenz commented on #1043
While I'm translating this lesson to spanish, I'm also doing the Plug exercise. As I'm doing the section https://github.com/doomspork/elixir-school/blob/master/lessons/specifics/plug.md#adding-another-plug
I'm getting a 500 response when a POST is performed to the /upload endpoint, and I'm not able to see any error message in the terminal.

Other endpoints as `/` or other are responding well with

[2017-04-21 09:51] nscyclone commented on #1055
Fixed in #1056.
Thanks again, @morontt!

[2017-04-21 09:51] #1055 closed

[2017-04-25 06:33] hanmd82 commented on #985
Hi @dodosiz would you like to raise a new PR to close this issue? Otherwise may I take this up? cc @nscyclone

[2017-04-25 10:35] #985 closed

[2017-04-25 11:17] dodosiz commented on #985
Yes Han, could you take it up?
________________________________
Από: Mingding Han <notifications@github.com>
Στάλθηκε: Τρίτη, 25 Απριλίου 2017 9:33:50 πμ
Προς: doomspork/elixir-school
Κοιν.: Theodosis Asvestopoulos; Mention
Θέμα: Re: [doomspork/elixir-school] iex warning in Basics/Functions example (#985)

Hi @dodosiz<https://github.com/dodosiz> would you like to raise a new PR to close this issue

[2017-04-25 11:28] nscyclone commented on #985
Thanks, @dodosiz!
@hanmd82 has already fixed that in #1064 so I guess there is nothing else left to be worried about.

[2017-04-25 17:26] nscyclone commented on #529
This issue seems to be closed by accident once again.

[2017-04-26 19:37] doomspork commented on #529
I suck, sorry @nscyclone!  I need to keep an eye out for those triggers in Github commit messages

[2017-04-27 01:34] edwinallenz commented on #529
Sorry it's because I included the `fix #...` keyword in the commit message I'll use `relates to` for feature messages

[2017-04-27 15:28] doomspork commented on #529
Thank you @edwinallenz, I'll do my part to be more vigilant with those messages!

[2017-05-17 07:46] roberthopman opened #1085 "Add next lesson button at bottom of each lesson for better experience"
- [ ] Add next lesson button at bottom of each lesson

[2017-05-17 11:49] eksperimental commented on #1085
yes please.
not only next, but previous as well.

[2017-05-17 15:23] #95 closed

[2017-05-17 15:23] #50 closed

[2017-05-20 09:50] nscyclone opened #1090 "Change the Norwegian language code"
While trying to dig into pagination I ran into an issue with the Norwegian translation. Its language code is being interpreted as "false" according to the [yaml standard](http://yaml.org/type/bool.html).
There might be a plenty of workarounds but I thought that changing the language code might be the simplest one. The valid ISO 639 options are listed [here](https://en.m.wikipedia.org/wiki/List_of_

[2017-05-21 23:14] nhooyr opened #1091 "update map syntax works for more key types than just atoms"
http://elixirschool.com/lessons/basics/collections/#maps

At the bottom it states

[code]

However, the updating syntax works for more than just atom keys, e.g.

[code]

[2017-05-22 00:41] nhooyr opened #1092 "missing control structures lesson"
http://elixirschool.com/lessons/basics/control-structures gives

[2017-05-24 16:15] doomspork commented on #1092
Thanks for the report @nhooyr!  I will look into this immediately.

[2017-05-24 16:16] doomspork commented on #1091
Howdy @nhooyr for the most part we don't attempt to cover _every_ possibility, rather we aim to provide a foundation from which to build on.  I'm not sure we need to make changes to call out each supported key type but pull requests are welcome if you think a change could be made 👍

[2017-05-24 16:16] #1091 closed

[2017-05-24 16:25] doomspork commented on #1092
Closed via 50d144a

[2017-05-24 16:25] #1092 closed

[2017-05-24 17:17] nhooyr commented on #1091
Its misleading because it implies that the syntax only works for updating atom keys.

[2017-05-24 17:36] doomspork commented on #1091
@nhooyr perhaps we should then expand on the commentary around that block?  My concern is that more than just atoms and strings are valid map keys, where do we draw the line with examples?

[code]

[2017-05-27 18:56] nhooyr commented on #1091
It's not a issue with the examples, its an issue with the text. Examples don't have to consider every case but the text should because otherwise it is misleading. A fix for this is included in #1094

[2017-06-09 03:50] eksperimental opened #1109 "Change Malay language code to "ms""
There is a mistake in the code it was chosen, it happens that "my" is the country code for Malaysia, but it is the language code for the Burmese language.
"ms" is the code for Malay.

Related:
- https://github.com/doomspork/elixir-school/issues/1090
- https://github.com/doomspork/elixir-school/pull/1106

Reference:
https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2017-06-09 13:32] eksperimental commented on #1090
The language code is valid,
it's a bug in the yaml library then,
I don't know if you should change language codes for a website because a library doesn't recognize it.
Wikipedia does as in http://no.wikipedia.org

@nscyclone may I ask what is the issue you are having with the pagination?

[2017-06-09 13:39] eksperimental commented on #1090
I see the issue, it is being interpreted as `no` in english natural language.
Why not use "no" surrounded by quoted.

[2017-06-13 15:41] nscyclone commented on #1090
@eksperimental, as always everything genial is simple. It really worked, I've no idea how did I miss that option. Thanks a lot!
@doomspork I've just updated #1099. I guess now we don't need any other changes related to the Norwegian language code.

Anyway, all of this was not for nothing, we've discovered and utilized the redirect plugin to make the English lessons follow the common routing patter

[2017-06-13 16:14] eksperimental commented on #1090
No it was not. We need to move malaysian langugae. Im doing a big update to yhe will. Will push the PR later today

[2017-06-13 16:14] eksperimental commented on #1090
Big update To the site

[2017-06-13 16:21] doomspork commented on #1090
Thanks again for finding that plugin @eksperimental!  Do we need to keep this issue open or can we close it in favor of the others we have?

[2017-06-13 17:06] eksperimental commented on #1090
I think we can close it as this is solely related to the NO language. The Malaysian language issue has been opened.

[2017-06-13 18:26] #1090 closed

[2017-06-14 03:03] eksperimental opened #1113 "Create labels to organize issues by languages"
There are already 83 issues, and I'm sure many are related to translations,
We should have a way to let contributors see at one glance all issues where this person can contribute.

I know it's a lot of labels, but we should have something like:
`language:EN`

[2017-06-14 04:15] doomspork commented on #1113
This sounds like a good idea to me.  Thoughts @gemantzu / @nscyclone and others?

[2017-06-14 07:50] nscyclone commented on #1113
That's definitely a great idea but I'm afraid that the issue itself is a duplicate of #1032.

[2017-06-15 11:15] gemantzu commented on #1113
It is indeed a duplicate of #1032. I believe though, that the solution I suggested will be doable in a not so hard way due to @eksperimental 's refactoring job ( #1112 ), at least I think so from a quick look I took on the pull request. I'm sorry, I've been bloated so much with work this year that I have not been able to commit as much time as I would want and solve this issue.

[2017-06-15 15:34] eksperimental opened #1117 "Should we rename the repository to "elixirschool"?"
After submitting this PR: https://github.com/doomspork/elixir-school/pull/1116
I saw that originally the project was named "elixir_school", or at least https://github.com/doomspork/elixir_school redirects to https://github.com/doomspork/elixir-school for some reason.
the thing is that I find annoying every time i have to access the repo, I type elixirschool beacuse that's the name of the website.

[2017-06-16 08:30] schmurfy opened #1118 "Outdated/incorrect state[:key] syntax"
I am not sure which is it but what this page shows: https://elixirschool.com/lessons/basics/testing/
does not work with elixir 1.4.4, while digging on exiting elixir projects I found the following to be working but I am not sure whether it is the correct way to do it or not:

[code]
What is the corret way to use state in tests ?

[2017-06-16 19:40] gemantzu commented on #1118
What do you mean it does not work with Elixir 1.4.4? Can you show us an error that you get when running this test? I just tested it and it works just perfect. What is that 42 number you are using in your test?

[2017-06-20 13:42] schmurfy commented on #1118
I did more testing and I am not clear on what is exactly my issue but you are right it works with a simple case, I oversimplified the test case but for some reasons my real usecase does not work.

I am still discovering elixir and I have no real idea what the differences are between ".ex" and ".exs" files, is there anything particular about exs files ?

I currently playing with the nksip erlang li

[2017-06-20 16:07] gemantzu commented on #1118
By convention, .ex files are compiled to .BEAM files that are executed by the beam virtual machine, and .exs files are compiled in memory, so they are mostly scripts or test files that just have to run once.

In your test named "rr", you use a state variable but you do not read it from setup. In order to do so, your function definition should be
[code]
State in elixir is explicit, not implicit. Th

[2017-06-21 13:22] schmurfy commented on #1118
It does work indeed, my bad xD
Thanks for the precisions concerning exs files.

[2017-06-21 13:22] #1118 closed

[2017-07-07 05:26] Ivor opened #1126 "Genstage lesson: Specify `lib/genstage_example/application.ex` in "Putting it all together""
I just wanted to follow the example, cutting and pasting as I was reading through the lesson.

In the putting it all together the instruction is to put the following in `lib/genstage_example.ex`

[code]

This had to go in the `lib/genstage_example/application.ex` for it to work for me.
If I am doing something wrong I would greatly appreciate feedback, otherwise I think this is a mistake in the les

[2017-07-07 15:23] doomspork commented on #1126
Howdy @Ivor!  Both are right, sort of.  Prior to Elixir 1.4 the OTP application functionality (like start/2) lived in `lib/project_name.ex`, as of 1.4 this was moved to `lib/project_name/application.ex.  We should update the lessons to better reflect what 1.4 does now that it's been out for awhile.  Hope that helps!

[2017-07-08 03:05] Ivor commented on #1126
@doomspork thanks for the clarification. I suspected it was a change like that but didn't know. I think it will be good to either update to the the 1.4 way or including both versions. Took me a good while to figure out that following the instructions was not working. It fails *very* silenty. Appreciate the site!

[2017-07-11 14:50] doomspork commented on #1126
@Ivor I think we should update to 1.4.  Would you like to take a stab at updating the lesson?

[2017-07-11 15:44] sobering commented on #1085
@doomspork, this enhancement was taken care of by @eksperimental in the most recently merged PR. This issue can be closed.

[2017-07-11 15:59] doomspork commented on #1085
Good catch @sobering!  Thanks again @eksperimental ❤️

[2017-07-11 15:59] #1085 closed

[2017-07-12 06:01] nscyclone commented on #247
As stated in the issue message, the reason of 404 responses surge was a plenty of links to non-translated lessons. Now when changes from #1112 are in `master`, there is pagination and links are shown only for existing translations. It means that user can't get a 404 response unless he wants to visit a non-existing page by editing URL manually, so this issue can be closed.

[2017-07-12 06:01] #247 closed

[2017-07-17 17:29] nelsonic opened #1133 "Content is *Great* Grammar Can Be Improved in "Advanced > Specifications and Types" lesson"
Hi @doomspork, thanks _again_ for the superb learning resource! 🎉

Would anyone be offended if I submit a PR improving the grammar & punctuation of the "Advanced > Specifications and Types" lesson?

https://elixirschool.com/en/lessons/advanced/typespec/#introduction
![image](https://user-images.githubusercontent.com/194400/28280759-b0795768-6b1c-11e7-98d1-be6213d4a3c6.png)
Snapshot: https://github

[2017-07-17 17:52] doomspork commented on #1133
@nelsonic thanks and welcome!  Please do contribute anywhere you think you could make improvements.  This resource is so great because of contributors like yourself who continuously add value.

I often joke that my first language is Elixir and not English so grammar could likely be improved in many places. 😆

[2017-07-18 00:46] axelson opened #1134 "404 not found from google links"
This has happened a few times now and it's been getting annoying. Google is returning links like:

https://elixirschool.com/lessons/specifics/plug/

Which renders a text string saying "Not found" and that's it.

It appears that the correct link is (depending on your locale):

https://elixirschool.com/en/lessons/specifics/plug/

I think that the previous link should return do some auto-detection, a

[2017-07-18 16:52] doomspork commented on #1134
Thank you for the report @axelson!

@eksperimental it seems like the redirect plugin is not doing it's job 😰

[2017-07-18 17:23] doomspork commented on #1134
I've bumped the Jekyll version to no avail.  Still digging in.  @nscyclone could you take a peek if you get a chance?

[2017-07-18 20:36] nscyclone commented on #1134
@doomspork We have a [manual redirect](https://github.com/doomspork/elixir-school/commit/e689f70760e7a3ff6203cfa4cf291f968edba46f) set up from the index page to the `en` index. As was stated in the commentary from commit linked above it was made due to a [Jekyll issue](https://github.com/jekyll/jekyll/pull/6058) that seems to be fixed in the [latest major release](https://github.com/jekyll/jekyll/

[2017-07-18 21:27] #1134 closed

[2017-07-18 21:29] doomspork commented on #1134
Thanks again for bringing this to our attention @axelson 👍

Huge thanks to @nscyclone for finding the solution so quickly

[2017-07-22 06:36] jaytheking opened #1138 "(UndefinedFunctionError) function :crypto.rand_bytes/1 is undefined or private"
Reading through the Basics guide, there is an older function `:crypto.rand_bytes`. This should be replaced with `:crypto.strong_rand_bytes`.

Otherwise if im wrong please explain what i need to do to get that to work with latest version of elixir and erlang VM.

[2017-07-22 06:50] nscyclone commented on #1138
Thanks, @jaytheking! You're right and @bguiz is already working on it in #1132.

[2017-07-22 07:02] jaytheking commented on #1138
@nscyclone Aahh my bad, I did try searching before posting the issue and didn't find that.

[2017-07-26 19:42] doomspork commented on #1117
I don't _really_ have a strong feeling.  I originally went with `elixir-school` because it's `elixir-lang` and I wanted to remain consistent (hence the `_` -> `-` change).

I'm currently working with a designer on a complete overhaul of the Elixir School site and brand, vastly improving the content display, search-ability, and allowing me to tackle a few other goals I have like calling more attent

[2017-08-07 07:08] harfangk opened #1148 "Update Poolboy lesson"
The code example in Poolboy lesson is not up to date with changes in Elixir 1.4, so I updated it. I also edited the lesson text and code example in a separate commit, with the goal of making the lesson more readable and precise.

PR number is #1147.

[2017-08-21 02:23] #1117 closed

[2017-08-21 06:37] nscyclone commented on #1148
Thanks, @harfangk!
Closing this issue because #1147 is already merged.

[2017-08-21 06:37] #1148 closed

[2017-08-21 06:38] nscyclone commented on #1138
Fixed in #1132. Thanks, @bguiz and @jaytheking!

[2017-08-21 06:38] #1138 closed

[2017-08-24 06:56] pjhampton commented on #195
Doesn't look like this is flying. We can close this for now 👍

[2017-08-24 06:56] #195 closed

[2017-08-24 06:56] pjhampton commented on #198
Doesn't look like this is flying. We can close this for now 👍

[2017-08-24 06:56] #198 closed

[2017-08-29 15:35] pjhampton commented on #624
Well 31/Mar didn't happen 🤣
It seems that a unit on testing was implemented over the past two months on Testing by @eksperimental. Does anybody believe there is value in creating a dedicated lesson for ExUnit now?

[2017-08-29 15:39] doomspork commented on #624
We could consolidate our previous testing commentary into an ExUnit test where we can cover some additional topics like mocking in Elixir (or how to not mock).

I feel like a dedicated lesson would also be a good opportunity to discuss a tool like `bypass` but that breaks the convention of sticking with official packages only for lessons outside of `Library`.  Maybe a bypass lesson could be a shor

[2017-09-11 08:58] masnun commented on #970
I have been away for a while, I am back. I shall try to contribute in my free time.

I see some more chapters have been done. I shall update this list accordingly.

/cc: @prio101 @code-shoily @uroybd

[2017-09-11 15:17] code-shoily commented on #970
Welcome back. I myself have been away for awhile. I'll be checking out the new chapters as well. Will see if we can go through some of the advanced ones :)

[2017-09-11 16:55] doomspork commented on #970
Welcome back!  Thank you again for your help @masnun & @code-shoily 😀

[2017-09-13 10:20] picandocodigo opened #1163 "Producer section in GenStage may need clarification"
The [Producer](https://elixirschool.com/en/lessons/advanced/gen-stage/#producer) section of the GenStage lesson says:

Should it be something like: `where the majority of our producer is defined, and must be implemented...`?

[2017-09-13 12:21] nscyclone commented on #1163
Great catch, thanks, @picandocodigo! Your suggestion sounds good, but I'd rather split it into two sentences:

What do you think about this? Would you like to fix this? If you have any questions, feel free to ask, we're always glad to help!

[2017-09-13 13:44] picandocodigo commented on #1163
Yes, I think it makes sense to split it into two sentences. Would you like me to submit a PR with this fix?

[2017-09-13 13:52] nscyclone commented on #1163
@picandocodigo Sure, that would be great! Please, don't forget to update the [patch version in the lesson metadata](https://github.com/elixirschool/elixirschool/blame/master/en/lessons/advanced/gen-stage.md#L2). Thanks in advance!

[2017-09-13 15:01] #1163 closed

[2017-09-13 19:48] devonestes opened #1165 "Benchmarking section translation"
We have a new lesson that's in need of some translation!

Original PR is here: https://github.com/elixirschool/elixirschool/pull/1151

Right now it's just in English, so we'll need all the other languages.

[2017-09-23 17:03] #1133 closed

[2017-09-24 23:08] #996 closed

[2017-09-24 23:09] #1126 closed

[2017-09-27 22:21] doomspork commented on #1113
I'm not sure if it's helpful or not but I created individual teams for each language group: https://github.com/orgs/elixirschool/teams/translators/teams

I figured this would make at least tagging for review easier, don't believe it solves the sorting issue.

[2017-09-27 22:23] doomspork commented on #908
Now that we're on to 1.5 (and soon 1.6) I think this can be closed.

[2017-09-27 22:23] #908 closed

[2017-09-28 17:49] doomspork commented on #1113
Closing this in favor of #1032

[2017-09-28 17:49] #1113 closed

[2017-09-28 17:50] doomspork commented on #1032
If we can hash out the feature set for this I think it would be a great opportunity for someone looking for get in their Hacktoberfest contributions.  What do you all think?

[2017-09-28 19:11] doomspork commented on #536
We have a rough guide in the Wiki which seems to be doing the trick for now 👍

[2017-09-28 19:11] #536 closed

[2017-10-01 07:23] iboss-ptk opened #1183 "Outdated README.md"
The translation section is outdated.
1. configuring `url` in `_config.yml` is not needed anymore.
2. language config like `section`, `description` has been extracted to `_data/locales/[language_code].yml` not in `_config.yml` anymore

If such PR is welcome. I'm happy to help :)

[2017-10-01 14:42] doomspork commented on #1183
@iboss-ptk PR away!  Thanks for getting involved 😁

[2017-10-02 03:42] iboss-ptk commented on #1183
just curious that why

since doing that will make the page warn about outdated content? @doomspork

[2017-10-02 06:20] nscyclone commented on #1183
@iboss-ptk, you're right, the version should be copied from the original lesson.

[2017-10-03 05:28] iboss-ptk commented on #927
So how webpack website has this react component

[code]
which turns out that the github username (the `contributor` prop) is being passed down by page attribute and it is done manually like this:
[code]

My question is do we have the way to automatically generate them without explicilty defining them? Like read the file commit log and get the username out of that by hooking jekyll file complilatio

[2017-10-03 17:31] doomspork commented on #927
@iboss-ptk that's a great find!  I'm not against us having the contributors hard coded into the page meta data.  I think I could probably throw together a script to go through the repo and populate all the necessary meta data.

Thoughts @pragmaticivan, @ybur-yug, @nscyclone, and others?

[2017-10-04 06:22] pragmaticivan commented on #927
I'm not against us having that approach. Sounds good to me, I think it's very cool to be "recognized" by a contribution.

[2017-10-04 13:28] doomspork commented on #927
@pragmaticivan do you prefer people having to add themselves to the contributor list in the meta or something like #1186?

[2017-10-04 16:07] pragmaticivan commented on #927
@doomspork I actually prefer the approach on #1186 due to rate limit

[2017-10-04 18:09] crabonature opened #1188 "Erlang timer.tc function returns time in microseconds not miliseconds"
http://erlang.org/doc/man/timer.html#tc-1

Just made a PR. https://github.com/elixirschool/elixirschool/pull/1187

[2017-10-05 19:30] doomspork commented on #1188
Thank you @crabonature!

[2017-10-05 19:30] #1188 closed

[2017-10-08 18:12] doomspork commented on #1183
@iboss-ptk thank you again for all of your help on the Thai translation and updates to the translating guide.

Would you be open to joining the Elixir School organization and heading up the Thai translations?  We just ask that you don't push to Master or merge PRs without giving people an opportunity to review them 😀

[2017-10-08 18:14] #927 closed

[2017-10-09 11:12] iboss-ptk commented on #1183
@doomspork Oh sure I would love to :)

[2017-10-09 17:09] doomspork commented on #1183
@iboss-ptk invite sent 😀  Thanks again for all your help

[2017-10-09 19:11] squaresurf opened #1203 "Favicon"
I would love for there to be a favicon so it would be easier to find the elixirschool tabs I have open. Has this been discussed anywhere?

[2017-10-09 22:35] doomspork commented on #1203
@squaresurf I swore we had this before 🤔 I'd be happy to add one, would you like to open a Pull Request to do so?

[2017-10-09 22:36] squaresurf commented on #1203
I'd love to open a PR. Is there a logo from which I could build a favicon?

[2017-10-11 03:35] guilhermelazzari commented on #355
I'll take GenState.

[2017-10-11 14:01] doomspork commented on #355
Wonderful, thank you @guilhermelazzari!!

[2017-10-15 15:23] erickgnavar opened #1219 "[ES] Add missing Spanish translations for Basic lessons"
Some lessons aren't translated yet :(

- [x] Sigils #1221
- [x] Documentation #1218
- [ ] Comprehensions
- [ ] Strings
- [ ] Custom mix tasks
- [ ] IEx helpers

[2017-10-17 06:31] gemantzu commented on #1043
Greek #1128

[2017-10-17 19:28] stfnsr commented on #922
I'd like to get started with the german translation of this (as this seems to be the only missing section from the basics)

[2017-10-17 19:37] araujoigor opened #1224 "Code versions of the with/1 refactoring example are inconsistent"
The code example that shows a benefit of using `when/1` over `case/2` on some cases is inconsistent and a bit misleading (check [when/1 section of Control Structures](https://elixirschool.com/en/lessons/basics/control-structures/#with))

The variables used on the `Guardian.encode_and_sign` call are different in both examples and this could lead the reader to misunderstand the example or take more

[2017-10-17 22:45] guilhermelazzari commented on #355
Hi @doomspork I'll translate Behaviours too.

[2017-10-20 15:03] #1224 closed

[2017-10-22 19:35] gemantzu commented on #768
This would be so awesome I cannot even measure how much. We should add full fledged projects about everything we talk in here. This would make the very definition of the term "school" more complete (we would still need exercises for it to be 100%)

[2017-10-25 18:32] doomspork commented on #1203
@squaresurf this is the only image I currently have https://github.com/elixirschool/elixirschool/blob/master/_assets/images/og_image.jpg

[2017-10-26 23:12] squaresurf commented on #1203
I just opened a PR that should accomplish this :smile:.

[2017-10-28 19:30] eksperimental commented on #1117
great move. thank you

[2017-11-07 16:58] iguchi1124 commented on #922
Hi! I'd like to try japanese translation of this doc:smile:

[2017-11-07 17:04] #1203 closed

[2017-11-08 11:18] SpyR1014 opened #1251 "Using Elixir formatter on all the lessons"
To celebrate the Elixir formatter 🎉 it would be awesome for all the code examples to be formatted by the elixir formatter!

I'm marking off the languages here as I go.

- [x] ar
- [x] bg
- [x] bn
- [x] cn
- [x] de
- [x] en
- [x] es
- [x] fr
- [x] gr
- [x] id
- [x] it
- [x] jp
- [x] ko
- [x] my
- [x] no
- [x] pl
- [x] pt
- [x] ru
- [x] sk
- [x] ta
- [x] th
- [x] tr
- [x] uk
- [x] vi

Current workin

[2017-11-11 02:23] guilhermelazzari commented on #1165
Hi @devonestes I can translate to Portuguese.

[2017-11-11 18:09] doomspork commented on #1165
Thank you @guilhermelazzari!

[2017-11-13 03:17] flavono123 commented on #201
Thanks for good lessons in advance

All Korean translations are done?
If remained, I'd strongly like to do that!

[2017-11-13 03:29] doomspork commented on #201
Welcome @flavono123!!  @elixirschool/korean any lessons need updates?

[2017-11-13 03:37] devleoper commented on #201
Hello @flavono123! Thanks for your participation. :tada:

Since the basic translation is done but as far as I remember there are some refinements and [lesson that is not translated yet](https://elixirschool.com/en/lessons/libraries/benchee/). You can find out those by filtering out [translation issues](https://github.com/elixirschool/elixirschool/issues?q=is%3Aopen+is%3Aissue+label%3Atranslation).

[2017-11-13 04:00] flavono123 commented on #201
@devleoper Thanks for help! I will look there up!

[2017-11-13 04:54] flavono123 opened #1256 "[KO] Arities of chunk_every/4 section in ko/basic/enum.md seemed wrong"
Compared to English enum.md in basic, the chunk_every section of it in Korean seemed wrong.

The text of \<h3> tag should be `chunk_every`, not `chunk_every/2` and followed two code pieces of `chunk_every/4` should be `chunk_every/2` and `chunk_every/4` in order, respectively. (The 3rd `chunk_every/4` in Korean enum.md is OK)

[English version](https://elixirschool.com/en/lessons/basics/enum/#chun

[2017-11-13 16:27] doomspork commented on #1256
@flavono123 please do!  We'll have someone on @elixirschool/korean review it for you 😁

[2017-11-14 13:09] flavono123 commented on #1256
@doomspork Thanks! The work is in PR #1257

[2017-11-14 13:11] marocchino commented on #1256
Some other translations also need to fix title `chunk_every/2` -> `chunk_every`
#1170

[2017-11-14 14:26] flavono123 commented on #1256
@marocchino Checked the list of languages, cn, de, es, fr, gr, it, jp, my, no, pl, pt, ru and vi, except Korean, that the title of `chunk_every` section written in `chunk_every/2`.
I'll PR for this after the Korean version merged.

[2017-11-15 04:15] #1256 closed

[2017-11-15 04:16] flavono123 commented on #1256
Closing since #1257 is merged

[2017-11-17 04:48] SpyR1014 commented on #1251
Finished! The pull request is ready to be reviewed!!! :)

[2017-11-17 04:48] #1251 closed

[2017-11-19 04:21] lithiumpie opened #1264 "[TW] Traditional Chinese Translations"
Get Involved!
---
We are seeking **Traditional Chinese** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.

- Set up
  - [x] _config.yml
  - [x] index.md

- Basics
  - [x] Basics
  - [x] Collections
  - [x] Enum
  - [x] Pattern Matching
  - [x] Control Structures
  - [x] Functions
  - [x] Pipe Operator
  - [x]

[2017-11-19 04:35] lithiumpie commented on #1264
#1263 Initial zh-tw translation @cizixs @yuchunc @taiansu

[2017-11-19 17:05] doomspork commented on #1264
This is wonderful!  Thank you @lithiumpie.  Let me know if there's anything you need help with 😁

[2017-11-20 16:05] guilhermelazzari opened #1265 "[PT] Update GenStage lesson"
This lesson needs to be updated according to Elixir format tool. See #1242

[2017-12-07 15:55] picandocodigo opened #1276 "Suggestion for Process Linking lesson"
Reading through [Process Linking](https://elixirschool.com/en/lessons/advanced/concurrency/#process-linking), I found the example code about trapping the exits confusing at first. I didn't know if `:trap_exit` was being defined or was a standard Elixir thing or something else. I did some reading on Elixir's documentation, and maybe this is what the lessons are trying to encourage (there's nothing

[2017-12-09 17:53] doomspork commented on #1276
@picandocodigo would you please open a PR with this change?

[2017-12-09 22:56] picandocodigo commented on #1276
@doomspork done! 🤘

[2017-12-10 02:02] #1276 closed

[2017-12-13 16:06] flavono123 opened #1278 "Fix the command in Repository section of Ecto"
Following [the Ecto lesson](http://elixirschool.com/en/lessons/specifics/ecto/#repository), I've got this error:
[code]

When I run with `-r ExampleApp.Repo`, it works:
[code]
`mix ecto.gen.repo` ➡️ `mix ecto.gen.repo -r ExampleApp.Repo`(or `mix ecto.gen.repo -r <ProjectName>.Repo`)
May I fix it? 🤔

[2017-12-13 18:48] doomspork commented on #1278
@flavono123 hello and welcome!  Please do submit a fix for this 👍  If you'd like to go ahead and apply it to the translations that would be spectacular!

[2017-12-23 13:23] nsuchy opened #1282 "Language defaults to "tw" on Safari/Webkit Browsers"
When loading ElixirSchool directly from https://elixirschool.com/ I'm always redirected to https://elixirschool.com/tw/, I've cleared cookies/cache to ensure this isn't a me issue. Thoughts?

[2017-12-23 14:52] guilhermelazzari commented on #1265
Fixed by #1253.

[2017-12-23 14:52] #1265 closed

[2017-12-23 17:19] jhsbeat opened #1284 "Translations Update `ko/lessons/advanced/concurrency.md`."
PR #1283 molded some sentences to clear explanation for spawn linkage on concurrency chapter.

## Translation
Translation progress:

- [x] ko /cc @devleoper

Other languages don't need to follow the progress.

[2017-12-24 07:18] mikey0000 commented on #1282
seconding, happening to me on Firefox linux. [en-GB, en, en-NZ]

[2017-12-25 07:40] lithiumpie commented on #1264
#1285 [TW] Translation Finish of Basics Section @doomspork @cizixs
Happy New Year 2018 & Merry Christmas, Amigo.
After this PR, All Basics Lessons are completed.

[2017-12-25 09:43] nscyclone commented on #1282
Thanks for the report, I think that #1286 should fix the issue. Merry Christmas!

[2017-12-25 13:48] eksperimental commented on #1282
@nscyclone this issues goes deeper thah this, i see many TW and at least a TR lesson that left the redirect_from info from the English version lessons. I think a comment must be added to remove that directive when translating lessons, and all redirects in recently translated lessons should be removed ASAP.
Additionaly if we are using a continuous integration system, a check should be added somehow

[2017-12-25 13:57] eksperimental commented on #1264
TW is not a valid language code. I highly suggest to use zh-tw as the code, and rename and move to a zh-tw dir

[2017-12-25 13:58] eksperimental commented on #1264
We may also want to add to instructions that when adding a.new language extract the language code from a link, maybe a wikipedia article.

[2017-12-25 14:39] nscyclone commented on #1282
Great point, thanks, @eksperimental! I've updated #1286 recently.

[2017-12-25 15:06] eksperimental commented on #1282
Looks great. By adding a comment i mean to add it to every single English lesson that uses redirectfrom. People translating new lessons of an exisiting language are not likely to read the cobtributing file,  so i would recommend them

[2017-12-25 15:07] eksperimental commented on #1282
(oops. Hit the wrong button)
So i would recommend to include it in every lesson

[2017-12-25 15:25] eksperimental commented on #1282
Another solution will be to use a direfent way of redirecting, maybe a different plug-in which allows us to set all redirects in one file therefore removing the noise from all the english lessons.

Regardless the path we choose I would remove the redirect_from directive in en/index.md and create /index.md with a redirect_to pointing to en/index.md. sin e this is a  very imoortant page i think it i

[2017-12-26 00:23] lithiumpie commented on #1264
@doomspork @cizixs
I agree to use the specific language code, zh-tw. The reason that I choose TW because only 2 characters were named for language code before.

[2017-12-26 00:57] lithiumpie commented on #1282
Same here. I do translation with my local files and check the output locally. I thought that just my system's problem in the first. I will remove every redirect_form my last PR. I am new to Rails and Jekyll framework so I do not know that what it will cause. :innocent:

[2017-12-26 09:57] devleoper commented on #1284
참여해 주셔서 감사합니다! 이슈 트래킹에는 영어판에서 추가되거나 변경된 레슨을 다른 언어에 적용하거나 한 언어를 새로 번역하는 것처럼 긴 프로젝트를 기록하고 새로 오시는 분들이 찾기 쉽도록 하는 목적이 큰 것 같아서 PR 하나는 바로 @elixirschool/korean 을 멘션해주시면 리뷰하고 머지할 때 조금 편안하실 거예요. 아무튼 감사합니다!

tl;dr: Anyway, thank you for countributing to make Korean translation better! :tada:

[2017-12-26 09:57] #1284 closed

[2017-12-26 22:36] doomspork commented on #1282
I'm working with @burden on a new layout for the site and I'd like to improve the flow of things as part of that.  I for one don't really like that going to www.elixirschool.com redirects you to www.elixirschool.com/en, I think there's a better solution out there.  We just need to find it 😁

[2017-12-26 22:37] doomspork commented on #1264
Thank you @eksperimental and @lithiumpie.  I'm just getting back from my holiday so I'll look into updating the language codes this week 👍

[2017-12-27 02:04] eksperimental commented on #1282
I don't think the issue has been solved completely, i would leave it open or create a new issue regarding the issue with redirect-from

[2018-01-06 07:44] gimKondo opened #1293 "Japanese translation for lesson/advanced/behaviours"
Now, there is no Japanese translation for lesson/advanced/behaviours.
I added that. I'll send pull request later.

[2018-01-06 19:05] pragmaticivan opened #1295 "[PT] Keep up with current state for Portuguese"
met## Básico
- [x] Básico
- [x] Coleções
- [x] Enum - @pragmaticivan
- [x] Pattern Matching - @brunoliveira8
- [x] Estruturas de Controle - @pedrosnk
- [x] Funções - @jrichocean ~~#1302~~
- [x] Operador Pipe - @jrichocean ~~#1302~~
- [ ] Composição - @pedrosnk #1300
- [x] Mix - @pedrosnk ~~#1301~~
- [ ] Sigils - @jrichocean
- [ ] Documentação - @jrichocean
- [ ] Testando - @renatosuero
- [x] Compr

[2018-01-07 20:00] pragmaticivan commented on #1295
basic - enum (https://github.com/elixirschool/elixirschool/pull/1297/files)

[2018-01-08 17:22] brunoliveira8 commented on #1295
basic - pattern matching (https://github.com/elixirschool/elixirschool/pull/1298)

[2018-01-08 18:02] pedrosnk commented on #1295
basic - Estruturas de Controle

[2018-01-08 19:45] doomspork commented on #1295
Thank you @pragmaticivan, @brunoliveira8, @pedrosnk for helping ❤️

[2018-01-08 23:35] jrichocean commented on #1295
I can do basic - pipe operator & functions

[2018-01-09 00:00] doomspork commented on #1295
That would be wonderful @jrichocean 😁

[2018-01-09 05:55] #1293 closed

[2018-01-09 05:55] riseshia commented on #1293
Thanks!

[2018-01-09 05:56] doomspork commented on #1293
Thank you @riseshia 😁

[2018-01-09 13:20] mememori commented on #1295
I can translate:

- Interoperabilidade com Erlang
- Concorrência
- Concorrência OTP
- Supervisores OTP
- Ecto
- Erlang Term Storage (ETS)
- Poolboy

Bind them to me, i'll take a look at those in the following weeks

[2018-01-09 14:36] pragmaticivan commented on #1295
That's cool! Thanks @mememori !

[2018-01-09 15:39] renatosuero commented on #1295
I can do Testando

[2018-01-09 15:40] pragmaticivan commented on #1295
Thanks @renatosuero !

[2018-01-09 16:02] jrichocean commented on #1295
I can do Basic: Sigils, Composition, and Documentation.

[2018-01-09 16:05] brunoliveira8 commented on #1295
Mix is updated. https://github.com/elixirschool/elixirschool/pull/1301

[2018-01-09 16:07] brunoliveira8 commented on #1295
I can do Basic: Strings and Tarefas Mix Customizadas.

[2018-01-09 17:40] #1109 closed

[2018-01-09 20:16] renatosuero commented on #1295
I will do Specifics Eex

[2018-01-09 20:19] pragmaticivan commented on #1295
Nice, thanks @renatosuero !

[2018-01-10 21:09] thiamsantos commented on #1295
advanced - metaprogramming #1306

[2018-01-15 06:12] 9mm commented on #1029
I'd like to add to this that it looks like the syntax for doing a proper supervisor changed after 1.5, and the method mentioned in this whole section is deprecated (anything with `import Supervisor.Spec` if I'm not mistaken).

I'm super confused trying to find a new/good example that isn't this really complicated docs page...https://hexdocs.pm/elixir/master/Supervisor.html

[2018-01-15 08:53] gemantzu opened #1310 "Exercises"
How would you all like the idea of adding some exercises in each lesson? I feel that without them we are somewhat incomplete as a `school`. I don't think we should include the answers though, this would add some value to the slack channel ;)

[2018-01-15 14:04] arjun289 commented on #1310
Building that would take quite some time. It would be cool if it's linked to [`exercism.io`](http://exercism.io) for now. Just a suggestion.

[2018-01-15 16:11] #1278 closed

[2018-01-19 17:12] doomspork commented on #1310
@gemantzu I would love to add exercises without linking out to external sites. A couple of things we could do:

+ Continue to add exercises like we did in the String lesson: https://elixirschool.com/en/lessons/basics/strings#exercises
+ Evaluate something like Elixir Playground or other in-browser solutions.

In addition to individual lesson exercises I want to look at a whole new section: Basics,

[2018-01-23 03:42] marocchino opened #1322 "Change Japanese language code to "ja""
Actually jp is country code.

It is not conflict with other langs but, still wrong.

- set redirect_from
- rename folders
- modify some settings.

Note that #1255 has effected by this changes.

related #1109

ref: https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes

[2018-01-23 14:57] renatosuero commented on #1295
The link https://elixirschool.com/pt/lessons/specifics/eex/ has a problem, eternal redirect.

[2018-01-23 14:58] brunoliveira8 commented on #1295
basics - mix tasks https://github.com/elixirschool/elixirschool/pull/1321

[2018-01-24 07:44] gemantzu commented on #1310
That's exactly what I think. We should not have to leave the site to do some exercises, after all exercism is a solution that is usefull after you have learned quite a lot of the language, not something you can do after reading on a specific topic of elixirschool. I don't know about in-browser solutions, how can something like this be integrated with jekyll?

Also, projects section cannot come soo

[2018-01-25 00:17] eksperimental commented on #1295
I have just renamed the title of the issue from PT-BR to just PT

[2018-01-30 20:43] #1322 closed

[2018-02-21 17:08] thiamsantos commented on #1295
basic - comprehensions #1338

[2018-02-21 17:15] thiamsantos commented on #1295
advanced - escripts #1339

[2018-02-21 17:56] thiamsantos commented on #1295
specifics - mnesia #1340

[2018-02-28 02:25] wilbertliu opened #1342 "Add Enum.filter to Basic Enum Page"
Hello folks 👋🏻,

Elixir School has been my go-to resource when I need to find something that I might be forgotten. Recently I wonder if there's a `filter` function on Enum and want to find its usage. After I went to the Basic Enum Page, I'm surprized because there's no `Enum.filter` section in it. That made me try to Google it because I'm not sure Elixir doesn't have such function, and found it af

[2018-03-02 15:39] ybur-yug2 commented on #1342
@wilbertliu good eye! [We have a contributing guide here](https://github.com/elixirschool/elixirschool/blob/master/CONTRIBUTING.md) and if you can get up and running PRs with improvements are welcome! I personally think its absolutely fitting and would be a good addition.

PS I'm actually @ybur-yug  and am currently just locked out of that account because of an email snafu :P

[2018-03-02 16:46] doomspork commented on #1342
@wilbertliu please do open a PR 👍

We're always happy to have community help in enhancing the resource 😁

[2018-03-04 02:38] Nao000 opened #1344 "update `specifics/plug.md`"
PR #1343  updated the plug.md section of the specifics/plug lesson to be a bit good.

[2018-03-12 13:16] wilbertliu commented on #1342
@ybur-yug2 Thanks for pointing that out. Will review the contributing guide then! 😀
@doomspork Sure thing Sean! Will seek a good time to do this. Thanks a lot!

[2018-03-16 06:53] wilbertliu opened #1350 "Add Enum.filter/2 in Translated Guides"
PR #1349 added the `Enum.filter/2` section into The Basic Enum page.

## Translation

Translation progress:

- [x]  en
- [x]  ru /cc @brain-geek / @nscyclone (#1370)
- [ ]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @edwinallenz
- [ ]  p

[2018-03-20 07:04] code-shoily commented on #970
I will be contributing with the translations from this weekend. I will start going from the beginning and expanding on some topics with additional definitions (for example, "Low Latency", "Fault Tolerant"), the old translations are more or less one-to-one mapping from English but I intend make it more literature friendly on this pass.

Wow it's been quite a long time since I last translated someth

[2018-03-20 13:38] chadoh opened #1355 "Code formatting for sigils not working"
On [the Sigils lesson](https://elixirschool.com/en/lessons/basics/sigils/):

<img width="749" alt="broken sigils color formatting" src="https://user-images.githubusercontent.com/221614/37657783-4ef042be-2c22-11e8-8363-4eddb6e129b4.png">

For code newbies, that formatting is going to make their eyes look in all the wrong places.

How complex is fixing this? Can I help?

[2018-03-20 14:20] nscyclone commented on #1355
Hi, @chadoh, thanks for pointing that out!
We use [`rouge`](https://github.com/elixirschool/elixirschool/blob/master/_config.yml#L27) as a highlighter. It seems like several gems we use are [a little outdated](https://github.com/elixirschool/elixirschool/blob/master/Gemfile.lock#L20-L30). Jekyll allows to [use `rouge 2.0` since 3.6.0](https://github.com/jekyll/jekyll/releases/tag/v3.6.0).

<detail

[2018-03-21 03:58] chadoh opened #1358 "en/basics/iex-helpers: `s` not working as advertised"
The [lesson](https://elixirschool.com/en/lessons/basics/iex-helpers/#s):

[code]

IRL:
[code]

[2018-03-21 06:36] nscyclone commented on #1358
Hi, @chadoh, thanks for reporting that!
Since release [1.6.0](https://github.com/elixir-lang/elixir/releases/tag/v1.6.0) information about type specifications for functions and macros is provided by `h`, `s` has been removed. The lesson should be updated accordingly. Would you like to take care about it?

[2018-03-21 13:24] chadoh commented on #1358
Yes, I can take care of it!

[2018-03-21 19:19] #1358 closed

[2018-03-21 19:42] doomspork commented on #1355
@nscyclone I'm all for bumping the dependencies if it doesn't break anything 👍

[2018-03-23 22:25] #1355 closed

[2018-03-27 15:41] eksperimental opened #1366 "Correct language code for Chinese/Mandarin translation"
cn is the code for CHINA, but not for the language. Zh is.
I am not sure if we should go with a code for traditional and simplified chinese, instead of one that represent the countries such as zh-CN and zh-TW as these languages are used outside of Taiwan and mainland China

[2018-03-27 23:16] burden commented on #1366
Went ahead and removed :cn in the PR for now.

@doomspork do you have any input on the sample code for the front page? was it simplified or traditional?

[2018-03-27 23:22] doomspork commented on #1366
I'm 80% sure it's simplified.  The traditional stuff came much later.

[2018-03-28 12:23] jordan-brough opened #1368 "Update text for function clause pinning in Translated Guides"
PR #1367 adds an extra note to the section on function clause pinning.

# Translation

Translation progress:

- [x] en
- [ ] ru /cc @brain-geek / @nscyclone
- [ ] ko /cc @devleoper
- [ ] jp /cc @3100
- [ ] no /cc @therobinsj
- [ ] pl /cc @Koziolek
- [ ] sk /cc @michalvalasek
- [x] fr /cc @julienXX
- [ ] cn /cc @cizixs
- [ ] es /cc @aleandros / @jonahoffline / @edwinallenz
- [ ] pt /cc @pragmaticiv

[2018-03-29 12:15] chuckhousley commented on #1029
The Ecto page also uses the Supervisor.Spec module.  Should the examples be rewritten completely or should there be code snippets for pre-v1.5 like in the [ecto docs](https://github.com/elixir-ecto/ecto/blob/master/guides/Getting%20Started.md#adding-ecto-to-an-application)?

[2018-03-30 15:25] doomspork commented on #1029
@9mm and @chuckhousley we should update the code to reflect the newer syntax. Would one of you like to take the lead on that?

[2018-03-30 16:14] chuckhousley commented on #1029
If there are no objections I'd like to take it

On Fri, Mar 30, 2018, 10:25 AM Sean Callan <notifications@github.com> wrote:

[2018-03-30 16:15] 9mm commented on #1029
@chuckhousley  its all you

[2018-03-30 21:25] doomspork commented on #1029
Thank you both!

[2018-04-03 09:56] xareelee opened #1380 "Add the version info in the left panel"
Hi, I think adding the version info for this tutorial in the left panel is a good idea, doesn't it?

When I read this tutorial, I'm not sure which version of Elixir this tutorial teaches.

Maybe we can provide a tutorial list for the different versions of Elixir.

[2018-04-03 22:30] thiamsantos commented on #1295
advanced - umbrella projects #1381

[2018-04-04 00:07] eksperimental commented on #926
I would like to say that this feature would be ideal to submit a small correction, such as a typo or something wrong with the code. That way it will not bypass the CONTRIBUTING file

[2018-04-04 16:24] thiamsantos commented on #1295
libraries - guardian #1383

[2018-04-05 03:17] lithiumpie commented on #1264
@doomspork @cizixs
Advanced lessons Translation from 1.erlang to 12.protocols.
#1384

[2018-04-05 16:42] doomspork commented on #1380
Sounds like a good idea @xareelee 👍

[2018-04-06 06:22] BEaStia opened #1386 "Broken images links"
Hello! I've found that some image links are broken and tried to fix it in [PR](https://github.com/elixirschool/elixirschool/pull/1385)

In English version in `debugging` section there're some screenshots:
<img width="788" alt="2018-04-06 9 18 51" src="https://user-images.githubusercontent.com/2078466/38406003-a70f73aa-397b-11e8-9e64-335dde4085d1.png">

But in Russian version they look like:
<img w

[2018-04-10 15:41] doomspork commented on #1386
Thank you for taking the initiative to fix this @BEaStia 😁

[2018-04-10 15:41] #1386 closed

[2018-04-16 11:45] snamiki1212 opened #1389 "[JA] Typo in otp-concurrency.md"
hi.
There is one typo function name in otp-concurrency.md[ja].

[2018-04-16 12:09] #1389 closed

[2018-04-20 20:06] eksperimental commented on #1368
In my opinion should have updated the version number of the lesson. That way it would have been easier for translators to find out the new addition

[2018-04-20 20:14] doomspork commented on #1368
@eksperimental that's a good idea.  We can bump the lesson version

[2018-04-23 04:54] gimKondo opened #1394 "[JA] Translation mistake at comprehensions"
There is a translation mistake at comprehensions.

At the explanation of `:into`, it's described as `マップからキーワードリストを作成しましょう` .
In fact, original sentence is `let's create a map from a keyword list` .

So, `キーワードリストからマップを作成しましょう` is right.

/cc @elixirschool/japanese

[2018-04-23 06:03] eksperimental commented on #1344
The PR was closed, so I'm closing this one as well

[2018-04-23 06:03] #1344 closed

[2018-04-23 06:04] #1342 closed

[2018-04-23 06:10] eksperimental commented on #1183
ping

[2018-04-23 06:32] eksperimental opened #1397 "Deal with redirect_from directive in a better way"
When we decided to move English language lessons from https://elixirschool.com/lessons/ to https://elixirschool.com/en/lessons/
we added the `redirect_from` directive to every lesson.
for example
`en/lessons/advanced/typespec/` has this frontmatter:
[code]

the problem with this is that when people translate the page, they leave that as it is, and there is one URL that redirects to two different l

[2018-04-23 06:45] eksperimental commented on #355
I have checked the missing lessons and it is all complete, closing this ISSUE in favour of https://github.com/elixirschool/elixirschool/issues/1295

[2018-04-23 06:45] #355 closed

[2018-04-24 21:59] doomspork commented on #1397
Thanks for bringing this up @eksperimental.  I think #3 would be the easiest.  If we want an excuse to write some Elixir an MVP review bot could check for `redirect_from` and `version` updates (or lack thereof).

[2018-04-24 22:00] #1394 closed

[2018-04-25 01:55] eksperimental commented on #201
Should we close this issue since all tasks have been completed?

[2018-04-25 02:02] #201 closed

[2018-04-25 07:44] nscyclone commented on #1397
Since only the old English lessons require redirects maybe it makes sense to use `redirect_to` in the former paths instead? Then the lessons themselves won't have any unrelated parts in front matter and there would be nothing to be accidentally copied into translations.

[2018-04-25 12:25] eksperimental commented on #1397
True! why haven't we thought of that before

[2018-04-25 23:50] doomspork commented on #1310
@gemantzu do you want to move ahead with this?

[2018-04-26 02:34] eksperimental commented on #1397
I will tackle this

[2018-04-26 03:11] doomspork commented on #1397
Wonderful, thank you @eksperimental!

[2018-04-26 04:07] eksperimental commented on #1039
Should we close this issue? It's been a year and there is not foreseeable implementation

[2018-04-26 04:09] #1039 closed

[2018-04-26 04:12] eksperimental commented on #947
Only 5 languages left to close this issue
[code]

/cc @elixirschool/chinese @elixirschool/indonesian @elixirschool/portuguese @elixirschool/vietnamese

[2018-04-26 05:14] eksperimental commented on #947
Could you guys translate this into your language:

the rest is already being taken care of in [here](#1412)

here are the old lines, for reference:
- Chinese: 这节课，我们主要讲两个东西：Genservers 和 GenEvents。
- German: In dieser Lektion werden wir uns hauptsächlich mit zwei wichtigen Teilen beschäftigen: GenServers und GenEvents.
- Indonesian: Dalam pelajaran ini kita akan fokus pada dua bagian penting: Gense

[2018-04-26 10:58] anderkonzen commented on #947
Regarding the Portuguese translation, there you go:

[2018-04-26 16:11] doomspork opened #1414 "Page dedicated to contributors"
It would be nice to have a complete list of contributors to the project for people to browse.  I threw together a quick (and admittedly not great) Elixir script to figure that out for us: https://gist.github.com/doomspork/2edf3e64ae229beacccb694cf9191969

There's handful (< 6) users who've deleted their accounts and were pushed into the `"missing_author"` group.  I'll manually work through those.

[2018-04-26 16:39] doomspork commented on #1414
Should be allow contributors to link to their GitHub, LinkedIn, etc?

![image](https://user-images.githubusercontent.com/73386/39319367-17bee91a-493e-11e8-9157-8ffdc9bf8b85.png)

[2018-04-26 16:41] doomspork commented on #1414
@wilbertliu I believe you suggested a page like this too, I'd love to get your feedback 👍

[2018-04-26 16:43] doomspork commented on #1414
Additionally, should we include the role the contributor played? ie:

+ 2015-12-02 - 3100 (Japanese Translator)
+ 2016-02-19 - brain-geek (Russian Translator)

[2018-04-26 17:27] pjhampton commented on #1414
I think linking to Github would be more than enough, everybody has one and might not have a linkedin 😀

[2018-04-26 18:39] doomspork commented on #1414
@eksperimental I think that's a fair piece of feedback.  I could amend my script (https://gist.github.com/doomspork/2edf3e64ae229beacccb694cf9191969) to look at some of their contributor stats.

What would be a good threshold to start?

[2018-04-26 19:32] eksperimental commented on #1414
Sort by numbers of lines edited

Something like https://stackoverflow.com/questions/2731283/git-is-there-a-way-to-view-the-number-of-lines-committed-by-author

[2018-04-27 02:09] #1414 closed

[2018-04-27 07:58] wilbertliu commented on #1414
@doomspork Oh, it's been closed already? What a quick move! 😀
I personally think that it's better to show a person with his/her profile picture and linked to GitHub account instead to simplify the options.

And of course the page shouldn't show everyone at the beginning. Would be great to show people by category (only few of them ranked by contributions), and there should be "more" button or somet

[2018-04-27 14:31] doomspork commented on #1414
I'll admit I _hate_ user submitted content (like profile pictures) because it falls on my shoulders to police things.  Over the short life of Elixir School you'd be shocked at the kind of complaints (and messages in general) I've received — it's shocking.

@wilbertliu would you be able to help me implement that feedback?  😁

[2018-04-28 04:58] eksperimental commented on #1366
We should go with `zh-Hans` for Simplified Chinese (currently `cn`) and with `za-Hant` for Traditional Chinese (currently `tw`) if we want to be correct about the codes

source: https://stackoverflow.com/questions/4892372/language-codes-for-simplified-chinese-and-traditional-chinese

[2018-04-28 05:10] doomspork commented on #1366
@eksperimental PR #1423 has that change 👍

[2018-04-28 05:16] doomspork opened #1424 "Tracking translation changes"
This doesn't need to be a lengthy conversation, I'd like to get a quick poll on how useful folks find these Issues given the versioning system we have in place:

- https://github.com/elixirschool/elixirschool/issues/956
- https://github.com/elixirschool/elixirschool/issues/947
- https://github.com/elixirschool/elixirschool/issues/922
- https://github.com/elixirschool/elixirschool/issues/921
- http

[2018-04-28 05:25] doomspork commented on #1010
I'm going to close this since it's been almost a year.  @code-shoily if you'd like to make the change a PR would be welcomed 👍

[2018-04-28 05:25] #1010 closed

[2018-04-28 05:26] doomspork commented on #926
@pragmaticivan / @eksperimental are either of you interested in implementing this?  If not, let's close the issue for now 👍

[2018-04-28 05:38] #278 closed

[2018-04-28 05:39] doomspork commented on #774
Been over a year so I'm closing this for now.  Still open to new lessons or even blog posts if the content doesn't warrant a whole lesson 😁

[2018-04-28 05:39] #774 closed

[2018-04-28 05:40] eksperimental commented on #926
We have something similar in the Elixir website. I can try to copy that here, so if in a month's time this feature is not submitted, please close this issue (if nobody else took implemented this before)

[2018-04-28 05:40] doomspork commented on #619
This is definitely something we'd like to continue to pursue, conversation is continuing here #1310

[2018-04-28 05:41] doomspork commented on #399
Closing this as the conversation has resumed here #1310

[2018-04-28 05:41] #399 closed

[2018-04-28 05:41] doomspork commented on #926
Thank you @eksperimental ❤️

[2018-04-28 05:43] eksperimental commented on #1424
I think they are useful when a new language is starting and you need help, and visibility.
I think it's a pain on the neck to have one issue of this for every update on the lessons.

The thing is that, for the time being, there are no other methods to let people now about the updates

[2018-04-28 05:44] eksperimental commented on #926
it will probably take way less cuz it looks easy

[2018-04-28 07:53] pjhampton commented on #624
Woah, looks like I'm only a year and a bit late 😆
For sure, this would be a good way of coming back to the project!

[2018-04-28 08:03] nscyclone commented on #1424
They are pretty useful for translating to a new language for preventing people from doing the same work twice. But it doesn't look like issues with the recent changes waiting for translations do their work. There are a lot of them hanging for a long time without any serious progress.
In my opinion, the versioning system seems sufficient for finding out _what has become outdated_, but unfortunately

[2018-04-28 15:40] doomspork commented on #1424
With plugs and versioning I feel like we should be able to generate some sort of report on what lessons are out-of-date and maybe even attempt to diff the English lesson between that version and the current?

[2018-04-28 15:44] gemantzu commented on #1424
I tried to solve this a while back. My thought at the time was to make a report in the homepage of each translation on what needed attention. But I lost track of what I was doing due to heavy work load at the time and it stagnated. Is this what you are talking about?

[2018-04-28 19:27] #1183 closed

[2018-04-29 07:27] wilbertliu commented on #1414
@doomspork Oh really? 😀 Which of the feedbacks anyway? I doubt I have some spare time next week, but next 2 weeks probably.

[2018-04-29 10:34] gemantzu commented on #1310
Yes I do, please review my efforts when I am done :)

[2018-04-29 10:41] gemantzu commented on #624
I think this would be a great opportunity on a first take on projects (and how to tdd one with ExUnit). Opinions?

[2018-04-29 10:43] gemantzu commented on #1032
I will take a hit on this.

[2018-04-29 14:04] eksperimental commented on #624
Unit tests are so common and important that they definitely neednto have a lesson, IMO

[2018-04-29 15:54] doomspork commented on #1414
@wilbertliu ☝️

[2018-04-29 16:10] doomspork commented on #1310
Wonderful @gemantzu!  I started on something last night I'm anxious to share with you.  I will hopefully wrap it up today or early this week 👍

[2018-04-29 16:11] doomspork commented on #624
@gemantzu I'm not sure that would fit well within the Elixir School lessons _but_ that could make for a good series of blog posts outlining how to plan, design, develop, and test an Elixir application.

[2018-05-03 15:17] TrailingDots opened #1429 "Improve Elixir School front contrast"
While I am interested in reading Elixir School material, I find that reading
this material for a period of time invites eye strain.

As a software professional, I spend more than 8 hours per day reading
computer screens. I like my career choice a lot and want to improve my
internal worth of software by expanding and building upon my Elixir
skills.

However, the gray fonts in Elixir School need to

[2018-05-03 21:30] doomspork opened #1432 "New Jekyll plugin to generate translation boilerplate"
https://jekyllrb.com/docs/plugins/#commands

[code]

[2018-05-03 21:31] doomspork commented on #1429
Hi @TrailingDots

We love to get feedback from Elixir School users.  One of the reasons folks have found Elixir School to be enjoyable and useful is because it's a product of many people's efforts, much like the new site design.  While I understand your sentiment that it isn’t intended to be pretty, the individual contributors have asked for a more professional and cleaner site for some time to be

[2018-05-03 21:36] doomspork commented on #1429
@TrailingDots I've gone ahead and assigned this particular issue to you so you get first dibs!  Feel free to ping me when you've got a PR ready and we're get it reviewed ASAP.

Thanks again for getting involved!

[2018-05-07 18:12] doomspork commented on #1424
Now that the translation report has been rolled out how do you folks feel about closing the existing issues?

[2018-05-07 18:17] #921 closed

[2018-05-07 18:17] #922 closed

[2018-05-07 18:17] #947 closed

[2018-05-07 18:17] #956 closed

[2018-05-07 18:17] #970 closed

[2018-05-07 18:17] #1019 closed

[2018-05-07 18:17] #1025 closed

[2018-05-07 18:17] #1043 closed

[2018-05-07 18:17] #1165 closed

[2018-05-07 18:17] #1219 closed

[2018-05-07 18:17] #1264 closed

[2018-05-07 18:17] #1295 closed

[2018-05-07 18:17] #1350 closed

[2018-05-07 18:17] #1424 closed

[2018-05-07 18:17] #480 closed

[2018-05-07 18:17] #481 closed

[2018-05-07 18:17] #583 closed

[2018-05-07 18:17] #598 closed

[2018-05-07 18:17] #608 closed

[2018-05-07 18:17] #700 closed

[2018-05-07 18:17] #701 closed

[2018-05-07 18:17] #711 closed

[2018-05-07 18:17] #750 closed

[2018-05-07 18:17] #756 closed

[2018-05-07 18:17] #772 closed

[2018-05-07 18:17] #785 closed

[2018-05-07 18:17] #809 closed

[2018-05-07 18:17] #830 closed

[2018-05-07 18:17] #834 closed

[2018-05-07 18:17] #850 closed

[2018-05-07 18:17] #855 closed

[2018-05-07 18:17] #856 closed

[2018-05-07 18:17] #884 closed

[2018-05-07 18:17] #920 closed

[2018-05-07 18:18] #453 closed

[2018-05-07 18:18] #642 closed

[2018-05-07 18:18] #654 closed

[2018-05-07 18:18] #667 closed

[2018-05-07 18:18] #679 closed

[2018-05-07 18:18] #680 closed

[2018-05-07 18:18] #691 closed

[2018-05-07 18:19] #366 closed

[2018-05-07 18:19] #529 closed

[2018-05-07 18:19] #574 closed

[2018-05-07 18:19] #200 closed

[2018-05-07 18:19] #216 closed

[2018-05-07 18:19] #220 closed

[2018-05-07 18:19] #223 closed

[2018-05-07 18:19] #49 closed

[2018-05-07 18:19] #72 closed

[2018-05-07 18:19] #196 closed

[2018-05-07 18:19] #197 closed

[2018-05-07 18:20] #38 closed

[2018-05-07 18:20] doomspork commented on #1032
Closing this since we have the translation report now.  I am open to creating labels if we deem it necessary going forward 👍

[2018-05-07 18:20] #1032 closed

[2018-05-07 18:20] #1368 closed, assigned to nobody

[2018-05-07 18:25] doomspork commented on #1310
@gemantzu please help! 😁

Open issues for new challenges so we can discuss them 👍

[2018-05-07 18:25] #1310 closed

[2018-05-08 15:59] gemantzu opened #1440 "bogus /blog link in the layout"
Currently, the Blog link in the layout does not work.

[2018-05-08 16:34] #1440 closed

[2018-05-10 21:33] #768 closed

[2018-05-22 16:38] brain-geek commented on #585
I think this should be closed, as changes are already implemented and merged in #686 .

Fell free to reopen it if it's still an issue.

[2018-05-22 16:38] #585 closed

[2018-05-25 14:39] nscyclone opened #1452 "Should version severity captions in translation reports be translated?"
The question is pretty simple:

<details>
<summary>should this</summary>

![current](https://user-images.githubusercontent.com/5345029/40549873-45851a94-6041-11e8-89f5-592def59b981.png)

</details>

<details>
<summary>look this way?</summary>

_using an existing translation for different severity levels:_

![proposed_translated](https://user-images.githubusercontent.com/5345029/40549966-8264cdec-6

[2018-05-26 03:54] eksperimental commented on #1452
+1 with detailed.
Plus having patch, none, minor, major in English makes no sense in other languages

[2018-05-28 15:34] gemantzu commented on #1452
To be honest with you, I don't like either of these. I think as @eksperimental said, it makes no sense for translations now as it is, but if we make it full text it will be cluttered with text that's pretty much the same. I guess I would like it better if there was only the bullet, which on mouse over would have the text shown. What do you think?

[2018-05-28 23:53] doomspork commented on #1452
I'm 💯 onboard with this change @nscyclone!  Let's do it 👍

[2018-05-28 23:53] #1452 closed

[2018-05-29 08:12] nscyclone commented on #1452
@gemantzu I considered your approach before and I find it a good option. Once the meaning of the bullet color is known, there is no sense to constantly see repeating description next to it.
Previous changes were merged already so I've proposed a new PR (#1455) that implements aforementioned approach .

[2018-05-30 06:49] gemantzu commented on #1452
I will check it out when I get back from work :)

[2018-06-01 16:31] brain-geek commented on #487
Solved in #1458

[2018-06-01 16:31] #487 closed

[2018-06-01 18:03] #1282 closed

[2018-06-01 18:03] #1397 closed

[2018-06-01 19:35] nscyclone commented on #1366
Reslolved in #1423.

[2018-06-01 19:35] #1366 closed

[2018-06-01 20:28] brain-geek commented on #1015
@doomspork Yeah, I can work on it. Though I expect first version to be quite short. 😄

[2018-06-12 15:49] heri16 commented on #487
Thanks @brain-geek !

[2018-06-21 00:09] sotojuan opened #1465 "Add dark theme"
Would be great to add a toggle for a dark theme. I'm not a designer not good with colors but would be happy to implement the actual toggle button and behavior.

[2018-06-21 00:27] doomspork commented on #1465
Hello @sotojuan!  This is something I think a great deal of people would love to have.  @burden and myself have discussed this a bit but have never come to a consensus on approach.  If you have any thoughts or could point us towards any projects you think might be useful, that would be tremendously helpful!

[2018-07-05 19:10] nsuchy opened #1467 "Whitelist Tor on Cloudflare?"
When accessing the site from Tor I am constantly captch-ed. Would the project consider whitelisting Tor traffic or at least switching to the "Javascript Captcha" instead?

[2018-07-05 21:34] burden commented on #1467
We'll see about getting that worked out. Thanks for the heads up @nsuchy.

[2018-07-06 00:49] doomspork commented on #1467
@nsuchy it should be done, can you let me know?

[2018-07-06 14:56] nsuchy commented on #1467
<img width="1280" alt="screen shot 2018-07-06 at 10 55 07 am" src="https://user-images.githubusercontent.com/8227641/42385547-14476a32-810b-11e8-86f4-c6c1cfc7118c.png">
Works for me 😄 Thank you for resolving that ❤️

[2018-07-06 15:03] #1467 closed

[2018-07-06 21:28] sawthinkar opened #1468 "Language code conflict (my: "ms")"
Language code conflict in _data/redirects.yml.
According to the list in https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes, 'my' is for Burmese and 'ms' is for Malay.

[2018-07-07 01:41] doomspork commented on #1468
@sawthinkar this is intentional due to a previous mistake with these codes.  Are you trying to contribute the Burmese lessons?

[2018-07-07 01:53] sawthinkar commented on #1468
Yes, I am. Thanks.

[2018-07-07 01:57] doomspork commented on #1468
@sawthinkar when you make your first commit we can remove the redirect 👍

[2018-07-07 02:02] #1468 closed

[2018-07-07 17:36] pjhampton commented on #624
It looks like there is an exunit lesson here already: https://elixirschool.com/en/lessons/basics/testing/
I hadn't realized. @doomspork should we close this or do you have other ideas?

[2018-07-07 18:15] #624 closed

[2018-07-07 18:18] doomspork commented on #624
We can close this until we deem it necessary to expand on it 👍

[2018-07-07 21:35] andersoncardoso commented on #1429
I agree, the light gray fonts are hard to see.
For me to be able to read I have to edit the css, on the dev console, to
[code]
anyway, thanks for this project. Awesome job :+1:

### original
![elixirschool_light](https://user-images.githubusercontent.com/597026/42414791-c7a3d09e-8213-11e8-8faf-9a13efc6d403.png)

### contrast
![elixirschool_contrast](https://user-images.githubusercontent.com/597026

[2018-07-07 21:37] doomspork commented on #1429
@andersoncardoso this is great, would you care to open a PR?

[2018-07-15 16:58] #798 closed

[2018-07-30 19:50] notactuallypagemcconnell commented on #742
I think we can close this as its handled in in [composition](https://elixirschool.com/en/lessons/basics/modules/) @doomspork

[2018-07-30 23:58] #742 closed

[2018-07-31 07:14] nscyclone commented on #1429
Seems to be fixed in #1469. Thanks once again, @TrailingDots and @andersoncardoso!

[2018-07-31 07:14] #1429 closed

[2018-07-31 08:09] nscyclone opened #1476 "Include the current state of `_data/locales` in translation reports"
[`interlang`](https://github.com/elixirschool/elixirschool/blob/master/_data/interlang.yml) is a file containing translated language names that are used as [`title` for language links in the sidebar](https://github.com/elixirschool/elixirschool/blob/master/_includes/section-sidebar-langs.html#L6-L15). Currently we've no information about it anywhere so it remains unmaintained for a long period of

[2018-07-31 12:12] gemantzu commented on #1476
Hm, would it be sensible to put the content in the locales/lang.yml?

[2018-08-02 22:44] gemantzu opened #1479 "Last commit does not run properly on production"
It seems like the git command does not run at all. Thoughts?

[2018-08-09 09:58] Hugo-Hache opened #1481 "Ecto cast/4 misused"
The Ecto lesson tells that

 and in examples uses it like this

`|> cast(params, @required_fields, @optional_fields)`

However ecto/4 [documentation](https://hexdocs.pm/ecto/Ecto.Changeset.html#cast/4) refers the third parameter as permitted and the last as options. So I suppose the lesson should use it like this:

[code]

[2018-08-20 18:45] doomspork commented on #1481
@Hugo-Hache good catch, Ecto has changed since the lesson was written.  Would you be open to submitting a PR to update it?

[2018-08-20 18:46] doomspork commented on #1479
@gemantzu I will try to take a peek at this this week, but it may have to do with how Heroku clones the project.

ping @elixirschool/developers

[2018-08-21 13:52] #1481 closed

[2018-08-22 08:32] gemantzu commented on #1479
Oh the app is hosted on heroku? Idk if it is possible to work then... Does the dyno have git installed? Because it might be that the application is not available for the command to run.

[2018-08-22 21:59] doomspork commented on #1479
@burden think we could get Elixir School setup on a DO box w/ auto deploy?

[2018-08-24 07:55] nscyclone commented on #1476
Sorry for a late reply, @gemantzu.
I found your idea really great. Please take a look at #1488.
Actually it's not about `interlang` only, translation reports don't yet provide any infromation about `locales` as well. When all the configuration related to translation will be in a single file per language would be great to find a way to track its state in the report.

[2018-08-24 15:37] gemantzu commented on #1476
This is really good actually, all translation specific in one place. 👍
Regarding the locales files, I think that currently what we do might be sufficient enough for now (enforcing that all locale files are the same, I have been forced to do that from other ppl in ES in the past).
@doomspork your opinion?

[2018-08-24 16:55] doomspork commented on #1476
@gemantzu / @nscyclone I'm on board!  I merged #1488 👍

[2018-08-24 18:40] eksperimental commented on #1476
Please follow the discussion there as i have raised a concern

[2018-08-26 21:58] doomspork opened #1491 "New Content: Phoenix, Ecto, and OTP"
I'd like to begin expanding the lessons here to include three new categories: Phoenix, Ecto, and OTP.  We will relocate existing lessons to these sections where appropriate.

Some of the content we could cover in these lessons:

- Phoenix
  - [ ] SPA + API
  - [ ] Websockets
  - [ ] Application architecture
- Ecto
  - [ ] Getting started (re-purpose existing lesson)
  - [ ] Associations
- OTP
  -

[2018-08-26 22:07] gemantzu commented on #1491
Here are my thoughts:
1. Add a Nerves category (this is something I want to work on, so I will try and research for some lessons)
2. Phoenix: some stuff out of the top of my head - Getting started, Contexts, Plug (repurpose lesson), Presence, Channels, Assets (webpack now that Phoenix is heading that way).
3. Ecto will need some more love as well, but we will figure them as we go.

[2018-09-12 08:46] svileng commented on #1491
Hi all — I'm the author of [A brief guide to Ecto.Multi](https://medium.com/heresy-dev/a-brief-guide-to-ecto-multi-9c8ea0c729f0). I thought it might be a good fit for the ElixirSchool blog or a sub-section for Ecto if the language is changed a bit to match the existing style.

What do you think? I'd be happy to work on the updated version and submit a draft if there's interest.

[2018-09-30 20:17] doomspork opened #1519 "New Ecto Section & Lessons"
After many requests we've decided to proceed with a section dedicated to Ecto, going above and beyond our existing lessons.

Here are the current lessons and subsections we've come up with, these are fluid and open to discussion.  Ideally each lessons equates to a single PR so others may participate.

_New!_ __Ecto Section__

- [x] Basics (lesson)
  - What is Ecto?
  - What isn’t Ecto?
  - Overvie

[2018-09-30 20:33] gj commented on #1519
@doomspork to start, I'll split the Querying Data / Advanced Querying lessons with @notactuallypagemcconnell

[2018-10-01 06:04] jeremyjung commented on #1519
I can take the basics section.

[2018-10-02 09:46] svileng commented on #1519
I suspect it won't be much work for me to re-se my [short article on Ecto.Multi](https://medium.com/heresy-dev/a-brief-guide-to-ecto-multi-9c8ea0c729f0), just need to re-read it once again, make any changes if necessary and open a PR. Feel free to ping me if you don't see a PR by end of next week :)

A suggestion for the `Associations` chapter: working with embedded schemas. I remember I struggled

[2018-10-02 10:08] svileng opened #1524 "Question about licensing / copyrights"
First of all, I'm definitely not a lawyer and I'm not really a legal / licensing expert; I just wanted to raise some questions around the license and copyrights, so I can better understand how all written work is being published and distributed.

Currently, when you go to https://elixirschool.com/en the website says:

Does this mean that all content (including content contributed by others in the

[2018-10-02 14:09] doomspork commented on #1524
@svileng we operate similarly to Elixir Lang who's code is licensed under Apache 2.0 but everything else (branding, logos, et al) remains under my ownership for stewardship.

I will update the license filler (something GitHub should have done).  At this time I do not see a reason to change license.

We don't want people to "borrow" other content people have written and claimed it for their own.  T

[2018-10-02 14:09] #1524 closed

[2018-10-02 14:17] doomspork commented on #1519
@jeremyjung I think we can re-use some of our existing lesson and then delete it once yours is ready.  The new Ecto section will replace the single Ecto lesson by expanding on the content.

@svileng this is a great idea!  I've heard this same concern/confusion/issues from others.  Covering that would be awesome.  @notactuallypagemcconnell we briefly touched on this yesterday, would this be a secti

[2018-10-02 14:19] doomspork commented on #1524
@svileng you can email me directly to discuss this stuff further.  I have some ideas but I need to figure out things before we can proceed with big changes.

[2018-10-02 16:49] svileng commented on #1524
No problem, I'm happy to take this over email, but just wanted to say that we completely agree on the topic of plagiarism; when I said "anyone can copy, modify or build upon it" I meant it in the context of the CC BY-NC-SA 4.0 license, which states "You must give appropriate credit, provide a link to the license, and indicate if changes were made." etc.

Also I wholeheartedly support the project,

[2018-10-02 16:49] notactuallypagemcconnell commented on #1519
@doomspork I believe we can handle 'Querying Data' and 'Advanced Querying', then leave the rest up for grabs.

[2018-10-12 15:13] ChuckIrvine opened #1547 "Specify directory for Ecto migrations"
The lesson on Ecto migrations doesn't say where migration files should be placed. I never could figure this out and kept getting this error from "mix ecto.migrate":

[code]

[2018-10-13 19:52] SophieDeBenedetto commented on #1519
@doomspork I'd be happy to take the associations section if its still up for grabs

[2018-10-15 09:40] svileng commented on #1519
What do you think about moving the `Ecto.Multi` content from `Advanced Querying` to `Query Composition`? It's an odd one, since you can use for querying as well as create/update/delete or a mix of all of them.

[2018-10-15 18:54] doomspork commented on #1519
@svileng that's a good point, I think we should do that.  Thank you! 👍

[2018-10-16 01:01] burden commented on #1479
Fail. I'm just noticing this thread. If I may inquire, what prompted this issue? It seems to be deploying now. Was the issue solved @gemantzu / @doomspork?

RE: DigitalOcean, we could throw money at them, but we could also use Github Pages since we're probably gonna have to setup CI anyways. I can work towards that, if this is still a concern. LMK.

[2018-10-16 17:42] doomspork commented on #1479
@burden it deploys but this feature does not work.  I believe Heroku does a clean `git pull` and doesn't clone the entire history.  As such, this feature doesn't actually work as @gemantzu had intended.

[2018-10-17 11:15] svileng commented on #1519
Right, I'd like to reserve the `Changesets` chapter, expecting to begin work on it this weekend ✌️

[2018-10-19 13:56] nscyclone commented on #1465
Thanks to everyone involved into this! The dark theme looks really cool.
I suppose that the issue can be closed since all the changes are already available.

[2018-10-19 13:56] #1465 closed

[2018-10-19 19:47] CarlGraff opened #1564 "Extra forward slash in next and previous article buttons"
At least on chrome and safari I get an extra / embedded in the href at the bottom of recent posts pages.

Perhaps the page.next.title and page.previous.title (jekyll variables?) already include a trailing slash and if so then this:
href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}"
should be:
href="{{ page.next.url | prepend: site.url }}"

in section-prevnext.html

[2018-10-20 23:43] doomspork commented on #1547
@ChuckIrvine if you have a suggestion for how to clear this up, now would be a great opportunity to open a PR with Hacktoberfest on-going.

[2018-10-21 16:20] doomspork commented on #1564
@CarlGraff I'd welcome a PR to fix this if you have the time.  If not, we can find someone else 😁

[2018-10-21 16:50] CarlGraff commented on #1564
Sure - I’ll take care if it if you want to assign to me.
Also I would like to help fixing/testing Elixir / Phoenix code and perhaps contributing to an article at some point.
What markdown editor do you use?

Best,
  Carl

[2018-10-21 20:07] brain-geek commented on #586
I believe that #1461 addressed this issue fully.

[2018-10-21 20:07] #586 closed

[2018-10-21 22:00] brain-geek opened #1574 "New Nerves lesson"
Hey!

Wanted to discuss possibility of the Nerves lesson.

The main difference between this and other lessons would be need for some physical hardware: card reader, SD card and Raspberry PI.

Other limitation is that something _may go very wrong_. Firmware burn includes part with overriding contents of the entire volume (it does its best to autodetect the connected SD card and use its location as

[2018-10-21 22:05] brain-geek commented on #1574
Also, I see that @gemantzu suggested a `Add a Nerves category` [here](https://github.com/elixirschool/elixirschool/issues/1491#issuecomment-416076159).

Any ideas what would be the lessons in this category? I can think of maybe one about installing and burning firmware, working with LEDs ([elixir-ale](https://github.com/fhunleth/elixir_ale), but what else? I may be missing some aspects.

[2018-10-22 21:40] burden opened #1579 "Update sidebar"
While working on dark theme, it was desirable to place the toggle button at the top of the menu. As it stands, we already have a list of languages, a header, a slogan, and of course the OTP version. This means that the actual site navigation doesn't begin until about half way down the fold.

Tasks
- [x] Move dark toggle under hamburger icon
- [x]  Place menu features like OTP version, and language

[2018-10-22 22:57] burden commented on #1564
Good find, @CarlGraff

Looks like we had an incorrect `baseurl` specified in `_config.yml` which was responsible for that extra slash. Thanks for the heads up :)

[2018-10-22 23:54] #1564 closed

[2018-10-23 11:42] CarlGraff commented on #1564
Great I see you already fixed.

Was curious about Jekyll as I had thought is was more like a CI tool such as Jenkins but when exploring found out it  is a lot more interesting and obviously has Ruby roots.

Might poke around and see if there is anything I can help out with if that is OK.

Best,
  Carl

[2018-10-23 21:58] burden commented on #1564
@CarlGraff indeed I did :) Jekyll is an amazing tool for managing static websites. Feel free to reach out to me if you have any questions or need help with anything.

[2018-10-24 00:16] CarlGraff commented on #1564
Great to hear and thanks for offering assistance if needed!

[2018-10-28 21:48] notactuallypagemcconnell commented on #1519
@svileng that is fine by me, I dont have a plan to conquer that one. If anyone else chimes in maybe we could let a newcomer grab it, but otherwise definitely 👍 from me. Though with Hacktoberfest ending, I feel like chances are low we'll get another new person. It generally falls off pretty quickly after October.

[2018-10-30 17:36] svileng commented on #1519
No probs, happy for someone else to take ownership 👍

[2018-10-31 19:37] doomspork commented on #1574
@brain-geek I think support for Nerves would awesome but unfortunately I have _very_ limited exposure to Nerves.  I would defer to others but happy to support however I can 😁

ping @elixirschool/developers / @elixirschool/english

[2018-10-31 19:37] doomspork commented on #1579
@burden should we try to recruit someone to help with these changes?

[2018-10-31 19:41] doomspork commented on #1519
@svileng thank you so much for all of your help with this stuff.  I _really really_ appreciate all of y'all's help with these lessons and updates! 😁

[2018-10-31 23:05] burden commented on #1579
Figured someone would have jumped on it. If you're just looking to clean out issues now that Hacktober is winding down, I'd be happy to finally make this happen.

[2018-11-01 08:09] gemantzu commented on #1574
We can always make a single lesson and see how far we can go. I think we will reach a point where one lesson will not be enough, but this can always happen later.

[2018-11-03 03:54] doomspork commented on #1574
@brain-geek would you be open to reaching out to some of the Nerves' folks to see if they'd be interested?  It'd be a wonderful want to increase people's exposure to Nerves (the translations!)

[2018-11-05 19:01] notactuallypagemcconnell commented on #1574
@doomspork I can reach out to frank, we chat whenever we run into each other at conferences and hes always super enthusiastic and nice. No idea how much bandwidth he might have to help out or review things, but can always say hi and see whats up.

[2018-11-05 20:13] doomspork commented on #1574
That'd be awesome @notactuallypagemcconnell

[2018-11-10 12:55] SophieDeBenedetto opened #1597 "Plug lesson is out of date"
The plug lesson uses outdate plug and cowboy versions:

[code]

Cowboy is now at 2.50 and Plug is at 1.7.1. Two changes I'd like to see:

* Instead of requiring cowboy + plug separately, it is now recommended to require [`plug_cowboy`](https://github.com/elixir-plug/plug_cowboy)
* Instead of calling on `Plug.Adapters.Cowboy`, it is recommended to use `plug_cowboy`'s `Plug.Cowboy`

From the [Plug 1

[2018-11-10 20:06] doomspork commented on #1597
Howdy @SophieDeBenedetto!  Good catch.  I'd be happy to make this change and take a peek at whether the lesson needs any additional updates or you can take a stab at it — your call!

[2018-11-10 20:32] doomspork commented on #1597
You're awesome — thank you @SophieDeBenedetto!

[2018-11-12 17:09] #1597 closed

[2018-11-12 20:56] notactuallypagemcconnell commented on #1029
@chuckhousley @doomspork closing this as the merged PR resolves the issue

[2018-11-12 20:56] #1029 closed

[2018-11-12 22:02] SophieDeBenedetto opened #1602 "New Content: Phoenix"
Elaboration on #1491

* [ ] Getting started: build a super simple app that we can use throughout all of these sections. Something that will accommodate channels and presence nicely. To Do app?
  * [x] Install and generate new project
  * [ ] Basic routing
  * [ ] Controllers
  * [ ] Templates and views
  * [ ] Testing Phoenix with ExUnit: initial testing set up and then test basic functionality so

[2018-11-12 22:05] SophieDeBenedetto commented on #1602
The above outline is just spit balling. My goal is to have some small, discrete chunks of work that contributors can start biting off and that I can start pitching to some Flatiron folks who might be interested and well equipped to work on this.

[2018-11-12 22:11] doomspork commented on #1602
Awesome!  This would be a wonderful addition (especially given the translations)

[2018-11-12 22:17] gemantzu commented on #1602
Would it make sense to add one lesson about testing the Phoenix specific parts? @SophieDeBenedetto great job so far!

[2018-11-12 23:41] SophieDeBenedetto commented on #1602
Yea @gemantzu a testing lesson would be great! Maybe something in “getting started” on testing Phoenix w ex unit, then write some tests for the functionality that would exist by the end of “getting started” section. Then anyone can add more testing content to specific lessons as-needed.

[2018-11-13 21:15] SophieDeBenedetto commented on #1015
closing b/c addressed by /pulls/1571

[2018-11-13 21:16] #1015 closed

[2018-11-14 23:16] SophieDeBenedetto opened #1604 "Add Plug.ErrorHandler content in plug lesson"
When I updated the plug lesson I removed a portion of a code snippet that had `use Plug.ErrorHandler`. That was included without the `handle_errors` function definition and with no explanation. Might be nice to add a section to the Plug lesson on error handling using [`Plug.ErrorHandler`](https://hexdocs.pm/plug/Plug.ErrorHandler.html).

[2018-11-14 23:39] doomspork commented on #1604
This is a great idea.  Beyond Twitter, any thoughts on how to increase visibility into these contribution opportunities?

[2018-11-15 17:07] aturkewi commented on #1604
I'd be happy to take a stab at this issue!

[2018-11-15 17:08] SophieDeBenedetto commented on #1604
@aturkewi awesome! go for it :)

[2018-11-15 19:12] SophieDeBenedetto commented on #1604
@doomspork I'd love to cross-post any contributions/lessons Flatiron devs make on the Flatiron Labs blog. https://medium.com/flatiron-labs

We do a fair amount of promotion for those posts.

[2018-11-15 22:45] SophieDeBenedetto opened #1606 "Function lesson: add pattern matching for function arity"
We have a super short section on this right now https://elixirschool.com/en/lessons/basics/functions/#pattern-matching

and we expand on it here https://elixirschool.com/en/lessons/basics/functions/#function-naming-and-arity

BUT let's add some discussion of pattern matching function arity + variable assignment.

For example, how does the following work?

[code]

We know that the match operator do

[2018-11-15 22:46] SophieDeBenedetto commented on #1606
I should mention that this came up with something we were working on at Flatiron today and we have a team member that would love to write this up :)

[2018-11-15 22:53] SophieDeBenedetto opened #1607 "Libraries: Distillery"
Add a section on building a release of your Elixir app using the Distillery library.

Could be something like:
- [ ] What is a release?
- [ ] Getting started/installation
- [ ] Building your release
- [ ] Configuring your release
- [ ] Advanced: custom release tasks with boot hooks + rpc (i.e. how to execute something like a db migrate against your release
- [ ] Further Reading

I like Distillery

[2018-11-17 15:08] SophieDeBenedetto commented on #1519
@notactuallypagemcconnell @gj, I'm looking back over my draft and breaking out the querying section so you guys can include in your section. Feel like we should re-order this unit a bit:

1. Basics
2. Changesets
3. Associations
4. Querying

Inserting associated data requires some basic knowledge of changesets in my opinion and my draft reflects that. Added advantage of such a reordering is that we

[2018-11-17 15:16] SophieDeBenedetto commented on #1519
Update:
* Associations lesson PR is ready to go #1553
* Querying lesson will include content on querying assocaited records, formerly included in Associations lesson. That content has been removed from Associations lesson and placed in a WIP PR for Querying lesson for @notactuallypagemcconnell and @gj to use here #1610

[2018-11-18 11:54] SophieDeBenedetto commented on #1607
I'll add a lesson on " custom release tasks with boot hooks + rpc (i.e. how to execute something like a db migrate against your release". I wrote a blog post about that recently that I'll more or less re-use. https://www.thegreatcodeadventure.com/run-ecto-migrations-in-production-distillery/

[2018-11-18 13:22] SophieDeBenedetto opened #1611 "New content: OTP + Distribution"
Distributed OTP
- [ ] Introduction to distribution: why do we want to be able to do this?
- [ ] Intro to communicating between nodes

  * what is a node?
  * synchronous communication with Node.spawn_link

- [ ] Asychronous Distributed Tasks

  * What are distributed supervised tasks and why do we want them?
  * Let's build a simple command line chatting app that allows users to chat with one anot

[2018-11-18 16:36] doomspork commented on #1606
Thank you for all your help @SophieDeBenedetto!  This is really exciting to see.  Please let me know if there's anything I can do to help you all 😁

[2018-11-18 18:44] SophieDeBenedetto commented on #1611
I'll have a draft ready for this soon

[2018-11-19 15:16] meryldakin commented on #1606
I'd love to work on this. Thanks @SophieDeBenedetto 🙏

[2018-11-19 21:57] SophieDeBenedetto commented on #1606
Awesome @meryldakin! Contribution guide is [here](https://github.com/elixirschool/elixirschool/blob/master/CONTRIBUTING.md) and feel free to reach out with any questions 🐶

[2018-11-19 21:57] SophieDeBenedetto commented on #1604
Sweet! @doomspork I'll talk to our blog editors and keep you posted.

[2018-11-19 22:06] doomspork commented on #1606
Welcome @meryldakin!  Let us know if there's anything we can do to help.

@SophieDeBenedetto thanks so much for all of your help recently, it's very much appreciated!

[2018-11-23 12:14] SophieDeBenedetto commented on #1604
@doomspork re: increasing visibility--I reached out to[ Troy Denkinger](https://www.linkedin.com/in/troy-denkinger-13951a1), who I used to work for at TuneCore, about contributing and spreading the word. He is a co-organizer of EMPEX and said he'd be happy to reach out to his network and check out our open issues. I'll follow up with him later on.

[2018-11-23 22:17] doomspork commented on #1604
@SophieDeBenedetto that's awesome!  I work with another co-organizer for EMPEX, I should talk to her — great idea!

[2018-11-26 20:17] SophieDeBenedetto commented on #1607
sweet @johann! contributor guide is [here](https://github.com/elixirschool/elixirschool/blob/master/CONTRIBUTING.md) and feel free to @ me with any questions!

[2018-11-26 21:19] doomspork commented on #1579
ping @burden — do we still need this issue?

[2018-11-26 21:32] burden commented on #1579
It's on my own todo board-- you can close it if you want.

[2018-11-26 22:06] doomspork commented on #1579
We can leave if it if it's still on the radar.  Wasn't sure if they were still changes we wanted 👍

[2018-11-27 04:54] malloryerik opened #1626 "Site is down? "Jekyll is currently rendering the site. Please try again shortly.""
Site is down for at least an hour now.
Maybe it really is time to replace Jekyll with Phoenix?... [#523](https://github.com/elixirschool/elixirschool/issues/523)

[2018-11-27 05:11] burden commented on #1626
Thanks for the heads up @malloryerik

[2018-11-27 06:06] doomspork commented on #1626
Sorry about that @malloryerik, that's my fault 😰

I've fixed the site so it renders but we'll going to need to fix some the dependencies I changed in #1623

[2018-11-27 07:48] malloryerik commented on #1626
Thanks so much for Elixir School! It's one of the only really good resources with translations in several languages.

[2018-11-27 16:56] #1626 closed

[2018-11-27 23:22] #1611 closed, assigned to nobody

[2018-11-28 11:23] SophieDeBenedetto opened #1631 "Blog post: JWT Auth in Phoenix with Joken"
Would be a cross-post from the Flatiron Labs blog here: https://medium.com/flatiron-labs/jwt-auth-in-phoenix-with-joken-e72df1b9fbb5

[2018-11-28 16:33] doomspork commented on #1626
@malloryerik thank you so much for the kind words ❤️

[2018-12-02 16:55] SophieDeBenedetto opened #1636 "[New Lesson] Specifices: Code Quality"
- [ ]  Dialyzer/Dialyxer + type specs

  * Currently there is a brief section on Dialyxir in the [Debugging](https://elixirschool.com/en/lessons/specifics/debugging/) section. I think it would make more sense to pull that section out of Debugging and include a more in-depth look in a "Code Quality" section. Could be something like
  - [ ] Installing/Getting Started
  - [ ] Dialyxir and TypeSpecs

[2018-12-02 17:58] doomspork commented on #1636
I _love_ this idea!  I'm a huge advocate for code quality and I think teaching that alongside the fundamentals is brilliant idea 👍

[2018-12-03 11:54] SophieDeBenedetto commented on #1636
sweet! We recently set up Credo to run with our CI across all of our Elixir apps at Flatiron so I'm gonna see if I can't find someone interested in claiming those lessons.

[2018-12-03 11:57] SophieDeBenedetto commented on #1631
closed by  #1635

[2018-12-03 11:57] #1631 closed

[2018-12-03 17:04] doomspork commented on #1636
Awesome!  I love Credo and use it on all my of projects, I'd be happy to help whomever with those lessons.

It might be best to use TravisCI for these lessons since _most_ open source projects use it so folks will have exposure to Travis.  We use both on [admissions](https://github.com/elixirschool/admissions/blob/master/.travis.yml)

[2018-12-03 20:16] juddey opened #1640 "TIL: Different ways to Add in Elixir"
Hey!

Saw @SophieDeBenedetto talking on twitter about elixir school, did a quick browse of the issues, saw the TIL for iex labels and wondered whether you'd be interested in something similar for adding up numbers, based on the Advent of Code Day 1 exercise?

[2018-12-03 20:21] doomspork commented on #1640
@juddey absolutely!  We'd love to have more blog posts from the community

[2018-12-04 19:15] sotojuan commented on #1636
`mix format` should probably be mentioned, though its relation to credo might need elaboration. While they aren't the same, they share some of the same use cases.

[2018-12-06 17:27] cryic opened #1643 "Add section on IEx.pry in Specifics>Debugging"
The article on Debugging in 'Specifics>Debugging' [here](https://elixirschool.com/en/lessons/specifics/debugging/) could use an entry for IEx.pry.

Thinking a basic start about using within `iex` and `mix` contexts.

I'll work on an initial take, if people think this would be useful.

Thanks!

[2018-12-06 17:41] alexgriff opened #1645 "TIL: using `@moduletag capture_log: true`"
When writing ExUnit tests for "sad path" code flows you may expect error messages to be logged as part of the desired/expected error handling process. Running your test suite then results in a lot of noise and the appearance that there are failures in the tests. I thought a good idea for a TIL would be to cover how adding `@moduletag capture_log: true` will suppress the error output so you can see

[2018-12-06 17:45] meryldakin opened #1646 "Blog post: Connecting kafka to elixir through client"
I think this would make a good blog post because neither of them have a lot of resources outside of their docs. This could be a walk-through of how to hook it up to a small existing elixir app that's communicating with a running instance of Kafka. It wouldn't set up Kafka, just the client on the app.

I'm not sure which client to do this on - I've successfully hooked up `kaffe` before but `kafka_e

[2018-12-06 17:51] doomspork commented on #1645
@alexgriff this would be a wonderful TIL!  Would you be open to contributing a blog post on the topic?

[2018-12-06 17:53] doomspork commented on #1646
@meryldakin great idea!

Whichever client you've worked with I think would be fine to cover.  We can be more flexible with the content (and libraries) inside blog posts since we expect them to cover a wider swath of the ecosystem than the lessons do.

[2018-12-06 17:55] doomspork commented on #1643
@cryic thank you for the suggestion, I think we should absolutely add some coverage of `IEx.pry`.

If you'd be open to kicking this off myself and others would be happy to help you once we get into review.

[2018-12-06 17:56] doomspork commented on #1636
Additionally, @sotojuan a blog post that goes into Credo vs Formatter could be really informative.  What do you think?

[2018-12-06 17:56] #1606 closed

[2018-12-06 17:57] #1476 closed

[2018-12-06 17:59] doomspork commented on #926
Since there's been no movement on this in some time, I'm going to close this issue for now.  A PR is always welcomed 👍

[2018-12-06 17:59] #926 closed

[2018-12-06 18:00] doomspork commented on #1479
@gemantzu / @burden — for now should we disable this functionality in production but leave the code in the codebase?

[2018-12-06 18:30] doomspork commented on #1643
Thank _you_ @cryic 😁

[2018-12-06 18:48] alexgriff commented on #1645
@doomspork Yeah that would be great!

[2018-12-06 19:05] sotojuan commented on #1636
Yeah sounds good, shouldn't be too hard as credo's readme shows a lot of what it does vs. just format.

[2018-12-06 20:00] doomspork commented on #1645
Fantastic!  We'd love to have your contributions @alexgriff 😁

[2018-12-06 20:16] gemantzu commented on #1479
Yeah, it is better this way so that ppl don't get confused by it.

[2018-12-11 03:53] doomspork commented on #1645
@alexgriff would you be open to submitting a PR for this week's TIL?

[2018-12-11 13:40] alexgriff commented on #1645
@doomspork sure! I will set aside some time today to work on it

[2018-12-12 11:57] SophieDeBenedetto opened #1654 "TIL blog post: running tests for only one child app in an umbrella"
This is something that I end up googling a lot and can be kind of a pain to track down. To run the test suite of just one child app in an umbrella:

[code]
You can make your life easier by making that a mix alias in your `mix.exs` file:

[code]

Then from root of umbrella in terminal run:

[code]
You could define one such alias for each child app if you want.

[2018-12-19 16:56] SophieDeBenedetto commented on #1654
closed by #1656

[2018-12-19 16:58] SophieDeBenedetto opened #1659 "TIL blog post from Flatiron School: How to Run Ecto Migrations on Production"
Would love to cross-post the latest Flatiron blog post from @ktravers https://medium.com/flatiron-labs/how-to-run-ecto-migrations-on-production-6fe47f10027f. I think it would make a great TIL and we can preface it with a little blurb about how its a cross-post from flatiron labs blog.

[2018-12-19 17:08] #1654 closed

[2018-12-19 19:22] doomspork commented on #1659
@SophieDeBenedetto I'm onboard 👍

We can add a note for now RE: cross-post while we look into better support for it.

[2018-12-19 20:37] #1645 closed

[2018-12-28 15:50] #1659 closed

[2019-01-01 13:58] lithiumpie opened #1669 "[zh-hant] update basics/functions"
This issue is going to update basics/functions to version 1.2.0.
Major changes will be adding newline and Functions and Pattern Matching sections.
Happy New Year 2019 🎉

[2019-01-01 14:16] #1669 closed

[2019-01-07 19:09] disappearer opened #1681 "When to use IEx Output in the examples?"
I was thinking of adding a contribution, specifically for the mnesia tutorial, but I'm unclear about when is it appropriate to use an iex output block and when to use a regular code block. For example, for this block
[code]
to me it makes more sense for it to be a regular code block and not an iex session, since there's no actual output and I find it generally more readable without the extra chara

[2019-01-07 21:58] doomspork commented on #1681
@disappearer this _should_ be a code block, please do make this change 👍  I've never come up with a "rule" for this but in general we try to express most snippets as Elixir blocks and only the small tidbits with output in the shell/iex blocks.

Does that help?

[2019-01-09 08:17] disappearer commented on #1681
Yes, it does help. Thanks 🙂

[2019-01-09 17:08] #1681 closed

[2019-01-19 14:34] kritik opened #1696 "More info in documentation"
Ijust learn elixir and got in stuck in topic [Documentation](https://github.com/elixirschool/elixirschool/blob/master/en/lessons/basics/documentation.md#documenting-modules) I run code in iex like in example but cannot get same result
[code]

It seems that I need to save this module in the file and compile with doc allowed. I think this part needs more explanation for beginners in Elixir.

[2019-01-19 14:42] kritik commented on #1696
My proposal is to write text with smth like, "Open your favorite text editor and write next code and save it". But I don't know what to do next :)

[2019-01-19 15:39] SophieDeBenedetto commented on #1696
Thanks for opening this issue @kritik! I went through the code example and ran into the same issue. In order to get this example working you have to:

1. Create a file, `greeter.ex`
2. Paste in the `Greeter` module code described in the lesson
3. From the terminal, compile the file like this:

[code]

4. Open an `iex` console from your terminal:

[code]

5. In the iex console, run

[code]

And _th

[2019-01-19 15:41] SophieDeBenedetto commented on #1646
closed by #1675

[2019-01-19 15:41] #1646 closed

[2019-01-19 15:42] SophieDeBenedetto commented on #1607
Closed by #1644

[2019-01-19 15:42] #1607 closed

[2019-02-06 14:47] SophieDeBenedetto opened #1712 "TIL blog post: GenServer.handle_continue"
TIL on using `GenServer.handle_continue/2` to do things like init callbacks, instead of a `send`-ing some message and handling with `handle_info`

[2019-02-06 14:48] doomspork commented on #1712
I'm assigning you for now so no one steals your awesome blog idea! I for one am really excited about this.

[2019-02-14 15:19] tajchumber commented on #1579
@burden @doomspork I can pick this up if you want!

[2019-02-14 18:01] doomspork commented on #1579
@tajchumber please do! It's been a few months now so I think this has been shelved by @burden. If this is something you're interested in I'd love to have your input and help 😁

[2019-02-14 23:06] gemantzu opened #1723 "Sass gem deprecation warning"
[code]
Running bundle install, we are warned with this. How should we proceed? just add sassc and be done with it? Are there any known issues with this swap?

[2019-02-14 23:21] doomspork commented on #1723
@elixirschool/developers any thoughts?

[2019-02-15 19:34] tajchumber commented on #1723
as of Ruby Sass's own [reccomendation](https://github.com/sass/ruby-sass/blob/5bf50c5d53b04c91dc09a7ae006b5071bdf1773d/sass.gemspec#L46-L47), I think we should migrate to [sassc-ruby](https://github.com/sass/sassc-ruby#readme)

[2019-02-21 17:58] notactuallypagemcconnell opened #1726 "Proposal: Add Advanced Section content for OTP Debugging"
Currently there is no content on GenServer debugging.

However, the `:sys` erlang module provides a great interface for debugging GenServers in a variety of ways. They are documented a bit in the GenServer docs, but we could totally make a nice concise writeup on tracing your system's GenServer's messages.

[2019-02-21 17:58] notactuallypagemcconnell commented on #1726
I would be happy to write this.

[2019-02-21 18:00] doomspork commented on #1726
We already have a debug section here: https://elixirschool.com/en/lessons/specifics/debugging/, do we need to make additions here?

@elixirschool/english / @elixirschool/developers thoughts on these?

[2019-02-21 18:02] notactuallypagemcconnell commented on #1726
@doomspork yeah I think this would fit better in there after seeing. Was specifically thinking OTP and missed that part cuz I was in that section. Specifically I am thinking of covering `:sys.statistics` and `:sys.trace` - definitely small enough it could just fit in there.

[2019-03-01 21:06] tajchumber opened #1730 "Add 404 Page"
We need to add a better styled 404 page.
Currently we have a very barebone page that says "Not Found" without any styling (example [here](http://elixirschool.com/asdasda))

[2019-03-04 19:28] doomspork commented on #1726
Let's do it @notactuallypagemcconnell 👍

[2019-03-04 19:28] doomspork commented on #1723
Sounds good to me @tajchumber, can you lead the charge?

[2019-03-04 19:40] brain-geek commented on #1723
Actually, it's fixed in upstream. https://github.com/jekyll/jekyll-sass-converter/issues/74

I'll look into it today, maybe it would be possible to fix this fast.

[2019-03-04 20:58] brain-geek commented on #1723
Okay, so after some time investigating I believe it's not yet achievable without forking stuff. On the Rubygems version is still legacy for jekyll-sass-converter, on github

Jekyll [needs sass-converter](https://github.com/jekyll/jekyll/blob/master/jekyll.gemspec#L40), which [requires sassc 2.0](https://github.com/jekyll/jekyll-sass-converter/blob/master/jekyll-sass-converter.gemspec#L21)
But jeky

[2019-03-06 09:05] tajchumber commented on #1723
sorry I haven't been very active lately! Terribly busy at work!

[2019-03-10 02:20] doomspork commented on #1723
No worries @tajchumber, thank you for the update 😁

[2019-03-10 12:44] tajchumber commented on #1723
@brain-geek if I understand correctly... this is something that Jekyll will fix right?

if that's case I think we can close this issue :)

[2019-03-10 18:13] #1730 closed

[2019-03-16 04:16] maxcell opened #1742 "TIL Blog Post: Difference between validations and constraints"
TIL When you want to ensure your application has correct data, it is important to implement either a validation and/or a constraint. They have different roles for Ecto and how to ensure they are getting checked. A constraint will be required to be implemented at the database level otherwise Ecto will pass over it.

[2019-03-16 14:31] doomspork commented on #1742
This would be terrific @maxcell, would you be open to writing this post?

[2019-03-16 21:17] #1579 closed

[2019-03-17 19:16] maxcell commented on #1742
Yup! Sounds perfect to me. 😁

[2019-03-18 12:06] SophieDeBenedetto commented on #1742
Awesome, and welcome @maxcell!!

[2019-03-20 17:36] gemantzu opened #1751 "Blog: Burger icon not opening sidepanel in blog"
This is a weird situation, where If I close the sidepanel when I am at the index page, and click on a blog post below, when I am in the blog, the burger icon does not reshow the sidepanel (It tries to open it but fails). It is showing on both Firefox and Chromium on my system. On my android phone, it is working as intended.

[2019-03-21 13:28] #1751 closed

[2019-03-22 23:24] Exadra37 opened #1755 "Error when starting iex in ecto lessons"
Today when following the lesson about [Ecto Basics](https://elixirschool.com/en/lessons/ecto/basics/#schemas) I run in this error:

[code]

This happens because **iex** needs to start with `iex -S mix` instead of just `iex` as a newbie may think after reading:

In my opinion would be better to have:

This improved sentence will avoid newbies to get stuck :)

[code]

[2019-03-23 00:12] Exadra37 opened #1756 "Ecto lesson on changesets could use the Example.Person module instead of the User module"
The lesson about [Ecto Changesets](https://elixirschool.com/en/lessons/ecto/changesets/#creating-your-first-changeset) starts with defining the **User** module:

[code]

But in the [previous lesson](https://elixirschool.com/en/lessons/ecto/basics/#schemas) we have created the **Person** module:

[code]
In my opinion the **Person** module could be used instead of the **User** module in the Ecto cha

[2019-03-23 12:07] Exadra37 opened #1757 "Possible typo in functions arity on lesson about Ecto Changeset Custom Validators"
From lesson [Ecto Changesets Custom Validations](https://elixirschool.com/en/lessons/ecto/changesets/#custom-validations):

[code]

In my understanding:
* `get_field/2` is being used in the lesson code, not `get_field/3`.
* `add_error/3` is being used in the lesson code, not `add_error/4`.

[2019-03-23 13:17] Exadra37 opened #1758 "Compile error when running the migrations for the lesson: Ecto Associations - The Belongs To Migration"
When we run the migrations for the lesson [Ecto association - The Belongs To Migration](https://elixirschool.com/en/lessons/ecto/associations/#the-belongs-to-migration) we get this error:

[code]

This happens because the migration code uses `create_table` instead of `create table`:

[code]

[2019-03-23 13:20] doomspork commented on #1755
@Exadra37 thanks for pointing this out, pull requests are more than welcome for things like this 👍

[2019-03-25 21:42] #1742 closed

[2019-03-27 23:55] brain-geek commented on #1574
Fixed by #1766 .

@notactuallypagemcconnell , if you could reach out to someone from Nerves project to have some  feedback on the current draft, it would be great.

[2019-03-27 23:55] #1574 closed

[2019-03-29 20:28] gemantzu opened #1771 "Weird animation behaviour on sidepanel change"
Remnant issue after #1753.

What I can still see, is the first time you open the [LiveView blog post](https://elixirschool.com/blog/phoenix-live-view/) from @SophieDeBenedetto , and try to close the side panel, it insta-closes instead of doing the animation one. If you open another one, it works properly.

I can see this in both Chrome and Firefox on Linux.

[2019-04-04 17:34] lccezinha commented on #1757
@Exadra37 Check the documentation for both functions:

- https://hexdocs.pm/ecto/Ecto.Changeset.html#get_field/3
- https://hexdocs.pm/ecto/Ecto.Changeset.html#add_error/4

The last param for each function has a default value as `nil` and `[]` respectively, that is why these arguments do not need to be used in the functions, the lesson is correct.

[2019-04-05 10:05] gemantzu opened #1777 "LiveView blog post fixes"
1. fix the numbering on the installation steps
2. change the file name to 2019, it is 2018
3. `MyAppWeb.GithubDeployView.handle_info/2` matching on {:push_contents, repo} has probably a wrong variable assignment, as below we use the var `org` which is not assigned anywhere.
4. You have to make it more specific that the old template (`page/index.html.eex`) must be removed before this will be able t

[2019-04-05 10:35] #1758 closed

[2019-04-05 10:39] #1755 closed

[2019-04-05 10:41] #1712 closed

[2019-04-05 10:43] SophieDeBenedetto commented on #1777
Thanks for pointing these out @gemantzu! I'll have a PR ready soon :)

[2019-04-05 10:48] gemantzu commented on #1777
Thank you for the nice tutorial btw :)

[2019-04-05 13:07] #1777 closed

[2019-04-07 14:06] tajchumber commented on #1771
i cannot reproduce this issue anymore. can you @gemantzu ? this is very weird...

[2019-04-07 15:29] tajchumber commented on #1757
the arity of `get_filed` is both 2 and 3 and the arity of `add_error` is both 3 and 4.

You check this by running `Ecto.Changeset.__info__(:functions)` in `iex`:

[code]

(closing this issue)

[2019-04-07 15:29] #1757 closed

[2019-04-09 09:38] lex111 commented on #1771
Same here :(

[2019-04-09 11:20] lex111 commented on #1771
In fact, the reason is simple; it’s enough to look at these code snippets.

https://github.com/elixirschool/elixirschool/blob/55b961d86686bf731ca65219f6ef1fa86672acad/_assets/javascripts/main.js#L35-L47

https://github.com/elixirschool/elixirschool/blob/a10b453ee26c73dc4563ed51b02c247e2ce8ef07/_assets/stylesheets/base/_page.scss#L23-L32

[2019-04-13 14:34] gemantzu commented on #1696
Maybe we should add a section in [Basics](https://elixirschool.com/en/lessons/basics/basics/) on how to do proper handling of files in elixir (all this functionality that @SophieDeBenedetto describes above, plus .exs files)?

I can't seem to find us having this info anywhere, but if we do, should we move it to a proper section?

[2019-04-13 15:46] doomspork commented on #1696
I think the simplest solution with the least impact is adding some mention to this lesson about the file. I just went through it again myself and we don't mention creating that file. In other lessons we do a better job of instructing the user on what to do, we fall short on this one.

[2019-04-13 15:47] doomspork commented on #1756
@Exadra37 this is a good suggestion, I _thought_ we'd done that when initially bringing the lessons together but evidently we did not 😁

Would you be open to making this change in a PR for us?

[2019-04-13 15:48] doomspork commented on #1640
Howdy @juddey, just thought I'd follow up and see if you still had interest in writing this post?

[2019-04-13 15:49] #1547 closed

[2019-04-13 15:49] #1432 closed

[2019-04-13 15:50] #1519 closed

[2019-04-14 00:03] juddey commented on #1640
Hey @doomspork, Yep sure do.... Been doing more things in elixir and I've even had other ideas too.

[2019-04-14 00:57] doomspork commented on #1640
@juddey that's _very_ exciting! We'd welcome any blog post you've got ideas for (or any other contributions) 😁

Hope you're having a great weekend 🎉

[2019-04-15 10:32] Exadra37 commented on #1756
Yes, I will try to find some time for it... Cannot promise exactly when.

Feel free to ping me if I start to take to long... sometimes I forget things, because I have so many to do, and only 24 hours in a day ;)

[2019-04-16 05:53] gemantzu commented on #1696
I think that adding this guide in basics, will also help in other lessons as well. We can always link back to that section as needed in some lessons as a reminder

[2019-04-16 20:51] doomspork commented on #1696
What guide exactly @gemantzu?

[2019-04-18 08:43] gemantzu commented on #1696
Guide on how to write a file and compile it / run it.

[2019-05-01 01:58] doomspork commented on #1756
No worries @Exadra37 I understand we can all get busy 😁

[2019-05-22 13:42] persona5 opened #1848 "Correct ETS lesson"
There is no default limit on table count anymore.

See http://erlang.org/doc/man/ets.html

[2019-05-26 17:23] tajchumber commented on #1848
Hello @persona5, you're welcome to open a PR to fix this :)
let me know if you need any help with anything!

[2019-06-28 16:02] #1848 closed

[2019-07-11 09:01] nelsonic opened #1908 "location of Example.Repo module in friends (Ecto) example"
but it's worth fixing to avoid confusing beginners. 😕

At present in the Creating a Repository section of Ecto Basics
[/ecto/basics.md#creating-a-repository](https://github.com/elixirschool/elixirschool/blob/9c0709eb45eefe93b618d3ebd511e09304004d80/en/lessons/ecto/basics.md#creating-a-repository) the instructions say that the
`mix ecto.gen.repo -r Example.Repo` command creates the `Example.Repo` m

[2019-07-11 09:05] nelsonic commented on #1908
PR: https://github.com/elixirschool/elixirschool/pull/1909

[2019-07-14 18:21] nelsonic commented on #1908
PR #1909 Merged. ✅
Closing.

[2019-07-14 18:22] #1908 closed

[2019-08-22 01:12] ktravers opened #1953 "TIL blog post: How to use Ecto.Query#select_merge/3"
Hello! I'd love to cross-post a recent post I wrote for the flatiron labs blog about my new fave Ecto query function, `Ecto.Query#select_merge/3`: https://medium.com/flatiron-labs/til-how-to-select-merge-with-ecto-query-679d03204b9d

It includes examples of how and when to use it, as well as pros/cons versus another (totally valid) approach like adding more schema associations.

[2019-08-22 07:54] tajchumber commented on #1953
hello @ktravers we're happy to accept a PR for this
Please follow the [lesson styleguide](https://github.com/elixirschool/elixirschool/wiki/Lesson-Styleguide)

also you can follow the what @SophieDeBenedetto did [here](https://github.com/elixirschool/elixirschool/blob/master/_posts/2019-06-04-live-view-with-channels.md).

Let us know if you need any help!

[2019-08-28 11:30] #1953 closed

[2019-08-30 15:58] sing-gor opened #1967 "Traditional Chinese(繁體中文) documents have translation errors"
In the **Anonymous Functions** .
[code]
To
[code]

[2019-09-02 11:59] tajchumber commented on #1967
@sing-gor we're happy to accept pull requests for this.
Are you able to create one? :)

[2019-09-08 04:25] lithiumpie commented on #1967
I will fix the typo #1981 Thank you for your contribution @sing-gor 👍

[2019-09-08 16:05] doomspork commented on #1967
This has been fixed. Thank you everyone 🎉

[2019-09-08 16:05] #1967 closed

[2019-09-26 15:02] andyl opened #1999 "RSS Feed?"
Is there an RSS Feed for the Blog?

[2019-09-26 15:05] doomspork commented on #1999
What timing @andyl! I was just discussing our lack of RSS feed with another contributor. Would you be up for investigating how to add an RSS feed to the blog?

[2019-09-26 15:18] andyl commented on #1999
Have a look at this...

https://joelglovier.com/writing/rss-for-jekyll

[2019-09-26 15:36] doomspork commented on #1999
One of our contributors, @burden, is a Jekyll pro and may be able to lend a hand if you're interested

[2019-09-26 15:40] andyl commented on #1999
@doomspork that's great.  I can do research, participate in discussion and test, but don't have time to submit PRs.

[2019-10-05 08:38] filalex77 opened #2026 "[BUG] Extra slash in post URLs for RSS feed"
[code]

The `//blog` part makes it go 404. `/blog` works fine.

Related to #2009.

[2019-10-05 11:01] #2026 closed

[2019-10-09 06:31] tajchumber commented on #1999
can we close this? :)

[2019-10-09 08:45] andyl commented on #1999
Works.  Thanks @delta1

[2019-10-09 08:45] #1999 closed

[2019-10-10 18:32] lex111 opened #2048 "Add search"
The site is lacking in search. It is easy to add using Algolia.

@doomspork what are some thoughts about UI search?

[2019-10-14 17:27] marocchino opened #2062 "Need update DateTime lesson"
https://github.com/elixir-lang/elixir/commit/b8b1a4ba8af8256567f00e6d9f7fa056881a8ec1

Since elixir 1.8.0, DateTime start to support time zone.

[2019-10-20 14:12] MrL1605 opened #2071 "Syntax issue for output in Structs examples"
There is issue in some of examples of Structs where the output starts with `#` instead of `%`.
Eg. in [Module.md Line 86](https://github.com/elixirschool/elixirschool/blame/master/en/lessons/basics/modules.md#L86)
[code]
should be
[code]
Highlighter also shows error as shown below in the screenshot.

![Screenshot from 2019-10-20 18-35-13](https://user-images.githubusercontent.com/7734245/67160511-

[2019-10-20 14:31] doomspork commented on #2048
@lex111 that would be great! Algolia provides a free tier for community projects so I'm 💯 behind this.

In general I'm for any and all improvements we can do to the site to make the content more accessible. I will be the first to admit that UX isn't my strong suit 😁

[2019-10-20 14:31] doomspork commented on #2048
Thoughts @elixirschool/developers?

[2019-10-20 14:32] doomspork commented on #2062
@marocchino do you want to take the first stab at this or are you open to someone else jumping on this?

[2019-10-20 14:33] doomspork commented on #2071
This is great @MrL1605! Please do contribute a fix, we'd love to have your help ❤️

If this change can be applied to translated lessons, let's do that as well 😁

[2019-10-20 14:34] doomspork commented on #1726
@notactuallypagemcconnell I'm still open to this if you want to tackle it. This could also be a good blog post.

Closing the issue now that we don't need to discuss this further.

[2019-10-20 14:34] #1726 closed

[2019-10-20 14:35] doomspork commented on #1696
@gemantzu @kritik would either of you like to tackle this improvement as part of Hacktoberfest?

[2019-10-20 14:35] doomspork commented on #1640
@juddey I'm going to close this issue but we'd love to have your contributions 😁

[2019-10-20 14:35] #1640 closed

[2019-10-20 14:36] #1723 closed

[2019-10-20 14:36] doomspork commented on #1723
@burden want to look into updating Jekyll and friends as part of Hacktoberfest?

[2019-10-20 14:38] MrL1605 commented on #2071
Sure, I would do it for all languages.

Also, I did a grep and also found same issue in all mentions of [Ecto -> Changesets](https://github.com/elixirschool/elixirschool/blame/master/en/lessons/ecto/changesets.md#L21).
Should I fix that as well?

[2019-10-20 14:40] doomspork commented on #2071
That'd be awesome @MrL1605! In the interest of Hacktoberfest if you wanted to submit this as 2 different PRs I'd be happy to accept both:

1. Correcting the `basics/module` lesson across all languages
2. Correcting the `changeset` lesson across all languages

[2019-10-20 17:28] MrL1605 commented on #2071
That would be too easy. I would like to earn the T-shirt the hard way. :smiling_imp:

[2019-10-21 07:36] tajchumber commented on #2048
I had a look at it and it seems pretty trivial to add algolia (https://github.com/algolia/jekyll-algolia)
if someone wants to tackle this issue, it would be great! otherwhise I can try to fit it in

[2019-10-21 08:26] brain-geek commented on #2048
We could also add google search. https://cse.google.com/cse/ could limit the search scope to one site and is free.

[2019-10-21 15:38] v0idpwn commented on #1602
Is this still a thing? I'd like to help on this for hacktoberfest.

[2019-10-21 18:21] tajchumber commented on #2048
algolia is also free for OSS

[2019-10-21 18:25] lex111 commented on #2048
Here the problem and the main difficulty is the UI (design). Algolia is the best choice for OSS projects.

[2019-10-23 05:31] iampeterbanjo commented on #1696
I can pick this up if its still up for grabs

[2019-10-23 18:22] doomspork commented on #1602
@v0idpwn yes! Neither myself nor @SophieDeBenedetto have had the bandwidth to get this started but if you would be interested that would be wonderful!

[2019-10-23 23:51] marocchino commented on #2062
Maybe I do it unless someone else does it? Currently I am just waiting for others.

[2019-10-24 05:54] gemantzu opened #2087 "Today I Learned Categories"
Take a look, by opening the categories page, you can see this:
![Screenshot from 2019-10-24 08-53-48](https://user-images.githubusercontent.com/4966172/67457276-efe86900-f63b-11e9-86c1-1f3935600e07.png)

[2019-10-24 07:47] Hermanlangner commented on #2087
I'll grab this one

[2019-10-24 10:58] poncho opened #2090 "[ES] Update Ecto/basics"
This issue is for the update of the Ecto/Basics lesson to 2.4.0

[2019-10-24 16:17] #2087 closed

[2019-10-24 20:18] #2090 closed

[2019-10-31 23:23] poncho opened #2119 "[ES] Add missing translation for Ecto/querying lesson"
Ecto/querying lesson translation for spanish is missing

[2019-11-01 17:06] #2119 closed

[2019-11-03 12:21] tajchumber commented on #2048
I'm working on a solution for this rn, I will be able to share the branch real soon!

[2019-11-05 09:50] vbrazo opened #2124 "Spell Checker CI"
Would we consider adding a `Spell Checker CI` for this repository?

I think that'd be a huge plus and would help us detect the typos faster.

If you've never heard about it, please check this link https://typoci.com/ out and let me know your thoughts.

[2019-11-05 15:24] doomspork commented on #2124
I'm open to trying it out @vbrazo. I can look at setting it up later today

[2019-11-07 15:09] vbrazo commented on #2124
We've implemented this CI in the [V by example repository](https://github.com/v-community/v_by_example). Check [this PR](https://github.com/v-community/v_by_example/pull/65/files) out to see how it works.

[2019-11-10 18:17] #2124 closed

[2019-11-13 11:41] vbrazo commented on #2124
I think we need to ignore `elixir` keywords. I noticed that the Speller CI is trying to auto-correct them.

@MikeRogers0 any plans to ignore the keywords by default in Spell Checker CI?

[2019-11-13 11:50] MikeRogers0 commented on #2124
@vbrazo I can add them today :) Do you have a source where I can get a list of the elixir keywords?

[2019-11-13 15:31] doomspork commented on #2124
I put these in the config: https://github.com/elixirschool/elixirschool/blob/master/.typo-ci.yml#L40-L44

Shouldn't they be ignored?

[2019-11-13 15:37] vbrazo commented on #2124
@MikeRogers0 I don't have the list yet, but this looks like an interesting challenge because programming languages often break some changes, so you'll need to watch the keywords breaking changes.

[2019-11-30 21:45] vbrazo commented on #2124
@MikeRogers0 I see that there are still some Spell Checker suggestions that need to be improved. I totally understand that you're still building the CI and it will improve some time to get mature. I was wondering if it could be possible to allow users to classify the suggestion. Let's jump on an example:

<img width="740" alt="Screen Shot 2019-11-30 at 1 42 33 PM" src="https://user-images.githubus

[2019-11-30 21:47] MikeRogers0 commented on #2124
@vbrazo Yes 100%! I'm working on a github action to suggest words, so it should be as easy as clicking a button :)

[2019-11-30 21:48] vbrazo commented on #2124
That's awesome! This will help us help you ;)

[2019-11-30 21:49] vbrazo commented on #2124
Once it's done, please post here the feature/button. Other maintainers should know this.

[2019-11-30 21:51] MikeRogers0 commented on #2124
@vbrazo Awesome, I will! I'm aiming for next weekend so 🤞

Thank you again! You're really helping me improve this so much :)

[2019-11-30 21:56] vbrazo commented on #2124
@MikeRogers0 We have several spell issues in this repository when people open PRs and I believe in any other documentation repositories. So your solution is welcome to solve this problem.

Another thing that I was thinking is the ability to add a new spell issue. Let's say that your CI didn't recognize one issue but one of our maintainers did, how can we send this piece of correction to you?

[2019-11-30 22:00] MikeRogers0 commented on #2124
@vbrazo I'm hoping a similar mechanism for reporting issues where it's a button click, then maybe a small form that'll add new words to the database & refresh the analysis.

[2019-12-01 16:59] doomspork commented on #2124
Thank you so much for collaborating with us @MikeRogers0! I hope you find these exchanges useful. It's wonderful being a part of the product's development as an early adopter :grin:

[2019-12-02 13:35] SophieDeBenedetto commented on #2071
Hey @MrL1605! Thanks so much for your contributions 🚀 🚀 🚀
Since this issue seems to be resolved by #2073, I'm going to close this issue.

[2019-12-02 13:35] #2071 closed

[2019-12-02 13:37] SophieDeBenedetto commented on #1756
Closing since this seems to be resolved by #2011

[2019-12-02 13:37] #1756 closed

[2019-12-08 16:12] MikeRogers0 commented on #2124
![image](https://user-images.githubusercontent.com/325384/70392218-7af7a580-19d5-11ea-974f-15dded156276.png)

@vbrazo I've been experimenting a little this weekend, what do you think of a button like this that'll update the PR/branch with a commit updating the `.typo-ci.yml` file?

[2019-12-11 18:13] abhishekkr opened #2144 "ecto/changeset documentation has different arity 'cast' in doc and sample code"
`<language>/lessons/ecto/changeset.md` is using `cast/3` instead of `cast/4`, but in text unused arity function is used

fix PR: https://github.com/elixirschool/elixirschool/pull/2143

[2019-12-16 10:25] brain-geek commented on #1643
@cryic Hey, how is it progressing? Would it be ok for you if I implement this?

[2019-12-16 18:41] cryic commented on #1643
Hi! Yes, please implement this!

I’d made a rough draft but then sadly never finished.

Thanks for asking, good luck!

On Mon, Dec 16, 2019 at 05:25 Oleksandr Rozumii <notifications@github.com>
wrote:

[2019-12-16 19:04] brain-geek commented on #2144
I believe this was fixed by #2143 , therefore closing.

[2019-12-16 19:04] #2144 closed

[2019-12-19 16:27] #2062 closed

[2019-12-19 16:29] brain-geek commented on #1696
@iampeterbanjo Hey, are you still going to take it, or it's available?

[2020-01-01 03:56] ryan-senn opened #2158 "Create open collective for sponsors?"
Hi,
Not sure if this is something you would consider, but I love elixir school, it really helped me get started with elixir. A lot of projects accept open collective sponsorships, and often have a sponsors section in the sidebar or at the bottom with a link to the sponsor. I would be happy to contribute $10-$20 a month to support the hard work put into this great resource.

[2020-01-01 04:09] doomspork commented on #2158
Hi @ryan-senn! Thank you so much for the kind words and bringing up such an important topic. Truth be told I've been on the fence about how to accept donations for a _long_ time, going so far as to write an almost complete Patreon clone in Elixir for Elixir School. Ultimately I've always held off because of concern for how funds might impact both the community's perception of the project and the c

[2020-01-02 07:47] ryan-senn commented on #2158
I can't speak for everyone, but personally I look at it positively. I think what makes projects such a elixirschool thrive is the community and support we receive from one another. I've seen many great open source projects abandoned over the years, and IMO this is exactly where open collective shines as it gives creators incentives to keep up the great work.

I think you just perfectly described w

[2020-01-06 10:49] iampeterbanjo commented on #1696
@brain-geek please go ahead, thanks :)

[2020-01-18 15:26] brain-geek commented on #799
@holsky Is it fine that I based off changes fixing this issue on your comment? I noticed that it's been two years since the initial discussion.

[2020-02-19 18:44] TrevorAbram commented on #2048
Hey are you still working on this? What route did you decide?

[2020-02-24 23:08] tr00gle opened #2196 "GenStage: Add section on ConsumerSupervisor"
How do we feel about adding a subsection to the GenStage lesson on the `ConsumerSupervisor` behavior?

I think it would be a nice addition to the lesson. It's a powerful part of GenStage, and we can use it to further solidify some of the already established concepts from the `otp-supervisors` lesson.  I'd be happy to take this on. I use the behavior in my elixir service at work, and I just gave a

[2020-02-26 20:03] g-belmonte opened #2200 "[FR] Update Basics/Basics"
Update french version of Basics/Basics to version 1.2.1

[2020-02-26 22:58] g-belmonte opened #2202 "[FR] Update Basics/Collections"
Update french version of Basics/Basics to version 1.3.1

[2020-03-01 11:08] #2202 closed

[2020-03-01 16:49] g-belmonte opened #2207 "[FR] Update Basics/Enum"
Update french version of Basics/Enum to version 1.5.0

[2020-03-10 23:32] #2207 closed

[2020-03-10 23:43] #2200 closed

[2020-03-15 18:37] #799 closed

[2020-03-15 18:39] #1696 closed

[2020-03-15 18:43] #1643 closed

[2020-03-16 22:47] SophieDeBenedetto commented on #2196
Thanks for opening this issue @tr00gle! I think this section would be a great addition to the GenStage lesson. Feel free to open a PR and we'll take it from there!

[2020-03-24 12:34] SophieDeBenedetto opened #2244 "Instrumenting Phoenix with Telemetry"
I'm working on a side project exploring Elixir's Telemetry offerings and hoping to wrap up the code portion in the next week or so. I think there are a number of opportunities for content on observability in Elixir with Telemetry. I'd love to produce either a series of blog posts or lessons that along the lines of:

* Intro to observability - what is it/why do we need it
* OOTB instrumentation wit

[2020-03-27 20:56] SophieDeBenedetto commented on #2244
I'm almost done with a draft of an article that covers:

* Intro to Telemetry
* Telemetry under the hood

Will open for review this weekend, likely as a blog post for now and we can move to a series of lessons later if we think that would be a good fit/addition.

[2020-04-03 09:58] jcrevits opened #2257 "[FR] Typos in index.md"
Hi there, just stumbled upon https://elixirschool.com while diving into Elixir and spotted a few typos in `index.md` - maybe I could fix them?

Some examples:
`déstination` -> `destination`
`Gràce au` -> `Grâce au`

First time opening an issue anywhere so I hope this is OK! I'll then make a PR 🙏 Merci ! 🇫🇷

[2020-04-09 00:18] dbernheisel opened #2269 "[New Content] Internationalization"
Developers sometimes need to develop apps that lend itself to translation. Not only written words, but units, calendars, money, and encodings.

We could add lessons for these facets:

- [ ] Gettext
  - [ ] Usage in Elixir
  - [ ] Translation of POs
- [ ] Cldr Library (h/t @kipcole9)
  - [ ] Calendars, dates, and times
  - [ ] Currency
  - [ ] Units, etc.
- [ ] Text encoding
  - [ ] Built-in (Erlan

[2020-04-23 10:54] cubuzz opened #2295 "[Suggestion] Add Example Project implementing what was learned per chapter."
This is something that I'm currently working on, but this should allow people like me that learn from example better than from documentation and standalone examples to grasp the idea of the lang easier. I'm creating a fork in which I will implement this in the english version.

[2020-04-23 12:15] Snackomat commented on #2295
You can assign this to me if you want to, I'm currently working on implementing this. You visit my fork if you wish to see my progress.

[2020-04-29 18:10] DavideSilva opened #2300 "[EN] Typo in date-time.md"
There is a typo on the word `Contrary` in the Date and Time lesson

`Contary` -> `Contrary`

I'll open a PR to fix this

[2020-04-29 19:00] DavideSilva commented on #2300
Closing as PR was merged

[2020-04-29 19:00] #2300 closed

[2020-04-29 19:34] elsobrino opened #2302 "Menu randomly not showing up on iPad"
![FA03AB02-B165-409E-94BC-D51C822CCE4F](https://user-images.githubusercontent.com/450369/80638563-e9123700-8a60-11ea-9ba7-b574b627bb9c.png)

[2020-05-02 16:27] Hermanlangner opened #2303 "Blog posts are getting stale fast"
I'm not sure where to raise this, so feel free to point me in the direction I need to go for this.

I've been experimenting with the live view example in
https://elixirschool.com/blog/phoenix-live-view/
and since it's been written a lot of pieces have changed (looks like mostly for the better) but unfortunately made me waste a fair amount of time digging through change logs in phoenix.

Being wear

[2020-05-02 17:10] doomspork commented on #2303
Hello @Hermanlangner, welcome! You bring up a good point that has been discussed amongst contributors previously: these blog posts are great guides but as a blog it feels strange to retroactive modify them so regularly.

@gemantzu has brought up the idea of making a dedicated “guides” section to the site that can include these articles and facilitate easier discovery and maintenance. What do you t

[2020-05-02 17:14] gemantzu commented on #2303
@doomspork the way I see it, we should update and convert these posts to lessons, so they can be kept up to date and be translated. It's a waste to produce such fine content as @SophieDeBenedetto 's posts and let it rot due to the lib's rapid growth.

[2020-05-02 17:42] Hermanlangner commented on #2303
@doomspork I'm okay with any approach that would allow posts/lessons (from @gemantzu's suggestion) be easy to keep up to date.

I can't comment on which approach would be better since I'm not an active maintainer but whichever way you guys go it would be great to have an updating guideline, like you do for adding new posts. I tried finding that before I opened the issue.

For context, I'm currentl

[2020-05-02 17:46] Hermanlangner commented on #2303
Forgot to mention, I don't think it's fair to expect the authors of blogs to make sure everything is 100% up to date, so the easier it is for someone that experienced a speedbump to update the docs the better

[2020-05-02 18:17] doomspork commented on #2303
Absolutely @Hermanlangner, we love contributions! Elixir School is only possible because so many folks have pitched in :grin:

[2020-05-02 19:14] Hermanlangner commented on #2303
Great! @doomspork What I think I'll do is tomorrow while it's fresh, I'll create a pr from my local against a freshly generated phoenix app, pointing out differences, so that it doesn't get lost in me rambling about updating things.

Afterwards I'm happy to assist in whichever steps you guys agree on to make it more editable?

[2020-05-02 20:45] Hermanlangner commented on #2303
I've posted some small adjustments I had to get it running locally, some are unnecessary (i.e. the new route and the console print).
Let me know if I worded something badly
https://github.com/Hermanlangner/live_view_tutorial_update/pull/1
but the tldr is that the plumbing handles a lot the stuff now

[2020-05-04 11:38] SophieDeBenedetto commented on #2303
I do think there are some blogs posts that could be converted into lessons, or we could write up some new lessons where blog posts are too long/stale. I'd suggest that instead of updating the existing LiveView blog post, we publish a new piece of content, as a lesson, that walks-through how to work with LiveView in Phoenix 1.5. We could also do a post on using LiveDashboard in Phoenix 1.5.

@dooms

[2020-05-04 16:02] doomspork commented on #2303
@SophieDeBenedetto count me in! I think this is the impetus we need to starting that Phoenix section.

[2020-05-17 13:25] doomspork commented on #2244
@SophieDeBenedetto can we close this now?

[2020-05-17 13:27] #2257 closed

[2020-05-17 13:28] doomspork commented on #2257
Thanks again for getting involved @jcrevits! We hope you’ll continue to help us make the France translation awesome!

[2020-05-17 14:21] SophieDeBenedetto commented on #2244
yep!

[2020-05-17 14:21] #2244 closed

[2020-05-25 12:58] thiamsantos commented on #2302
I'm also experiecing this behaviour. It seems to happen in all mobile layouts.

I was not able to understand why, but seems that sometime the `is-loading` class is not removed from the `body`

After the page finished loading the `is-loading` class is still there.
![image](https://user-images.githubusercontent.com/13632762/82814712-08d52900-9e6e-11ea-9b18-a433fa7e3f34.png)

For some reason this lin

[2020-05-25 15:25] wkulikowski commented on #2295
Hi @Snackomat are you still working on this? I came here to post exactly the same suggestion and would like to work on it as well.

I am a Python dev by trade, so if I can even give some insight on the projects as an Elixir newcomer

[2020-05-25 17:09] tajchumber commented on #2302
hi @elsobrino and @thiamsantos a PR is definitely welcome for this if you have the time! :)

[2020-05-25 21:16] thiamsantos opened #2315 "[Suggestion] Translations for blog posts"
We have some real nice blog posts in elixirschool, would be nice if we could also translate this articles.

[2020-05-25 21:17] thiamsantos opened #2316 "[Suggestion] Edit on github link"
Would be nice if at the end of each page/lesson/article we had a `Edit on github` link, poiting directly to the original markdown file.
I think that would be encourage more people to contribute, also help to navigate inside the project.

[2020-05-26 14:03] doomspork commented on #2315
@SophieDeBenedetto, @gemantzu, and I have been discussing this a bit in the Elixir School slack. I think we all agree that blog posts should not be translated. Managing the lesson translations is difficult enough, adding blog posts on top of that is just too much.

That said there are 2 things that have come from these conversations:

1. Finding a way to encourage people to contribute blogs in oth

[2020-05-26 14:06] doomspork commented on #2295
@wkulikowski I'd love to hear your thoughts! I've added a few examples in some lessons but the trend never caught on so I gave it pause.  I also started this repo of projects which I had opened to tie in with the lessons but interest in that approach was lacking: https://github.com/elixirschool/homework

I wholly agree that examples and "homework" would really help drive home the point of the cont

[2020-05-26 14:31] wkulikowski commented on #2295
Oh that's cool! Tbh once I finished `basics` section I was disappointed that there is no easy / guided way to put the skills to use.
The perfect approach for me would be a section `homework` with a set of tasks and sample solutions I could go through. These tasks would be categorised by `algorithms`, `web server`, `databases` etc.

I like the homework project! Especially the spread of categories,

[2020-05-26 18:20] doomspork commented on #2295
@wkulikowski I'd love your help! This is truly a community project. For the most part our guides have focused on translators (the majority of contributors). Folks who've wanted to do more than that have typically opened issues like @Snackomat did for discussion, from there we figure out the plan forward.

The Homework repo probably needs a radical overhaul now that it's gone untouched for so long;

[2020-05-26 19:57] wkulikowski commented on #2295
1. I agree, incremental approach will be the best. We will need more feedback than just ideas of 3 people 😃
2. What about taking advantage of GH Pull Requests? For example, if I am doing a project `fizz buzz`, I could do a PR like this one: https://github.com/elixirschool/homework/pull/10 and get comments from approved volunteers.

[2020-05-26 20:09] wkulikowski commented on #2295
I could realistically devote ~10h a week to this project (but from obvious reasons I will have trouble working on the solutions)

At first we could run a section "homework" under chosen beta articles (mix of basic/advanced/ecto) as the MVP. They could read along the lines "fork this project, do tasks from the instruction, run test suite. Compare with our solution in other folder or open PR so some

[2020-05-30 13:48] thiamsantos commented on #2315
@doomspork Yeah, makes sense. Is really a lot of work to translate everything.

That seems to be a really nice approach. Much of the content is made in english, making even more difficult for newcomers that are not english speakers to getting started in the language. Maybe we could share in each regional communities that elixirschool is accepting posts in any language and try to talk with some aut

[2020-05-31 15:07] wkulikowski commented on #2295
Hi @doomspork are we still considering this?

[2020-05-31 16:50] #2316 closed

[2020-06-08 16:35] doomspork commented on #2295
Howdy @wkulikowski! Yes very much, I've been swamped lately with work so my time for open source has been very minimal. Apologizes for delays here.

I would love to hear what some of the other contributors thing to this approach as well. The success of this project (like any of our others) is definitely going to be depend on having a group of motivated contributors.

@SophieDeBenedetto any thought

[2020-06-09 11:09] SophieDeBenedetto commented on #2295
Hello @wkulikowski! I also apologize for being a bit out of the loop--it's been a very busy time but I am so excited about the ideas you're putting forward here!

Your suggestion here:

Seems like an excellent place to start. When I was teaching software engineering at a bootcamp, this is more or less how we structured all of our lessons. The format was:

* Read this lesson
* Fork a repo that has

[2020-06-09 22:22] wkulikowski commented on #2295
Hi @doomspork and @SophieDeBenedetto , great to hear back from you! This is obviously a challenging time and I probably wouldn't get much done in the past week either.

Please find my answers below.

### Further work and "taking the lead"
I agree that the project is rather ambitious and will require some motivated collaborators. Guess we can start with one 😄Feeling ok with taking the first batch o

[2020-06-11 12:40] #2302 closed

[2020-06-16 07:58] carlogilmar commented on #2295
Hi everyone! I'm reading all your ideas, and are so great! Right now I have to teach Elixir from zero and I was reading the Elixir School guides and looking for how to create a good learning experience.

If you need some contributors, I'll be happy to help to build this, and help with other things (translation to spanish, graphic recordings, etc)

[2020-06-16 10:56] SophieDeBenedetto commented on #2295
Hi @carlogilmar! So great that you're interesting in contributing to this "homework project"! @wkulikowski is there a way that @carlogilmar  or I could plug in right away? Or is it better to wait until you have something for us to review?

[2020-06-16 17:31] wkulikowski commented on #2295
As I mentioned before, yesterday I finished a side project, and today I am starting to work on this one — so we start with a blank canvas. I was thinking about preparing a homework on `pattern matching` and `OTP Concurrency`.

When I'm ready I will submit my ideas for @SophieDeBenedetto review, I think you can do the same! Let's just not pick overlapping lessons :)

After the review we can work ou

[2020-06-17 11:38] SophieDeBenedetto commented on #2295
Thanks for the update @wkulikowski! I agree we should work out a consistent format for each homework lesson. If you have an outline or format in-mind, feel free to share here and we can all follow that format. Or (and I think this is what you're saying 😄 ) we can wait until you submit a first draft and then use the review of that content to agree on the format.

Congrats on finishing up your side

[2020-06-25 14:54] wkulikowski commented on #2295
Just fyi, I am still working on it -- have the pattern matching project half-baked and learning about GenServer now. It is much harder with simultaneously learning & crafting a project, but we will get there!

[2020-07-16 21:41] ghost opened #2344 "Examples reference concepts not yet introduced"
I'm a newcomer to Elixer and moving through the basic concepts sequentially has been a bit confusing as there are a few instances of examples for a given section referencing concepts that are introduced on a later page.

For example, pipes are used in a code block in lesson **3. Enum** and then in lesson **6. Functions** for examples of **Guards** and **Default Arguments** but are never named or e

[2020-07-22 11:18] k-maekawa opened #2348 "[PATCH] [JA] spelling typos in ja lessons ecto associations"
Hi.

I found typos in `elixirschool/ja/lessons/ecto/associations.md`

[code]

`create table` is correct, not `create_table`.
~~May I make PR to fix it?~~
I opened https://github.com/elixirschool/elixirschool/pull/2349

[2020-07-24 16:34] doomspork commented on #2344
Hello @radet5, this is good feedback! We're always looking to make improvements to the content, things like this are great additions.

Wholeheartedly agree! I think we should get better with callouts for things such in addition to the exercises' we're working on. The existing callouts are too subtle.

Yes please do open PRs, the more the merrier! I really appreciate you offering to get involved, i

[2020-07-27 00:01] riseshia commented on #2348
Resolved by #2352

[2020-07-27 00:01] #2348 closed

[2020-08-23 13:48] ojizero opened #2363 "Moving Nerves lesson from Advanced section to Specifics section"
Currently the last lesson in the advanced topics on Elixir is about the [`Nerves`](https://elixirschool.com/en/lessons/advanced/nerves/) framework. It felt very odd transitioning from language specific topics, to jumping on a specific framework, I can only suspect it was done to serve as an example (_maybe?_), but I think it should be moved under the "specifics" section similar to the lessons on P

[2020-08-24 16:37] doomspork commented on #2363
This is a good change to me. If we had someone willing to contribute even more Nerves specific material I'd say we could make a Nerves section but for now Specifics seems to be a good home.

[2020-08-24 17:43] ojizero commented on #2363
@doomspork yea Nerves seems could take it's own section! Sadly I'm by no means qualified 💃 in the mean time I opened a PR moving it over to specifics 🍻

[2020-09-03 03:39] #2363 closed

[2020-09-10 22:34] doomspork opened #2367 "Moving Nerves has broken a Google Search result links"
This is what is in the Google Search results: https://www.elixirschool.com/en/lessons/advanced/nerves/#:~:text=The%20Nerves%20project%20is%20a,from%20other%20Elixir%20School%20lessons

We need to make an update to the site to redirect from this old page to the new URL

[2020-09-10 22:36] doomspork commented on #2344
Howdy @radet5 I wanted to follow up with you and see if I could be of any help :grin:

[2020-09-15 16:15] ojizero commented on #2367
@doomspork my bad 😅 just opened #2371 to fix this!

Tested it locally and it seems to be fine, but I think you should take a second look since as per #1397 redirects and localization don't seem to work super fine 😅

[2020-09-15 23:07] antedeguemon opened #2372 "[PT] Update Advanced/Erlang to 1.0.2"
PT Advanced/Erlang currently is at 1.0.1. It lacks the translation for variable rebinding notes.

[2020-09-15 23:16] antedeguemon opened #2374 "Add portuguese dictionary to typo-ci"
TypoCi now has the portuguese dictionary ([according to its documentation](https://typoci.com/documentation)).

Adding the portuguese dictionary would remove some of the annoying wrong typos warnings and make our portuguese PRs safer.

[2020-09-16 00:49] #2374 closed

[2020-09-16 21:19] #2372 closed

[2020-09-22 14:45] jersearls opened #2382 "Update `Enum.md` Capture operator section in translated guides"
PR https://github.com/elixirschool/elixirschool/pull/2377 Adds instruction and examples on the use of the capture operator with the Enum module.

# Translation

Translation progress:

- [x]  en
- [ ]  ru /cc @brain-geek / @nscyclone
- [ ]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizi

[2020-09-22 15:09] doomspork commented on #2382
@jersearls I love your initiative :+1: For your edification (if you weren't aware and to save you time in the future), we've (read: largely @gemantzu) have addressed the need for these issues with notices on translated lessons:

![image](https://user-images.githubusercontent.com/73386/93900980-41b5cb00-fcb3-11ea-9803-eaf26473146a.png)

In addition to that, each language has a generated "Translatio

[2020-09-22 15:20] jersearls commented on #2382
Oh excellent! I was just following the https://github.com/elixirschool/elixirschool/blob/master/CONTRIBUTING.md guide. Didn't know the process had changed.

[2020-09-22 15:22] doomspork commented on #2382
Oh! We should update that accordingly. @jersearls would you like to do that? If not I can :grin:

[2020-09-22 15:34] jersearls commented on #2382
On it.

[2020-09-22 15:45] jersearls commented on #2382
https://github.com/elixirschool/elixirschool/pull/2384

[2020-09-22 21:27] antedeguemon opened #2385 "[PT] Update Basics/Mix tasks to 1.2.0"
Basics/Mix tasks currently is at `1.1.0`. It lacks the `loading your application` section.

[2020-09-24 16:25] #2385 closed

[2020-09-26 21:41] thiamsantos opened #2390 "[PT] New translation: OTP Distribution"
## Motivation

The portuguese translation for the lesson [OTP Distribution](https://elixirschool.com/en/lessons/advanced/otp-distribution/) is missing.

## Proposed Solution

- First create a new file under the `pt` folder with the content of the lesson.

`cp en/lessons/advanced/otp-distribution.md pt/lessons/advanced/otp-distribution.md`

- Then translate the file at `pt/lessons/advanced/otp-dist

[2020-09-26 22:28] thiamsantos opened #2391 "[PT] New translation: Mox"
## Motivation

The portuguese translation for the lesson [Mox](https://elixirschool.com/en/lessons/libraries/mox/) is missing.

## Proposed Solution

- First create a new file under the `pt` folder with the content of the lesson.

`cp en/lessons/libraries/mox.md pt/lessons/libraries/mox.md`

- Then translate the file at `pt/lessons/libraries/mox.md`

## Tips

- Check the [contributing guidelines](

[2020-09-26 22:29] thiamsantos opened #2392 "[PT] New translation: StreamData"
## Motivation

The portuguese translation for the lesson [StreamData](https://elixirschool.com/en/lessons/libraries/stream-data/) is missing.

## Proposed Solution

- First create a new file under the `pt` folder with the content of the lesson.

`cp en/lessons/libraries/stream-data.md pt/lessons/libraries/stream-data.md`

- Then translate the file at `pt/lessons/libraries/stream-data.md`

## Tips

[2020-09-26 22:31] thiamsantos opened #2393 "[PT] New translation: Nerves"
## Motivation

The portuguese translation for the lesson [Nerves](https://elixirschool.com/en/lessons/specifics/nerves/) is missing.

## Proposed Solution

- First create a new file under the `pt` folder with the content of the lesson.

`cp en/lessons/specifics/nerves.md pt/lessons/specifics/nerves.md`

- Then translate the file at `pt/lessons/specifics/nerves.md`

## Tips

- Check the [contributi

[2020-09-26 22:42] thiamsantos opened #2394 "[PT] Update lesson: Ecto Associations"
## Motivation

The portuguese translation for the lesson [Ecto Associations](https://elixirschool.com/en/lessons/ecto/associations/) needs to be updated.
We need to update the version of the lesson from `1.0.1` to `1.2.1`.

## Proposed Solution

Translate the updates of the lesson.

We can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [cont

[2020-09-26 22:52] thiamsantos opened #2395 "[PT] Update lesson: Ecto Querying"
## Motivation

The portuguese translation for the lesson [Ecto Querying](https://elixirschool.com/pt/lessons/ecto/querying/) needs to be updated.
We need to update the version of the lesson from `1.0.3` to `1.2.0`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contributin

[2020-09-26 22:56] thiamsantos opened #2396 "[PT] Update lesson: Enum"
## Motivation

The portuguese translation for the lesson [Enum](https://elixirschool.com/en/lessons/basics/enum/) needs to be updated.
We need to update the version of the lesson from `1.5.0` to `1.6.1`.

Related #2382

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contrib

[2020-09-26 22:59] thiamsantos opened #2397 "[PT] Update lesson: GenStage"
## Motivation

The portuguese translation for the lesson [GenStage](https://elixirschool.com/en/lessons/advanced/gen-stage/) needs to be updated.
We need to update the version of the lesson from `1.1.0` to `1.1.1`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contributin

[2020-09-26 23:02] thiamsantos opened #2398 "[PT] Update lesson: Benchee"
## Motivation

The portuguese translation for the lesson [Benchee](https://elixirschool.com/en/lessons/libraries/benchee/) needs to be updated.
We need to update the version of the lesson from `1.0.1` to `2.0.0`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contributing

[2020-09-26 23:07] thiamsantos opened #2399 "[PT] Update lesson: Distillery"
## Motivation

The portuguese translation for the lesson [Distillery](https://elixirschool.com/en/lessons/libraries/distillery/) needs to be updated.
We need to update the version of the lesson from `2.0.1` to `2.0.2`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contrib

[2020-09-26 23:13] thiamsantos opened #2400 "[PT] Update lesson: Debugging"
## Motivation

The portuguese translation for the lesson [Debugging](https://elixirschool.com/en/lessons/specifics/debugging/) needs to be updated.
We need to update the version of the lesson from `1.0.1` to `1.1.2`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the [contribut

[2020-09-26 23:16] thiamsantos opened #2401 "[PT] Update lesson: Erlang Term Storage (ETS)"
## Motivation

The portuguese translation for the lesson [Erlang Term Storage (ETS)](https://elixirschool.com/en/lessons/specifics/ets/) needs to be updated.
We need to update the version of the lesson from `1.1.0` to `1.1.1`.

## Proposed Solution

Translate the updates of the lesson.

You can run `git diff` to see all differences between the versions of the lesson:

[code]

## Tips

- Check the

[2020-09-26 23:56] Zuruckt opened #2403 "About translating error messages"
Just forked this to help on translations, but I am unsure if I should translate error messages?

e.g:
[code]

Do I leave the error message as it is or do I translate it to the target language?

[2020-09-27 02:31] #2403 closed

[2020-09-29 15:32] konung opened #2405 ""Code Copy" button for code snippets"
@doomspork  per your suggestion

Related to this code pull https://github.com/elixirschool/elixirschool/pull/2378

--------------

## The problem

When I added "Copy" button to snippets, I realized  Elixir School has two types of code samples.

1. Actual copypaste codez
  a. *this works fine*
2. Output from shell to illustrate one point or another.
  a. *when copied, it grabs everything including

[2020-09-29 15:49] doomspork commented on #2405
@elixirschool/developers I would love to get some input on how we can enhance these examples to make them easier to copy.

[2020-09-30 21:09] thiamsantos commented on #2048
@tajchumber Are you still working on this? If not I would be glad to give it a try.

About the UI, I was thinking in adapt to the colors and UI of elixirschool, but add a search box similar to the one used in hexdocs. WDYT @elixirschool/developers ?

![image](https://user-images.githubusercontent.com/13632762/94739847-f9984780-0347-11eb-84cf-0ef6b21ab95d.png)

[2020-10-01 02:29] alessandraburckhalter commented on #2396
Hi there! Can I work on this?

[2020-10-01 04:54] vbrazo commented on #2396
@alessandraburckhalter yes, please :)

[2020-10-01 13:08] herminiotorres commented on #2401
I take this update lesson and I just sent a pull-request #2408

[2020-10-01 13:09] herminiotorres commented on #2399
I take this update lesson and I just sent a pull-request #2407

[2020-10-01 13:09] herminiotorres commented on #2397
I take this update lesson and I just sent a pull-request #2406

[2020-10-01 13:09] herminiotorres commented on #2398
I take this update lesson

[2020-10-02 14:58] thiamsantos commented on #2395
Closed by https://github.com/elixirschool/elixirschool/pull/2411

Thanks @elainenaomi :purple_heart: :tada:

[2020-10-02 14:58] #2395 closed

[2020-10-03 14:23] thiamsantos commented on #2397
Closed by #2406

Thanks @herminiotorres

[2020-10-03 14:23] #2397 closed

[2020-10-03 14:27] thiamsantos commented on #2401
Closed by #2408

Thanks @herminiotorres :tada: :metal:

[2020-10-03 14:27] #2401 closed

[2020-10-03 17:39] #2400 closed

[2020-10-03 17:48] thiamsantos commented on #2399
Closed by #2407

Thanks @herminiotorres :tada: :metal:

[2020-10-03 17:48] #2399 closed

[2020-10-03 21:30] pablohildo commented on #2394
Just worked on this, PR opened!

[2020-10-07 12:24] nscyclone commented on #2405
I've proposed a [PR to rouge](https://github.com/rouge-ruby/rouge/pull/1601) that should help to resolve the `iex> ` prompt issue. Unfortunately, Ruby is not my strong suit so I'd be glad if someone took a peek at this before the rouge team does so we could save some time if there is something obvious to work on.

[2020-10-07 18:39] konung commented on #2405
@nscyclone I didn't even know rouge existed :) so you are way ahead of the game there.  Nothing obvious jumps at me, unless there is something specific to the project, that rouge maintainers won't like.

Thank you!

[2020-10-10 14:41] tajchumber commented on #2048
@thiamsantos sorry I didn't have the time to work on this
if you want to give this a try please do! :)

[2020-10-16 21:53] thiamsantos commented on #2398
Closed by #2410 Thanks @herminiotorres

[2020-10-16 21:53] #2398 closed

[2020-10-16 21:54] thiamsantos commented on #2394
Closed by #2418

Thanks @pablohildo :tada:

[2020-10-16 21:54] #2394 closed

[2020-10-22 23:19] Sja91 commented on #1579
Just a small suggestion on top of this, perhaps change the empty circle to a moon icon.
I went on such a hunt to try to figure this out, and only just now did. The circle just never made me stop and think "Is this it?"

[2020-10-24 12:19] thiamsantos commented on #2048
I got a draft of the search working, but I'm not been able to find quality time to finish it. If anyone is available feel free to give it a try.

[2020-10-24 14:13] gemantzu opened #2456 "Refreshing - Visiting pushed content"
I am seeing some weird behaviour on the website:
I know I have pushed some PRs in, when I visit the translation report or the page fixed itself, it shows that the changes haven't been implemented. If I hit Ctrl + F5, it shows the corrected page / report.
If I simply refresh the page again, it shows the old one. I have seen this in my Firefox @ PopOS, and in a Safari and Chrome @ the MacOS of a fri

[2020-11-04 19:31] jaimeiniesta opened #2490 "HTML and accessibility issues"
Hello all, I've run a site-wide accessibility check on ElixirSchool.com that has scanned 700+ web pages on the site using [Axe Core](https://github.com/dequelabs/axe-core) and [W3C HTML validator](https://validator.w3.org/), and here are the results:

https://rocketvalidator.com/s/3791b569-6b56-4b15-af23-653d18625d72

We can take this issues list as an opportunity to make Elixir School a more acce

[2020-11-08 19:10] kmaglaras opened #2493 "[EN] Nerves.md"
Should redirect be removed, or is it still valid?

[2020-11-13 09:58] Exadra37 opened #2496 "Blog Live View With Presence: Usage of broadcast_from doesn't match signature in docs"
In the [Phoenix.PubSub](https://hexdocs.pm/phoenix_pubsub/Phoenix.PubSub.html#broadcast/4) docs report this usage for `broadcast_from/4`:

[code]

In this [blog post](https://elixirschool.com/blog/live-view-with-presence/) we have this code:

[code]

So, based on the docs I was expecting to see the usage of `self()` as the second parameter, not as the first.

[2020-11-15 22:08] thiamsantos commented on #2396
Closed by #2409

[2020-11-15 22:08] #2396 closed

[2020-11-16 21:46] thiamsantos commented on #2390
Closed by #2412

[2020-11-16 21:46] #2390 closed

[2020-11-18 14:03] thiamsantos commented on #2393
Closed by #2419

[2020-11-18 14:03] #2393 closed

[2021-01-12 15:58] sleepiejohn opened #2522 "[Suggestion] Provide code comparison between Elixir and imperative languages"
In the basics lessons, such as Enum, we could provide some examples of pseudo imperative language, so the student would assimilate their previous code with a new way of expressing the same intent. Think of learn by translating between spoken languages. For example given Enum:

Adding, could help remembering what to reach for when facing the same problem, with a known solution in student's previous

[2021-01-14 19:29] AdrielBento opened #2524 "[PT] Fix typo: OTP Supervisors"
🔧 Fix typo to pt/lessons/advanced/otp-supervisors.md

[2021-01-14 19:32] AdrielBento commented on #2524
closed by  [#2525](https://github.com/elixirschool/elixirschool/pull/2525)

[2021-01-14 19:32] #2524 closed

[2021-01-21 18:57] doomspork commented on #2522
This is a great idea @sleepiejohn. I've been thinking about overhauling the homepage to better "sell" Elixir. Highlighting some key benefits and strengths.

I think a blog post could also be useful if you wanted to contribute something like that :grinning:

[2021-01-22 17:10] sleepiejohn commented on #2522
Nice! Yeah a blog post could be useful for now since we can then expand into more idioms we see people struggling with. I will see what I can come up with in the weekend

[2021-01-30 16:20] ItzaMi opened #2539 "Worked on an Elixir School PR and now my localhost:4000 is always defaulting to localhost:4000/en with Elixir School content"
The title is quite long but I'm wondering if this has happened to anyone before since before working on `elixir school` everything was going ok.
On Chrome I was able to fix this by clearing the `Cache Storage` but when I do changes to my Phoenix project my `localhost:4000` updates to the regular phoenix template page and I have to `hard refresh` the page to see my changes.

On Firefox I'm not even

[2021-01-30 23:16] thiamsantos opened #2540 "[PT] New translation: NimblePublisher"
## Motivation

The portuguese translation for the lesson [NimblePublisher](https://elixirschool.com/en/lessons/libraries/nimble-publisher/) is missing.

## Proposed Solution

- First create a new file under the `pt` folder with the content of the lesson.

`cp en/lessons/libraries/nimble-publisher.md pt/lessons/libraries/nimble-publisher.md`

- Then translate the file at `pt/lessons/libraries/nimbl

[2021-01-31 01:38] #2391 closed

[2021-02-02 18:02] doomspork commented on #2490
Sorry for the delay in getting back to you @jaimeiniesta, I've been overwhelmed with notifications on Github this year :cold_sweat:

I think this is a _great_ idea. I'm currently in the process of updating the site to use TailwindCSS and Phoenix. I hope these changes will make things easier to maintain and iterate on. Improving the responsiveness of the site along with accessibility would be wonde

[2021-02-03 12:53] jaimeiniesta commented on #2490
No problem @doomspork ! We're all super busy these days...

Moving to Tailwind and Phoenix is an awesome idea. I recently migrated Rocket Validator to Tailwind and Phoenix LiveView and the results are amazing, the new interface is super responsive.

Here's an updated report - just so you can check the new interface

https://rocketvalidator.com/s/3791b569-6b56-4b15-af23-653d18625d72

I'll be happy