[2015-06-01 02:08] doomspork opened #3 "Add Testing section"

[2015-06-01 02:08] doomspork opened #4 "Add Error Handling section"

[2015-06-01 02:08] doomspork opened #5 "Add Concurrency section"

[2015-06-01 02:08] doomspork opened #6 "Add Mix section"

[2015-06-01 02:54] doomspork opened #7 "Add Documentation section"
Go over `@moduledoc` and `@doc`.

[2015-06-01 03:23] doomspork opened #8 "Add Metaprogramming section"

[2015-06-01 03:27] doomspork opened #9 "Add Pattern Matching section"

[2015-06-10 05:36] #9 closed

[2015-08-21 01:32] #6 closed

[2015-09-03 03:01] #3 closed

[2015-09-03 03:35] doomspork commented on #7
This should also include `@doctest`

[2015-09-03 04:55] doomspork opened #16 "Ecto Lesson"

[2015-11-08 19:13] doomspork commented on #16
Closed via #20

[2015-11-08 19:13] #16 closed

[2015-11-13 04:39] #5 closed

[2015-11-28 14:22] asarode opened #23 "Content in sidebar is hidden"
Looks like you've got a lot of lessons now! The sidebar hides the content for me and I'm not able to scroll.  I'm sending along a pull request to fix the issue.

<img width="509" alt="sidebar content hidden" src="https://cloud.githubusercontent.com/assets/4860899/11452314/0e1efbfc-95a9-11e5-88e7-eb2c51528493.png">

[2015-11-28 16:29] doomspork commented on #23
Closed via #24.

Thanks again @asarode :+1:

[2015-11-28 16:29] #23 closed

[2015-11-30 02:15] erickgnavar opened #25 "Spanish translation"
Hi, I would like to contribute to translate the repo to spanish, could you guide me how to proceed?

Thanks

[2015-11-30 05:11] doomspork commented on #25
Whoa!  @erickgnavar that would be __awesome__!  I'm not entirely sure how we'd go about doing that but I will make it a priority this week to investigate.

[2015-11-30 17:00] luizvarela opened #27 "Missing Supervisor code on Ecto migrations example"
In the chapter about `Ecto`, specifically in `Migration` topic, I think that you miss explaining the `Supervisor` part. When we generate an `mix` application without `--sup`  we don't get the `Supervisor` code and we must put it manually and if you try to run the migrations the code doesn't run.

https://github.com/elixir-lang/ecto/blob/master/examples/simple/lib/simple.ex#L4

Maybe you skipped th

[2015-11-30 17:53] doomspork commented on #27
Thanks for pointing that out @luizvarela, I agree it's important.  I'm working on some new lessons and updates to others, I'll add this to the list.

Thanks again :+1:

[2015-11-30 19:30] luizvarela commented on #27
That's great @doomspork, I can help you with some reviews. :smile:

[2015-11-30 19:33] doomspork commented on #27
That'd be great!  I'll tag you in a PR later today.  Thanks for your help @luizvarela.

[2015-12-01 03:24] #27 closed

[2015-12-01 05:09] ZuraGuerra commented on #25
Hi! I'd like to help translating too. :)

[2015-12-01 19:14] pjhampton commented on #7
Hey doomspork.

Have you assigned anyone to this yet? If not, I would be keen to contribute.

pj

[2015-12-02 03:34] doomspork commented on #7
@pjhampton that would be stellar, thank you.

My initial plan was to cover `@moduledoc`, `@doc`, and `@doctest` but I'm open to suggestions.  If you'd like to discuss, you can ping me on Slack as `seanc`.

[2015-12-03 01:26] doomspork commented on #25
@erickgnavar & @ZuraGuerra thanks again for your offer!

I was looking into our options for Jekyll and found [this blog post](http://brendamour.net/en/2014/08/03/multilingual-jekyll-how-to-post-in-more-than-one-language/).  I like the approach outlined as opposed to the traditional i8ln language files.  Do either of you have any thoughts?

Super excited to get this kicked off.  Thanks again :+1:

[2015-12-03 01:47] 3100 commented on #25
Hi, I'm translating this site into Japanese at repos https://github.com/3100/elixir-school and its url is https://3100.github.io/elixir-school . It may be easier to build each languages' website as github project pages if you don't care its url, though it will need some changes to work with subdirectory. (See my [branch](https://github.com/3100/elixir-school/commits/japanese) for more detail.)

Of

[2015-12-03 03:22] doomspork commented on #25
@3100 that's awesome!  It's great to hear other people are using/enjoying/contributing!

I _think_ it's best to keep all of the content together in the same repo.  Then we can maximize everyone's efforts and keep lessons in-sync easier.  I've got time this week so I'm going to look into ways to handle hosting these different translations on elixirschool.com (and Jekyll).

This is really exciting!

[2015-12-03 04:40] erickgnavar commented on #25
I don't have experience with Jekyll but I think is better have all the translations in the same repo, the files can be separate by folders per language (like the [Django Girls tutorial](https://github.com/djangogirls/tutorial)) or follow the the tutorial.

[2015-12-03 19:19] ZuraGuerra commented on #25
I haven't used Jekyll either, do you suggest any reading aside from the docs? I also think it would be better to have every language under the same repo.

I checked @doomspork link and according to it (please, correct me if I got it wrong) we could add the posts to language folders under lessons/advanced, lessons/basics and lessons/specifics.

[2015-12-04 02:20] doomspork commented on #25
Alright!  I was able to make some progress this evening on setting up multi-language support.  I'm going to clean it up a bit more and then push a PR for review.

Here it is in action:

![multi-lang](https://cloud.githubusercontent.com/assets/73386/11580265/48d6d61c-99ea-11e5-8e5b-4181009b5ce6.gif)

[2015-12-08 02:37] doomspork commented on #25
Support for translations has been merged! :tada:

Any suggestions on how about managing this?  Should we create GitHub issues for each language and lesson?  I'd be glad to add active contributors to the repo to speed things up.

[2015-12-08 03:39] erickgnavar commented on #25
Awesome, I think that creating a issue per language and lesson is a good idea, I have a few translated lessons I'll make a PR tomorrow.
Again, great work 👍

[2015-12-08 04:09] 3100 opened #33 "Japanese translation"
Here I will create translated files; any advice, reviews and/or tips are welcome:

- [x] index.md
- Basic
  - [x] basics.md
  - [x] collections.md
  - [x] composition.md
  - [x] control-structures.md
  - [x] enum.md
  - [x] functions.md
  - [x] mix.md
  - [x] pattern-matching.md
  - [x] testing.md
- Advanced
  - [x] concurrency.md
  - [x] erlang.md
  - [x] escripts.md
  - [x] otp-concurrency.md

[2015-12-08 04:20] 3100 commented on #25
Great :tada:

[2015-12-08 04:41] ZuraGuerra commented on #25
@erickgnavar, on which lessons are you working? If you are translating Basics, I can start with the Advanced section tomorrow.

[2015-12-08 04:44] erickgnavar commented on #25
Yes, I'm working on basic lessons.

[2015-12-08 04:48] ZuraGuerra commented on #25
Nice!

[2015-12-08 05:02] doomspork commented on #33
Awesome work @3100!

[2015-12-12 22:48] doomspork opened #37 "Spanish Translation: Basic Lessons"
- [x] index.md
- Basics
  - [x] basics.md
  - [x] collections.md
  - [x] enum.md
  - [x] pattern-matching.md
  - [x] control structures.md
  - [x] functions.md
  - [x] composition.md
  - [x] mix.md
  - [x] testing.md

[2015-12-12 22:48] doomspork opened #38 "Spanish Translation: Advanced Lessons"
- Advanced
  - [ ] concurrency.md
  - [ ] errors.md
  - [ ] erlang.md
  - [ ] escripts.md
  - [ ] otp-concurrency.md
  - [ ] otp-supervisors.md
  - [ ] metaprogramming.md

[2015-12-12 22:49] doomspork opened #39 "Spanish Translation: Specific Lessons"
- Specifics
  - [x] ecto.md
  - [x] plug.md
  - [x] ets.md
  - [x] eex.md

[2015-12-12 22:52] doomspork commented on #25
@erickgnavar & @ZuraGuerra I'm going to close this issue now that we've sorted out the translation stuff.

I created three separate issues for the actual translations.  Let me know your thoughts:

#37 — Spanish Basic Lessons
#38 — Spanish Advanced Lessons
#39 — Spanish Specific Lessons

[2015-12-12 22:52] #25 closed

[2015-12-13 21:05] ZuraGuerra commented on #25
That's perfect!

[2015-12-14 08:01] doomspork commented on #33
Closed via #35.  Thanks again @3100 :+1:

[2015-12-14 08:01] #33 closed

[2015-12-16 03:22] erickgnavar commented on #37
Hi @doomspork, I'm working in this section could you assign me this issue for update its status?

[2015-12-16 23:32] doomspork commented on #37
Sure @erickgnavar, I can do that tonight.  I'll add you to as a collaborator on the repo.  Please stick to PRs for major changes :+1:

[2015-12-17 03:29] doomspork commented on #37
@erickgnavar you've been added to the project.  Thanks again for your help :grinning:

[2015-12-17 03:40] erickgnavar commented on #37
Thanks :+1:

[2015-12-17 05:10] doomspork commented on #37
Thank __you__ for your help with these translations.

[2015-12-23 00:11] doomspork opened #49 "Japanese Translations Updates"
# Basics
- [x] Modules (`Compositions` are added) #447
- [x] Sigils #410
- [x] Documentation #448
- [x] Comprehensions #449
- [x] Strings #428
- [x] Custom Mix Tasks #532
# Advanced
- [ ] Error Handling
- [x] Umbrella Projects
# Specifics
- [ ] Embedded Elixir
- [ ] Mnesia

[2015-12-24 03:13] doomspork opened #50 "Lesson Suggestions"
This can serve as a place for folks to suggest new lessons.

Suggested lessons:

**Advanced:**
- [ ] OTP Architecture
- [ ] Distribution
- [ ] GenStage

**Specifics:**
- [ ] Creating a DSL
- [ ] Leex & Yecc
- [ ] Dialyzer / Debugging (created #566 )
- [ ] Hex Docs

**Libraries:**
- [ ] Guardian (in-progress #431)
- [ ] exrm
- [ ] Bamboo

[2015-12-26 01:26] #8 closed

[2015-12-26 18:00] doomspork opened #52 "Incorporate Elixir 1.2 changes into lessons"
Elixir 1.2 introduced a number of changes we should incorporate into lessons:

  * The addition of multi aliases/imports/require:

        alias MyApp.{Foo, Bar, Baz}

  * Support for variables in map keys:

        %{key => value}

  * Support for the pin operator in map keys and function clauses:

        %{^key => value} = %{key => value}
        fn ^key -> :ok end

  * Addition of the `with` s

[2015-12-26 19:33] doomspork opened #53 "Add section on require, alias, import, and use."
This can be added to the Composition lesson.

[2015-12-26 19:57] doomspork commented on #50
Two additional lesson that could either be lessons or just a section in another lesson: sigils and comprehensions

[2015-12-28 04:31] milmazz commented on #39
@doomspork Is somebody working on this right now?

[2015-12-28 04:47] doomspork commented on #39
Hi @milmazz, I don't think so.  @erickgnavar is leading the charge on the Spanish translations so he'd be the best person to ask :grinning:

Thank you for your interest & Happy Holidays!

[2015-12-28 18:15] doomspork opened #55 "Liquid template variables {{ }} conflict with code blocks"
Liquid assumes all uses of `{{ }}` are for variables, even inside code blocks.  This became apparent when the ETS lesson was deployed:

[code]

Temporary workaround is to add a space: `{ {:"$1", :"_", :"$3"}`.  Gotta find a better solution.

[2015-12-28 20:22] milmazz commented on #55
@doomspork You can use `{% raw %} .. `{% endraw %}` block, which you can temporarily disables tag processing. I'll fix that in a moment.

[2015-12-28 20:31] #55 closed

[2015-12-28 20:33] milmazz commented on #39
@doomspork @erickgnavar Great! working on `ecto.md` right now.

[2015-12-28 20:33] doomspork commented on #39
Awesome @milmazz, thanks for your help.

[2015-12-28 20:36] erickgnavar commented on #39
@milmazz :+1:

[2016-01-14 16:59] cizixs opened #61 "Chinese Translation: Basic Lessons"
Hey, I want to translate this wonderful tutorial into Chinese, following is my progress right now.

- [x] index.md
- Basics
    - [X] basics.md
    - [X] collections.md
    - [X] enum.md
    - [X] pattern-matching.md
    - [X] control structures.md
    - [X] functions.md
    - [x] composition.md
    - [x] mix.md
    - [x] testing.md

[2016-01-14 17:02] cizixs opened #62 "Comparison section in basic.md is missing."
Hey, I noticed that the comparison section in basic.md is left empty.

I think it should be added.

[2016-01-14 17:40] doomspork commented on #62
Good catch @cizixs, agreed :+1:

[2016-01-14 17:40] doomspork commented on #61
That's amazing @cizixs!  Let me know if there's anything you need help with.

[2016-01-15 14:21] cizixs commented on #61
@doomspork The translation is going fine. Just a little confused how to do the PR:

1. send a PR after translating every chapter: basics, advanced and specifics
2. send a PR after translating all content into Chinese.

which one is recommended?

[2016-01-15 17:01] doomspork commented on #61
Hi @cizixs, I'm open to whatever works best for you.  Personally I think it's easiest to do three separate PRs, one for basics, advanced, and specifics.

[2016-01-15 17:03] doomspork commented on #49
Hi @3100, would you be open to translating the latest lessons into Japanese?

[2016-01-15 17:04] doomspork commented on #7
Hi @pjhampton, still thinking of contributing this lesson?

[2016-01-15 17:39] pjhampton commented on #7
Hey @doomspork. Hell yeah! Sorry, I have just been a bit busy with work and the holidays. I will have a draft by sometime early next week. Don't mean to hold this up!

I will just gist an **.md** so we can discuss the content, instead of a commit.

[2016-01-15 19:50] doomspork commented on #7
That's great to hear @pjhampton.  Don't mean to rush you, just checking in. :grinning:

[2016-01-15 20:06] pjhampton commented on #52
Hey @doomspork,

Maybe worth considering the removal of `Dict` as well from [collections](http://elixirschool.com/lessons/basics/collections/#dicts) as they have been *softly deprecated* as of [Elixir v1.2](http://elixir-lang.org/docs/v1.2/elixir/Dict.html). This is also the case for HashDict but I didn't come across any material on Elixir School.

[2016-01-15 20:17] doomspork commented on #52
Great point :+1:

[2016-01-17 19:22] #52 closed

[2016-01-17 20:15] viktorot opened #67 "Advanced section, lesson 1 - Strings"
The section says that Erlang strings are represented with single quotes. This is unfortunately incorrect. Strings in Erlang are represented with double quotes, the same as in Elixir.

As for single quotes, they are used to represent atoms that contain spaces, uppercase letters or any other characters that are "unconventional" for atoms.

You can find the documentation for it [here](http://www.erla

[2016-01-17 20:24] doomspork commented on #67
Thanks @viktorot, I'll open a PR with changes momentarily.  :grinning:

[2016-01-17 21:00] #67 closed

[2016-01-17 21:01] #62 closed

[2016-01-17 21:01] doomspork commented on #61
Merged in #65

[2016-01-17 21:01] #61 closed

[2016-01-17 21:02] #53 closed

[2016-01-18 19:34] pjhampton commented on #7
See this [gist](https://gist.github.com/pjhampton/ebe23982781418954741) @doomspork

Still pretty raw, as I have only spent an hour on it so far. Still needs tidied up, proof read, etc. Some constructive feedback would be appreciated.

**Thoughts**

* We will leave doc testing to the Testing section, I will add that separately.
* We will add a *best practice* / * recap* section at the end.
* Talk a

[2016-01-18 19:55] doomspork commented on #7
Hey @pjhampton, I'll look this over today and leave you my thoughts.  Thanks again for helping out.  Always excited to have new contributors!  :+1:

[2016-01-19 07:08] cizixs opened #71 "Translation version control"
Right now I am translating into tutorial into Chinese, and find out a issue: **How to keep translation up to date?**

There are updates on previous lessons, which makes my translation out of date. The obvious way to solve this is to go through commit logs and find out the updated content, then add another patch.

Do you guys have a better way to work on this one?

[2016-01-19 07:21] doomspork commented on #71
@cizixs this is a great question!  I don't have a good solution so I'm open to any suggestions you have.  So far I've been trying to keep up with changes in #49 for @3100 but I don't know if that's working out well.

As the folks handling the translations, what would make it easiest on you?

ping @milmazz, @erickgnavar, @3100

[2016-01-19 23:55] doomspork commented on #7
@pjhampton it's looking good!  Thanks again for taking the initiative on this.

[2016-01-21 05:43] cizixs opened #72 "Chinese Translation"
Hey, I plan to translate the final section into Chinese:
- basics
  - [ ] documentation.md
  - [ ] sigils.md
  - [ ] Custom Mix Tasks
- advanced
  - [ ] errors.md
- specifics
  - [x] etco.md
  - [ ] plug.md
  - [ ] ets.md
  - [ ] eex.md

[2016-01-21 05:45] doomspork commented on #72
@cizixs I've added you as a collaborator so you can tag issues and assign yourself to them :+1:

Let me know if you've got any questions!

[2016-01-21 07:22] cizixs commented on #72
@doomspork Cool! This is convenient.

[2016-01-21 10:21] pjhampton commented on #7
Ahh, all signed up now :+1: I'm @pjhampton as usual.

We'll connect soon. Let me just clean this up as it's still a bit of a grammatical nightmare!

[2016-01-22 23:05] doomspork opened #75 "Improve Elixir School's SEO"
Not my area of expertise.  Going to use this issue as a place to gather information and plan out a strategy.

[2016-01-22 23:19] pjhampton commented on #75
It doesn't seem like there is much on Jekyll SEO from the [Jekyll Blog](http://jekyll.tips/tutorials/seo/), just a couple of tips. What has been done and not from this post with Elixir School?

[2016-01-22 23:21] pjhampton commented on #50
Do you mean a lesson on existing sigils or creating custom sigils?

[2016-01-22 23:31] doomspork commented on #50
I would like to cover both topics actually!  They could certainly be in the same lesson.

[2016-01-22 23:32] pjhampton commented on #50
Ok, cool. I can certainly try and tackle this one!

[2016-01-22 23:32] doomspork commented on #75
I have done _nothing_ towards SEO.  I just noticed that Googling for different Elixir resources didn't return Elixir School for many searches.

[2016-01-22 23:36] doomspork commented on #50
That's great!

@pjhampton as I've done with other contributors I'll add you to the repo so you can assign issues to yourself and update them.  I do ask that big changes go in via PR so they can be reviewed and we can ping folks doing translations.  Sound good?

Master is deployed on merge.

[2016-01-23 07:28] 3100 commented on #49
I am sorry that I was busy in recent weeks.
Now I work with some new lessons in [49-japanese-translations-updates](https://github.com/doomspork/elixir-school/tree/49-japanese-translations-updates).

[2016-01-23 10:09] pjhampton commented on #50
Sounds good! I will get started with Sigils this week coming.

[2016-01-23 19:00] doomspork commented on #49
Hey @3100!  No need to apologize, I figured you were busy.  Hope you are well, thanks again for the help :grinning:

[2016-01-24 18:48] doomspork commented on #7
Closed by #74.  Thanks again @pjhampton :+1:

[2016-01-24 18:48] #7 closed

[2016-01-24 19:20] milmazz commented on #71
@doomspork I think it's really hard to keep synchronized all the content, for example, in some translations of the official pages about [Debian](https://www.debian.org/) they offer a note that says something like:

So, with this in mind, we can set a new variable in the frontmatter, let's say `version` and the link to the original document in English, if both versions differ then we put the note i

[2016-01-24 19:31] milmazz commented on #39
@doomspork Please check the `EEx`, it's already done.

[2016-01-24 22:16] doomspork commented on #39
@milmazz done!  You should now be able to toggle those checkboxes :+1:

[2016-01-25 13:34] pjhampton commented on #75
It seems like a good idea.

How do we measure this though? Some would argue SEO is never *really* done, and is more of a rolling effort. Maybe I could compile a list of tasks based on some research and work from there?

[2016-01-25 13:47] pjhampton opened #79 "Add Style Guide."
It seems that the number of contributors of this project is growing. In my opinion it would be good to have a *rough style guide* in which all authors should work to. This is drawn from my experience with the documentation lesson. Examples could include:

- Omit IEx numbers.

[code]

- Using `$` to denote terminal prompt

[code]

This could be added as a separate file, to the contributor file, or

[2016-01-25 14:53] milmazz commented on #79
@pjhampton I think this is a great idea, but, I think this style guide should be explained in the `CONTRIBUTING.md` file instead of the `README.md`.

[2016-01-25 16:30] doomspork commented on #79
This is a great idea @pjhampton :+1:

Don't forget the Wiki if that's easier than a file under version control.  We could consider moving the translation guy to the Wiki as well.

[2016-01-25 16:32] doomspork commented on #75
@pjhampton I haven't really thought about how to measure this _yet_.  Right now there is no SEO and there should be some.  Googling for Elixir resources should return Elixir School.

I reached out to some former colleagues who work in SEO.  I'll update the issue as I get more information from them.

[2016-01-25 16:34] doomspork commented on #71
I like the idea of adding a note to the translated versions.  Great suggestion @milmazz.

I'll take a look at Transifex later this week.

[2016-01-25 21:23] doomspork commented on #75
After a bit of thought I came up with a simple milestone:

+ Elixir School should be on the first page of any Elixir resource, learning material, or tutorial search.

How does that sound?  The plan would be to work incrementally towards that goal.

Two tools that were recommended to me:

+ https://en.onpage.org/
+ https://moz.com/tools/seo-toolbar

[2016-01-25 21:24] doomspork commented on #4
Closing this because it's tracked in #50 along with other lessons and suggestions.

[2016-01-25 21:24] #4 closed

[2016-01-29 09:19] pjhampton commented on #79
Ok, cool! I will take this on during the weekend. I think we will put it in the wiki to begin with, and depending on how it is going to be, maybe we can move it?

[2016-02-01 16:46] doomspork commented on #79
That sounds good to me @pjhampton.  Let me know if there's anything I can help with.

[2016-02-01 16:50] pjhampton commented on #79
Thanks @doomspork! Maybe I spoke too soon on the Style Guide implementation.

I decided to focus on completing the Sigils lesson first which will I aim to create a pull request in the 48 hours. After that I will get back to the SG activities.

[2016-02-01 16:52] doomspork commented on #79
All good in the hood.  Just making myself available to help :grinning:

[2016-02-01 21:35] doomspork commented on #79
I had some downtime today so I started on this, let me know your thoughts: https://github.com/doomspork/elixir-school/wiki/Lesson-Styleguide.

Feel free to make changes.  We can use this issue to discuss proposed styles, sound good?

[2016-02-01 21:37] doomspork commented on #79
Once we get an initial version nailed down let's not forget to link from the README and CONTRIBUTIING.md.

[2016-02-01 22:05] doomspork commented on #39
This is now done!  :tada:

Thanks @milmazz, @jesusangelm, and @erickgnavar :+1:

[2016-02-01 22:05] #39 closed

[2016-02-02 00:14] doomspork commented on #71
@milmazz do you recall which other OSS projects used Transifex?  I want to see how other people are using it.

[2016-02-02 23:45] doomspork commented on #50
I started on "Creating a DSL" lesson but I'm not entirely sure _what_ DSL to build.  Most of the existing examples create new types of assertions but I'd like to do something different.  Any thoughts @pjhampton?

[2016-02-03 12:35] pjhampton commented on #50
@doomspork I will get back to you on this once I have done some thinking.

[2016-02-03 12:42] pjhampton opened #86 "Rearrange 'Basic' lessons"
It it possible we could rearrange the lessons from:
[code]
to
[code]

This is so it logically flows better when talking about doc testing (which doesn't exist yet, I believe). I wanted to bring this up here first just incase it breaks anyones workflow.

[2016-02-03 12:43] pjhampton commented on #79
This looks really swell @doomspork, thanks! I will add some stuff later on.

[2016-02-03 15:22] milmazz commented on #71
@doomspork Right now I recall [Django](https://www.transifex.com/django/django/) and [Turpial](https://github.com/satanas/Turpial) (a Twitter client written in Python). But both projects use Transifex to offer translations for their source code base, not for their sites. Maybe we need to find better examples for our use case.

[2016-02-03 16:33] doomspork commented on #86
Sure!  Feel free to open a PR with them re-org for review :grinning:

[2016-02-03 17:19] pjhampton commented on #86
Cool stuff @doomspork! Reworked in PR #85.

[2016-02-03 17:19] #86 closed

[2016-02-04 22:58] doomspork commented on #72
@cizixs I updated this issue so it applies for all Chinese translations, is that okay?  There were a few new lessons.

[2016-02-05 18:46] doomspork commented on #50
Go for it @pjhampton :grinning:

[2016-02-07 01:18] tiagobarreto opened #89 "Portuguese Translation: Basic Lessons 🇧🇷"
- [x] index.md
- Basics
 - [x]  basics.md
 - [x]  collections.md
 - [x]  enum.md
 - [x]  pattern-matching.md
 - [x]  control structures.md
 - [x] pipe-operator.md
 - [x]  functions.md
 - [x]  composition.md
 - [x]  mix.md
 - [x]  sigils.md
 - [x]  documentation.md
 - [x]  testing.md

[2016-02-07 15:33] roadev commented on #37
I'm helping to fix some grammatical errors (some: "tildes" and typo errors).

[2016-02-07 16:52] doomspork commented on #37
Thank you @roadev!

[2016-02-07 16:59] tiagobarreto opened #91 "Missing content in Spanish Translation"
Some topics are not translated.

- Básico
  - [ ] Comparación {Missing content}
- Coincidencia de Patrones
  - [ ] Operador Pin {Update content}

[2016-02-18 20:11] KaoruDev opened #95 "Moving through lessons at bottom of page"
In mobile view it's frustrating to scroll all the way back to the top to get to the next or prev lesson, would be awesome to have links at the bottom of the page to continue the lesson.

[2016-02-18 20:12] doomspork commented on #95
Hi @KaoruDev, are you referring to Previous and Next links?

[2016-02-18 20:14] KaoruDev opened #96 "Better mobile menu"
![image](https://cloud.githubusercontent.com/assets/5273755/13156753/e3229d48-d638-11e5-9d33-f1a09c86bf36.png)

it's frustrating to be viewing this on a phone and see the massive navbar take up the entire page.

would be nice to have a slide menu ( responsive only )

https://codyhouse.co/gem/3d-bold-navigation/
might be cool.

[2016-02-18 20:14] KaoruDev commented on #95
yep!

[2016-02-18 20:16] doomspork commented on #95
Good suggestion!  I'll take a look at how others have accomplished this in Jekyll.

[2016-02-18 20:18] KaoruDev opened #97 "Be able to see Diff"
![image](https://cloud.githubusercontent.com/assets/5273755/13156848/6e51a0a8-d639-11e5-817d-64060dff2e36.png)

I'm not even sure how this would work, but it would be nice to highlight the diff in between code:

![image](https://cloud.githubusercontent.com/assets/5273755/13156874/93e22c02-d639-11e5-9020-4e53300ef87f.png)

or even maybe an arrow that points to what is different in the code.

[2016-02-18 21:18] doomspork commented on #97
@KaoruDev this could be a very helpful addition.  Would you be interested in researching some options for how we might best achieve this?

[2016-02-18 21:19] KaoruDev commented on #97
i have it on my to do list, but if someone else picks it up that's cool too

[2016-02-18 21:20] doomspork commented on #97
Thanks :+1:

[2016-02-19 13:27] brain-geek opened #99 "Russian translation: Basic Lessons status"
- [x] Collections
- [x] Enum
- [x] Pattern Matching
- [x] Control Structures
- [x] Pipe Operator
- [x] Functions
- [ ] Composition
- [ ] Mix
- [ ] Sigils
- [ ] Documentation
- [ ] Testing

[2016-02-24 17:54] pragmaticivan commented on #89
Update this?

[2016-02-24 17:55] doomspork commented on #89
@pragmaticivan if you're interested in continuing your contributions, I'd be glad to add you to the repo so you can help with these things.  Only request is that big changes go through PR so there's an opportunity for comment (24-48 hours).  Thanks again!

[2016-02-24 17:56] doomspork commented on #89
Updated :+1:

[2016-02-24 17:57] pragmaticivan commented on #89
I do have plans in continuing my contributions.

[2016-02-24 17:58] doomspork commented on #89
Great, I will add you now.  Thank so much @pragmaticivan :grinning:

[2016-02-24 17:59] doomspork commented on #79
I'm going to close this issue since we have the styleguide in place.

[2016-02-24 17:59] #79 closed

[2016-02-26 20:41] pragmaticivan commented on #89
Just for tracking, I'm working on testing.md. The last basic one.

[2016-02-26 21:03] pragmaticivan opened #118 "Best Practices in Testing"
If there's no `Best Practices` content, why are we keeping this area in `testing.md` ? should we remove until someone send this data?

[2016-02-26 21:12] pragmaticivan commented on #89
Basic is ready :D Can you tweet about the basic section in Portuguese @doomspork Would like to attract more Brazilians to contribute to this project.

[2016-02-26 21:59] doomspork commented on #118
That's a good point @pragmaticivan.  @pjhampton any thoughts on whether we should come up with some content or remove this?  If either of you have suggestions for topics I can sit down and work on it.

[2016-02-26 22:01] doomspork commented on #89
@pragmaticivan I will do that shortly!  Thanks @pragmaticivan

[2016-02-26 22:02] pjhampton commented on #118
@pragmaticivan @doomspork let's remove it _for now_ and we'll come back to this later. I say this because we discussed adding Best Practices / FAQs at the end of each lesson.

[2016-02-26 22:02] doomspork commented on #118
That sounds good to me.  Do either of you want to tackle removing it across the languages?  Please use a PR.

[2016-02-27 13:54] pjhampton commented on #118
@doomspork @pragmaticivan On it! :smile:

[2016-02-27 21:55] pragmaticivan opened #122 "Portuguese Translation: Advanced Lessons 🇧🇷"
- Advanced
 - [x]  concurrency.md
 - [x]  erlang.md
 - [x]  error-handling.md
 - [x]  escripts.md
 - [x]  metaprogramming.md
 - [x]  otp-concurrency.md
 - [x]  otp-supervisors.md
 - [x] umbrella-projects.md

[2016-02-27 21:56] pragmaticivan opened #123 "Portuguese Translation: Specifics Lessons 🇧🇷"
- Specifics
 - [x]  ecto.md
 - [x]  eex.md
 - [x]  ets.md
 - [x]  mnesia.md
 - [x]  plug.md

[2016-02-27 22:16] pragmaticivan commented on #122
@brunoasantos in case you want to pick any file, just comment here which one you're working with, so I can take another one.

[2016-02-27 22:58] doomspork commented on #122
Teamwork :boom:

Thank you guys for all your help, it's much appreciated.  Let me know if there's anything I can do to help.

[2016-02-28 00:11] pragmaticivan commented on #89
WIP: pipe-operator.md (@pragmaticivan)

[2016-02-28 20:27] pragmaticivan commented on #89
The last one is in #126 .

[2016-02-28 20:36] pragmaticivan commented on #118
I think we can close this one? right @doomspork ?

[2016-02-28 20:37] doomspork commented on #118
Correct @pragmaticivan :+1:

[2016-02-28 20:37] #118 closed

[2016-02-28 20:42] pragmaticivan commented on #89
Close this one as well? @doomspork

[2016-02-28 20:46] doomspork commented on #89
:+1:

[2016-02-28 20:46] #89 closed

[2016-02-28 21:28] pragmaticivan opened #127 "Proposal for Github Issues and PR templates"
I think it's a good time to provide a good template for Issues and PR

[2016-02-28 21:30] pragmaticivan commented on #127
#Proposal for ISSUES:
--------------------------------------------------------------------------------------------------------------
#### Description
A clear and concise description of what the issue is about.

#### Screenshots
![Downhill Windmills](http://i.giphy.com/KO8AG2EByqkFi.gif)

#### Files
A list of relevant files for this issue. This will help people navigate the project and offer some c

[2016-02-28 21:35] pragmaticivan commented on #127
# Proposal for Pull Request
----------------------------------------------------------------------------------------

## Proposed changes

Describe the big picture of your changes here to communicate to the maintainers why we should accept this pull request. If it fixes a bug or resolves a feature request, be sure to link to that issue.

## Types of changes

What types of changes does your code in

[2016-02-28 21:35] pragmaticivan commented on #127
Extra info about the template system:
https://help.github.com/articles/creating-an-issue-template-for-your-repository/
https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/

[2016-02-28 22:00] pjhampton commented on #127
@pragmaticivan Ahh, @doomspork and I were chatting about this over slack the other day and we agreed it was a good idea. We would need a Lesson Suggestion one as well. Do you want to take this forward or do you want to leave this with me?

[2016-02-28 22:04] pragmaticivan commented on #127
I think we first need to agree with the templates, so would be good a generic one, including some optional checklist in case of lessons. Do you guys can add some suggestions here in this issue?

[2016-02-28 22:04] pragmaticivan commented on #127
The one I posted above are generic, and maybe we can add more checklists related to lessons and new languages.

[2016-02-28 22:13] doomspork commented on #127
This is a great start @pragmaticivan!  As @pjhampton mentioned, we were recently discussing this on Slack.  Let me think about this and I'll come up with some ideas and feedback.

[2016-02-28 22:23] pragmaticivan commented on #127
Cool :D

[2016-02-29 08:08] psantos10 commented on #123
ecto.md translation in progress

[2016-02-29 09:29] psantos10 commented on #123
ecto.md translation in done!

eex.md translation in progress...

[2016-03-01 13:41] pjhampton commented on #123
@psantos10 super thanks for these translations! You're awesome :smile:

There was a _small but important change_ in the Mnesia (Specifics) lesson last night just incase you have copied any english files.

[2016-03-01 16:52] pragmaticivan commented on #123
`mnesia.md` in progress.

[2016-03-01 21:21] pragmaticivan commented on #123
@pjhampton Mnesia is updated and in Portuguese now. #done

[2016-03-01 21:22] pjhampton commented on #123
Great job guys. Thanks very much

[2016-03-01 21:22] pragmaticivan commented on #123
`plug.md` in progress.

[2016-03-02 09:19] psantos10 commented on #123
`ets.md` in progress

[2016-03-02 17:26] doomspork commented on #127
@pragmaticivan I haven't forgotten about these!  I'll make time this week to get back to you with some feedback.

[2016-03-05 18:34] doomspork commented on #75
I'm going to close this now that the ball is rolling.   I think we all know SEO is a never-ending :grinning:

[2016-03-05 18:34] #75 closed

[2016-03-08 04:48] philss commented on #122
@pragmaticivan @brunoasantos @psantos10 I want to do the `Erlang Interoperability` translation. Is anyone working on this? May I start? Thanks!

[2016-03-08 04:50] pragmaticivan commented on #122
@philss nop, just past here the file you're working with and new contributors will pick a different one.

[2016-03-08 05:10] philss commented on #122
@pragmaticivan OK, thanks! I'm starting the `erlang.md` file.

[2016-03-09 17:09] getbrandao commented on #122
@pragmaticivan I'm going to translate the concurrency.md file. It's ok?

[2016-03-09 17:42] pragmaticivan commented on #122
Go for @getbrandao :) Let me know if you need any help

[2016-03-10 14:01] pragmaticivan commented on #123
Done! o/

[2016-03-10 17:27] pragmaticivan commented on #122
Solid week! we're almost there! Thank you all!
![runforrest](https://45.media.tumblr.com/tumblr_lzx3ahGwqm1qalcu6o1_r1_500.gif)

[2016-03-10 19:08] ruan-brandao commented on #122
I'm starting the translation of `escripts.md` :smiley:
OK?

[2016-03-10 19:18] pragmaticivan commented on #122
Nice! @ruan-brandao go for!

[2016-03-10 21:05] pragmaticivan opened #146 "New Logo Proposal"
- Just creating this issue here because the designers are new with github, so they have a place to comment.

[2016-03-10 21:49] doomspork commented on #123
:boom:  I'll get this tweeted out today.  Thank you everyone!  :+1:

[2016-03-10 21:49] #123 closed

[2016-03-11 10:22] pjhampton commented on #146
Did we not already get a new logo? lol

[2016-03-11 10:23] pjhampton commented on #127
Any movement on these guys? @doomspork @pragmaticivan

[2016-03-11 11:50] pragmaticivan commented on #146
The Elixir logo haev copyrights and plataformatec is taking so long to provide an answer. They are still talking with attorneys about that.

[2016-03-11 12:06] pjhampton commented on #146
Hmm, that's annoying. Ok. I will hold off on adding it to the Elixir-Lang learning page until we have this sorted *just in case*.

[2016-03-11 16:12] doomspork commented on #127
@pjhampton I haven't the time to sit down and put together something more specific to our needs.  It's on my list

[2016-03-12 20:42] pragmaticivan commented on #122
Working on otp-supervisors.md.

[2016-03-12 21:17] philss commented on #122
Starting the `otp-concurrency.md`.

[2016-03-12 21:18] pragmaticivan commented on #122
:+1:

[2016-03-12 21:40] pragmaticivan opened #152 "Update translation of description for all the languages."
Currently we just have:
[code]
## Roadmap:
- [x] en
- [x] jp
- [x] cn
- [x] es
- [x] pt
- [x] vi
- [x] ru
- [x] sk

[2016-03-12 21:40] pragmaticivan commented on #152
I updated the README on #151

[2016-03-13 08:15] DenysonSoares commented on #122
Starting error-handling.md, ok?

[2016-03-13 08:16] pragmaticivan commented on #122
Cool @DenysonSoares , go for!

[2016-03-13 19:01] doomspork commented on #152
Would you all be so kind as to update the Elixir School description for your respective languages?  It would be much appreciated :grinning:

ping @milmazz (es), @michalvalasek (sk), @brain-geek (ru), @3100 (jp), @cizixs (cn), @joneslee85 (vi)

[2016-03-13 19:42] brain-geek commented on #152
Added russian version in https://github.com/doomspork/elixir-school/pull/155 .

[2016-03-13 19:44] doomspork commented on #152
Thank you @brain-geek :+1:

[2016-03-13 20:42] pragmaticivan commented on #122
Starting `metaprogramming.md`.

[2016-03-14 00:27] doomspork commented on #127
I don't think Issues are used enough to worry about a template so I focused on the PR template.  I don't want filling out a form to block people from contributing, so I kept it short and sweet.

Here's my first stab at it:

---

## Types of changes

What types of changes does your code introduce to Elixir School? _Put an `x` in the boxes that apply_

- [ ] Fix (correcting visual bugs, spelling, or

[2016-03-14 00:29] pragmaticivan commented on #127
Maybe `I have added necessary documentation (if appropriate)` is a good one to have, it happened in the case of adding description data into an array for new languages. And by the end there was no documentation for that.

[2016-03-14 05:41] erickgnavar commented on #152
Added spanish description in #159

[2016-03-14 06:13] erickgnavar commented on #91
Fixes in [#160](https://github.com/doomspork/elixir-school/pull/160)

[2016-03-14 10:33] brain-geek opened #162 "Glossary proposal"
The problem: right now there are some wording issues related to Elixir-specific (or other non-widely used) terms when translating. Also, there is a problem whether some things should be translated at all. And I'm not the only one having this problem:

And there's even small discussion [in this topic](https://github.com/doomspork/elixir-school/pull/103).

[Source](https://github.com/doomspork/elixi

[2016-03-14 11:44] pjhampton commented on #162
It sounds like a good idea to me, but then again... I'm not a translator. Thoughts @pragmaticivan?

[2016-03-14 15:01] tiagobarreto commented on #91
Thanks @erickgnavar! :+1:

[2016-03-14 15:01] #91 closed

[2016-03-14 15:29] doomspork commented on #152
Thank you @erickgnavar :tada:

[2016-03-14 16:08] 3100 commented on #152
Added Japanese description in #165

[2016-03-14 16:10] doomspork commented on #152
:boom:  Thank you very much @3100

[2016-03-14 23:24] doomspork commented on #152
Slovak added in #166

[2016-03-14 23:31] joneslee85 commented on #152
@doomspork

[code]

[2016-03-15 03:02] erickgnavar commented on #162
Good idea, I have the same problem when I translate terms like "pattern matching" or "function clause" to spanish.

[2016-03-15 05:28] DenysonSoares commented on #122
Starting metaprogramming.md ok?

[2016-03-15 05:29] pragmaticivan commented on #122
go for :)

[2016-03-15 06:40] pragmaticivan commented on #162
I like the idea, in Portuguese some of the terms are really hard to translate. Some of them I just don't translate because they're common terms in programming.

[2016-03-15 15:46] doomspork commented on #162
I'm :+1: for a glossary.  I think it would be useful even for English speakers.

[2016-03-16 02:14] doomspork commented on #152
Thank you @joneslee85!  I've included this as part of #172.

[2016-03-16 02:14] doomspork commented on #152
@cizixs any chance I could get the translated description from you?  Chinese is the last one remaining :grinning:

[2016-03-16 14:35] getbrandao commented on #122
I will take umbrella-projects.md, ok?

[2016-03-16 14:36] pragmaticivan commented on #122
It's not ready yet @getbrandao . The project has a PR in #168

[2016-03-16 14:38] getbrandao commented on #122
@pragmaticivan yep man, I see now when I was finding it.

[2016-03-16 14:48] pjhampton commented on #122
@getbrandao I might need to make some minor changes so hold off for now man. :smile_cat: I will ping you when it's ready.

[2016-03-16 16:46] brain-geek commented on #162
I've added the first version of glossary in #174 . Feedback is welcome.

[2016-03-16 19:59] doomspork commented on #122
@pjhampton I merged, sorry!  I didn't know you intended to make more changes.

[2016-03-16 20:01] pjhampton commented on #122
@doomspork no, it's ok. I was referring to any potential late feedback. @getbrandao feel free to translate now if you want :+1:

[2016-03-16 20:07] pragmaticivan commented on #122
Almost there! 🇧🇷
![e21537f3a9f36cfc6fb105ddf6afa564c86a3f72_hq](https://cloud.githubusercontent.com/assets/301291/13827073/ec91551e-eb77-11e5-94c5-82c5985757b9.gif)

[2016-03-17 00:20] getbrandao commented on #122
@pjhampton thanks! I'm going to translate!

[2016-03-17 02:24] DenysonSoares commented on #122
File metaprogramming delivered for approval.

[2016-03-20 09:42] joeltrew opened #181 "Posssible Typo in Sigils"
Under the regular expressions part it says "Because Elixir supports Perl Compatible Regular Expressions (PCRE), we can append i to the end of our sigil to turn on case sensitivity."
however the example shows this turns **off** case sensitivity, and makes the regular expression insensitive to case

[2016-03-20 10:39] pjhampton commented on #181
Hey Joel,

You are correct. Would you like to the submit the PR or do you want to leave it with me?

Thanks

[2016-03-20 11:19] joeltrew commented on #181
I'll submit a PR now (I've never done this before so bear with me!)

[2016-03-20 11:22] pjhampton commented on #181
@joeltrew no problem. Let me know if you need / want any guidance. I will be happy to help :+1:

[2016-03-20 11:29] #181 closed

[2016-03-20 23:54] setzer777 commented on #37
Hi guys! I'm also interested in contribute to the translation! Are composition and testing lessons still pending to translate? :shipit:

[2016-03-20 23:55] doomspork commented on #37
@setzer777 I do believe so!  Thanks for your interest

[2016-03-20 23:55] setzer777 commented on #162
Do we have an spanish glossary at this moment?

[2016-03-20 23:56] doomspork commented on #162
No we do not @setzer777.  Feel free to check out #174 and leave your feedback/suggestions :grinning:

[2016-03-20 23:57] setzer777 commented on #37
Great! I think I'll start with composition lesson right now! I'm excited to help you out guys! I have already forked the repo :)

[2016-03-21 00:49] setzer777 commented on #37
Composition translation in PR [#185](https://github.com/doomspork/elixir-school/pull/185)

[2016-03-21 03:13] pragmaticivan commented on #122
100% o/
![anigif_enhanced-buzz-17101-1438254861-5](https://cloud.githubusercontent.com/assets/301291/13909954/249e2cb2-eed8-11e5-93db-255752b82cbe.gif)

Thank you all for the hard work!

[2016-03-21 03:17] philss commented on #122
é nóis! Thank you! Congrats to the team!

[2016-03-21 03:19] doomspork commented on #122
Nice job everyone! :tada:

@philss & @getbrandao what are your twitter handles? :grinning:

[2016-03-21 03:24] philss commented on #122
@doomspork it's [@philipsampaio](https://twitter.com/philipsampaio) o/

[2016-03-21 12:22] getbrandao commented on #122
@doomspork and mine is [@getbrandao](https://twitter.com/@getbrandao)

[2016-03-21 18:37] #122 closed

[2016-03-21 19:34] setzer777 commented on #37
I'd suggest to change the translation "Coindidencia de patrones" to "Pattern Matching" itself, I think we don't have to translate everything if we don't want to turn things more complicated, so users can search the term itself and find more information about it, instead of figuring out how to backward-translate the term.

Just a humble suggestion :shipit:

[2016-03-21 19:39] Gidrek commented on #37
I am agree with @setzer777 about pattern matching

[2016-03-21 19:40] setzer777 opened #186 "Create a lesson about Strings"
Suggesting to create a lesson about Strings in Elixir, starting from:
1. how do they work
2. simple operations and manipulation
3. how are they handled inside the BEAM
4. Etc.

If you need some help with that, please let me know! :smile:

[2016-03-21 19:44] erickgnavar commented on #37
Yep, I agree too, we don't have(still) a glossary to manage this.

[2016-03-21 19:54] setzer777 opened #187 "Add some exercises at the end of each lesson!"
Another suggestion is to add some exercises at the end of the modules, so ElixirSchool can turn into a real school where people (or maybe a machine) is evaluating the students work c: I'd also be glad to help you on that.

There could be many ways to accomplish this:

1. We put an exercise and the answer is sent via email to someone to check it.
2. We (somehow) evaluate the code inside an interpre

[2016-03-21 20:06] setzer777 commented on #37
Yeah, the problem is that the word "Coincidencia" is used like a lot. The solution would be to use the word "match" instead, but it'll make the text super spanglish XD @erickgnavar @Gidrek

[2016-03-21 20:24] pjhampton commented on #186
Great idea, @setzer777! And thanks for the suggestion.

I am currently working on an Elixir Natural Language Processing library as part of my PhD (it's currently private on my github) and I have been looking into this for quite sometime.

Maybe we could work together on this lesson together?

[2016-03-21 20:36] setzer777 commented on #186
Great @pjhampton! I bet functional programming have helped you a lot with your project :stuck_out_tongue:

Of course! Let's just split the lesson into sections and then we can start to work :)

[2016-03-21 21:48] doomspork commented on #186
:boom: Teamwork ftw!

[2016-03-21 21:49] doomspork commented on #187
@setzer777 this is a good idea, I think this would be a good addition.  Let's dig in further and see what makes the most sense.

[2016-03-21 21:51] doomspork commented on #37
@setzer777 @erickgnavar and @Gidrek I'd love to get your thoughts on a Glossary, mind commenting on PR #162?

[2016-03-21 23:08] doomspork commented on #96
Closing this for now.  We've collapsed the Advanced and Specific sections by default and added additional styles to make the links easier to see.

[2016-03-21 23:08] #96 closed

[2016-03-21 23:10] doomspork commented on #71
I think our current approach with GitHub issues is working.  We can investigate an alternative service/product/solution if we continue to grow and feel pains keeping synced.

Thanks for all the help guys! :+1:

[2016-03-21 23:10] #71 closed

[2016-03-21 23:12] doomspork commented on #127
I'm still on the fence but I'm leaning towards shelving the Issues/PR templates for the time being.  I'm not sure there is much to be gained and they don't seem to be working out on other projects.

[2016-03-22 02:15] setzer777 commented on #162
I think this idea is super great!
Sometimes we don't have to translate every term into our language, because of two things.

1.  The translation effort grows so bad, because we need to find adequate words to make our translation work.
2.  Specially with the technical terms like Pattern Matching, at least in Spanish, when we try to translate that, it turns to be a really poor translation, and it's

[2016-03-22 05:03] setzer777 commented on #186
I propose this sections for the lesson:

1.  Strings in Elixir: Explain what's the deal with strings in Elixir, about their binary-ty and stuff haha
  - Graphemes
  - Codepoints
2.  Common functions:
  - downcase/uppercase
  - length
  - split
  - at
  - contains
  - to_char_list (this is gonna be interesting...)
3.  String manipulation
  - iterate a string
  - replace characters

I just have this

[2016-03-22 15:33] pjhampton commented on #186
Supercool @setzer777!!

Do you have Slack? If not sign up here: https://elixir-slackin.herokuapp.com/

We have our own channel **#elixirschool** where we can chat about this further :smile_cat:

[2016-03-22 19:34] doomspork commented on #162
I've merged the first glossary in #174.

Thank you for sharing your thoughts @setzer777 :+1:

[2016-03-23 03:59] setzer777 commented on #187
Thoughts on this:

1. After each lesson, provide a simple solved exercise that uses the topics reviewed on the lesson.
2. After the solved exercise, provide a new unsolved exercise with some hints!

I think the best approach is to make them clone a repo with projects made with mix, add the problems ordered by lessons, and just include the tests in the projects, so they can run `mix test` and make

[2016-03-23 11:28] pjhampton commented on #187
@setzer777 @doomspork

Let's continue this discussion on Elixir Slack - #elixirschool

[2016-03-23 15:54] pjhampton opened #194 "Update README.md & INDEX.md"
## Get Involved!

The README.md & INDEX.md of this project need to be updated. This task can be split into two separate PRs if desired.

**README.md**
There is duplicate information here because this information was moved to the projects [wiki](https://github.com/doomspork/elixir-school/wiki). These should be referenced. The readme should also be captivating and engaging giving an overview. A coup

[2016-03-23 15:59] pjhampton opened #195 "Urdu Translations"
## Get Involved!

We are seeking **Urdu** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [ ] _config.yml
  - [ ] index.md
- **Basics**
  - [ ] Collections
  - [ ] Enum
  - [ ] Pattern Matching
  - [ ] Control Structures
  - [ ] Pipe Operator
  - [ ] Functions
  - [ ] Composition
  - [ ] Mix

[2016-03-23 17:16] pjhampton opened #196 "French Translations"
## Get Involved!

We are seeking **French** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml
  - [x] index.md
- **Basics**
  - [x] Basics (@tchoutri)
  - [ ] Collections (@julienXX)
  - [x] Enum (@julienXX)
  - [x] Pattern Matching (@julienXX)
  - [x] Control Structures (@julie

[2016-03-23 17:17] pjhampton opened #197 "Italian Translations"
## Get Involved!

We are seeking **Italian** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml (@apeacox)
  - [x] index.md (@apeacox)
- **Basics**
  - [x] Basics
  - [x] Collections
  - [x] Enum
  - [x] Pattern Matching
  - [x] Control Structures
  - [x] Pipe Operator
  - [x] Fu

[2016-03-23 17:22] pjhampton opened #198 "Hindi Translations"
## Get Involved!

We are seeking **Hindi** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [ ] _config.yml
  - [ ] index.md
- **Basics**
  - [ ] Collections
  - [ ] Enum
  - [ ] Pattern Matching
  - [ ] Control Structures
  - [ ] Pipe Operator
  - [ ] Functions
  - [ ] Composition
  - [ ] Mix

[2016-03-23 17:32] pjhampton opened #199 "Add share buttons to lessons footer."
It would be great to introduce a new feature which allows a user to share a lesson over different social networks from the bottom of a lesson. It would maybe look like something like the attached image but horizontal.

![screen shot 2016-03-23 at 17 29 49](https://cloud.githubusercontent.com/assets/8960296/13994534/22fce582-f11d-11e5-9821-0e1834bd2296.png)

[2016-03-23 17:39] pjhampton opened #200 "German Translations"
## Get Involved!

We are seeking **German** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [ ] ~~_config.yml~~ /data/locales/de.yml
  - [ ] /data/interlang.yml
  - [ ] index.md
- **Basics**
  - [ ] Collections
  - [ ] Enum
  - [ ] Pattern Matching
  - [ ] Control Structures
  - [ ] Pipe Oper

[2016-03-23 17:40] pjhampton opened #201 "Korean Translations"
## Get Involved!

We are seeking **Korean** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml
  - [x] index.md
- **Basics**
  - [x] Basics (@devleoper)
  - [x] Collections (@Dalgona)
  - [x] Enum (@malkoG)
  - [x] Pattern Matching (@Dalgona)
  - [x] Control Structures (@Dalgona)

[2016-03-23 17:41] pjhampton opened #202 "Polish Translations"
## Get Involved!

We are seeking **Polish** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.

- **Set up**
  - [x] _config.yml
  - [x] index.md

- **Basics**
  - [x] Collections
  - [x] Enum
  - [x] Pattern Matching
  - [x] Control Structures
  - [x] Pipe Operator
  - [x] Functions
  - [x] Composition
  - [x]

[2016-03-23 17:59] pragmaticivan commented on #199
I agree with this one, very nice feature and would help to spread the website in the web.

[2016-03-23 22:33] setzer777 commented on #199
I also agree :) besides it's not complicated.

[2016-03-23 22:46] pjhampton commented on #199
Sure, I agree. Let's see if a new person would like to tackle it in the next couple of days. If not, it's up for grabs!

[2016-03-23 23:19] tchoutri commented on #196
I started the french translation and would gladly accept any corrections to the mistakes I could have made!

[2016-03-24 05:03] doomspork commented on #199
This will be _great_, good idea :+1:

[2016-03-24 14:05] pjhampton commented on #196
Hey @julienXX and @tchoutri!

Can one of you guys please update the **_config.yml** file?

Also, when working on a new lesson, can you please update the comment at the stop of this issue so there is no work conflicts?

:smile:

[2016-03-24 14:07] julienXX commented on #196
@pjhampton sure but there's no way to update the comment.

[2016-03-24 14:11] pjhampton commented on #196
Hey @julienXX

Hmm, in that case Julien, please just post here to say what you are currently working on until @doomspork grants one or both of you collaborator roles.  Hopefully we can get those two lessons + index merged today.

[2016-03-24 14:12] julienXX commented on #196
Okay I'm working on Enum right now.

[2016-03-24 14:30] pjhampton commented on #196
Hey @julienXX & @tchoutri

Are you guys on Slack? https://elixir-slackin.herokuapp.com/

We have our channel #elixirschool if you would like to get involved?

[2016-03-24 14:51] julienXX commented on #196
Working on Pattern matching chapter.

[2016-03-24 15:56] tchoutri commented on #196
@pjhampton just joined ;-)

[2016-03-24 16:47] pjhampton opened #216 "Greek Translations"
## Get Involved!

We are seeking **Greek** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml (@Kosmas)
  - [x] index.md (@Kosmas)
- **Basics**
  - [ ] Basics
  - [ ] Collections
  - [ ] Enum
  - [ ] Pattern Matching
  - [ ] Control Structures
  - [ ] Pipe Operator
  - [ ] Functi

[2016-03-24 22:35] tetiana12345678 opened #218 "Russian Translation - Specifics"
- [ ] Plug
- [ ] Ecto
- [ ] Embedded Elixir (EEx)
- [ ] Erlang Term Storage (ETS)
- [ ] Mnesia

[2016-03-25 10:06] julienXX commented on #196
Working on Pipe operator.

[2016-03-25 10:12] tchoutri commented on #196
Working on basics/Functions

[2016-03-25 10:14] tchoutri commented on #196
@julienXX J'ai trouvé sur Linguee une traduction pour "n-class citizen" => http://www.linguee.fr/francais-anglais/traduction/consid%C3%A9r%C3%A9+comme+des+citoyens+de+second+ordre.html.
Je propose qu'on s'y tienne au lieu de traduire littérale par "Citoyen de n-classe". Qu'en penses-tu ?

[2016-03-25 10:16] julienXX commented on #196
@tchoutri carrément, la traduction littérale sonne pas bien.

[2016-03-25 11:49] tchoutri commented on #196
J'ai jugé bon d'inclure la traduction française de pattern matching dans une des sections :

à titre indicatif. Je vais quand même rester sur l'anglais pour ce terme, ça parle à plus de monde et de façon plus générale, il y a plus de ressources sous ce nom.

[2016-03-25 11:57] tchoutri commented on #196
@julienXX Je veux bien ton avis sur les `guards`. On traduit comment ? (ou on laisse tel quel ?)

[2016-03-25 12:18] julienXX commented on #196
Je ferais comme pour pattern matching, on le traduis une fois entre parenthèses (gardes dans les livres Erlang en français) puis on garde le terme anglais.

[2016-03-25 12:21] tchoutri commented on #196
oké :)

[2016-03-25 13:58] pjhampton opened #220 "Russian Translations"
## Get Involved!

We are seeking **Russian** translators for this project. If you would like to get involved with translating a lesson please fork the project and start translating.

- **Set up**
  - [x] _config.yml (@brain-geek)
  - [x] index.md (@brain-geek)
- **Basics**
  - [x] basics.md (@brain-geek)
  - [x] collections.md (@brain-geek)
  - [x] enum.md (@brain-geek)
  - [x] pattern-matching.md

[2016-03-25 14:03] pjhampton commented on #220
@brain-geek @tetiana12345678 & @gaynetdinov

Let's close the other two (#218 + #99), and work within this one. If you are working on any lessons please let everyone know just incase someone is already working on it in this thread. Hope this is ok

:heart:

[2016-03-25 14:03] pjhampton commented on #218
See #220 :)

[2016-03-25 14:03] #218 closed

[2016-03-25 14:05] pjhampton commented on #99
See #220 :)

[2016-03-25 14:05] #99 closed

[2016-03-26 10:23] brain-geek commented on #220
I'll take "Functions" next. And "erlang.md" later on.

[2016-03-26 18:45] pjhampton opened #223 "Arabic Translations"
## Get Involved!

We are seeking **Arabic** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml
  - [x] index.md
- **Basics**
  - [ ] Basics
  - [ ] Collections
  - [ ] Enum
  - [ ] Pattern Matching
  - [ ] Control Structures
  - [ ] Pipe Operator
  - [ ] Functions
  - [ ] Composi

[2016-03-27 03:04] pragmaticivan opened #226 "Ignore Ruby Version and Gemset for RVM"
I found this commented in `.gitignore`. Can I ignore those files? I like to keep my local env organized.

[code]

[2016-03-27 03:20] pragmaticivan opened #227 "Configure Open Source version of Teatro.IO"
Here's the service: https://teatro.io/

It will help us to QA with a staging environment for each Pull Request.

[2016-03-27 09:47] pragmaticivan commented on #50
Are `nodes` inside `Distribution`? Should we have a lesson just for `nodes`? I think it's a good one to have after processes.

[2016-03-27 09:57] pjhampton commented on #50
Hey @pragmaticivan. Nodes were mentioned in `Mnesia` which I wasn't happy about, but I needed to give context as it is a distributed database. But yeah, from what knowledge I have, nodes fall under distribution.

[2016-03-27 13:24] tetiana12345678 commented on #220
great move.

[2016-03-27 13:32] pjhampton commented on #226
Makes no difference to me. @doomspork?

[2016-03-27 13:34] pjhampton commented on #227
![](http://i62.tinypic.com/2802hxt.jpg)

[2016-03-27 15:15] julienXX commented on #196
Working on Collection.

[2016-03-27 15:42] setzer777 commented on #227
That looks super cool! :D

[2016-03-29 08:25] julienXX commented on #196
Working on Composition.

[2016-03-29 16:12] tchoutri commented on #196
Working on Documentation

[2016-03-29 21:06] tchoutri commented on #196
@julienXX Je suis en train de traduire "Elixir core" par "Bibliothèque standard". Tu as quelque chose de différent en tête ?

[2016-03-29 21:12] tchoutri commented on #196
okay merci :)

[2016-03-30 13:07] apeacox commented on #197
I'm going to translate it ✌🏼

[2016-03-30 13:36] pjhampton commented on #197
Hey @apeacox

That's awesome! Thank you so much :smile: Obviously this is a big job so we encourage you to get your friends involved as well. This can help speed up reviewing, etc.

We have our own slack channel (#elixirschool) if you are not there already - https://elixir-slackin.herokuapp.com/ - You will find most of us there.

Chat soon! :+1:

[2016-03-30 13:43] apeacox commented on #197
Ok, I'm joining the chat right now :+1:

I will ping some friend to review my translations, once they grow. `_config.yml` and `index.md` are done. Starting with `basics.md` :D

[2016-03-30 13:44] pjhampton commented on #197
Awesome @apeacox! #241 looks good to me. :+1:

[2016-03-31 14:16] apeacox commented on #197
I've translated a bunch of new chapters for the `basics` section :-)

[2016-04-01 09:14] brain-geek commented on #220
I'll take "Composition" next.

[2016-04-01 13:58] pjhampton opened #247 "Come up with solution to the 404 response surge"
Recently there has been a surge in 404 responses because of missing translations.

I think this because of the screenshot @psantos10 uploaded to the slack channel.

![captura de ecra 2016-03-31 as 15 51 24](https://cloud.githubusercontent.com/assets/8960296/14208968/ed0137ae-f819-11e5-87de-093da74b9f72.png)

Any ideas on a way we can solve this?

[2016-04-01 15:57] brain-geek commented on #247
The simplest way to fix it to add meaningful 404 page with "Sorry, this material does not exist or hasn't yet been translated." instead of [not-very-informative current version](http://elixirschool.com/safasdfdfafsafdf).

BTW, We can use those stats to prioritise translations. :)

[2016-04-03 01:29] doomspork commented on #247
I _think_ I may know what is causing this so I'm going to dig in first thing tomorrow.

[2016-04-03 08:43] nscyclone commented on #220
I'm going to take `advanced/error-handling.md` next. It is called `errors.md` in this issue for some reason.

[2016-04-03 09:05] brain-geek commented on #220
I've marked it for you, @nscyclone .

[2016-04-03 17:21] doomspork commented on #226
Open a PR :+1:

[2016-04-03 17:22] doomspork commented on #227
I signed up and enabled it for Elixir School.

[2016-04-03 17:28] setzer777 commented on #226
I don't fully understand this issue. Wouldn't it be better if just you uncomment those files in your local without affecting the whole repo? Or is it a real need for the repo? :shipit:

[2016-04-03 17:56] doomspork commented on #226
@setzer777 you make a good point.  It's certainly not a repo need, though I am willing to consider small changes that make it easier for contributors.  Do you have concerns?

[2016-04-03 18:08] setzer777 commented on #226
@doomspork Small changes in the .gitignore? or which kind of changes?

[2016-04-03 18:12] doomspork commented on #226
@setzer777 adding `.ruby-version` and `.ruby-gemset` (__not__ `Gemfile.lock`).  Many Ruby developers rely on them and they're not included in this project.  I suspect for folks like @pragmaticivan it's annoying having to remember to not commit those files.

[2016-04-03 18:46] doomspork commented on #194
This is great!  I'll try to think of some changes.

[2016-04-03 19:06] doomspork commented on #194
We should also ensure all the languages available are listed on the index, it looks like a few are missing.

[2016-04-03 19:10] doomspork commented on #197
@apeacox I updated the checklist above but now that you're a contributor on the repo you can keep it updated :+1:

[2016-04-04 14:25] TypedLambda commented on #200
I'll start translation tomorrow as part of a project promoting elixir in germany.

[2016-04-04 14:26] pjhampton commented on #200
Thank you so much @TypedLambda

[2016-04-04 15:46] nscyclone commented on #220
I'll start working on `advanced/concurrency.md` soon.

[2016-04-04 19:48] veverkap commented on #199
What services should be included?  YouTube/Instagram are probably not ideal.

- Facebook
- Twitter
- LinkedIn
- Reddit
- HackerNews
- Google+
- Pocket?
- Email
- Pinterest?
- Tumblr?

Using something like https://github.com/kni-labs/rrssb would be nice too.

[2016-04-04 23:26] omissis commented on #197
@apeacox maybe I could help with Reviews? I'd love to translate some chapters myself but I just don't have enough time for that now

[2016-04-05 00:04] apeacox commented on #197
@omissis every help is more than welcome ✌🏻️
I have to create a PR with the latest fixes to the current merged lessons, plus two new translated lessons. So you can at least review/fix what's already done 😉

In case you want to translate some lesson, please let me know which ones, so that we can make some plan to avoid overlapping.

[2016-04-05 15:34] doomspork commented on #199
Good question @veverkap.  Initial I was thinking about just FB, Twitter, and Reddit.  Now that you mention it, Email, HN, and Google+ might be good additions too.

I like rrssb :+1:

Thoughts?

[2016-04-05 15:49] doomspork commented on #194
Just playing around with some ideas, still need to come up with a paragraph or so that really sells the site:

-----

# Elixir School
[![License](http://img.shields.io/badge/license-MIT-brightgreen.svg)](http://opensource.org/licenses/MIT)

Be sure to visit [ElixirSchool.com][website] for the latest lessons.

Follow [@elixirschool][twitter] on Twitter for important announcements and updates.

Want

[2016-04-05 19:03] veverkap commented on #199
![image](https://cloud.githubusercontent.com/assets/22348/14294506/8f49aa50-fb3f-11e5-9d2d-a97798ec3787.png)

So far, not so good with the default implementation.

[2016-04-06 03:12] veverkap commented on #199
Progress:

![image](https://cloud.githubusercontent.com/assets/22348/14304770/d35d732c-fb83-11e5-99f9-f296ac976db9.png)

[2016-04-06 12:55] apeacox commented on #197
@omissis I have created a new pull request (#264) with a new lesson and a bunch of fixes. Feel free to review it ;-)

I'm going to merge the PR in the next few days (waiting for some feedback/fix)

[2016-04-09 15:52] doomspork commented on #227
I'm going to close this for now.  We'll focus on using Heroku's pipeline and Review Apps for the time being.

[2016-04-09 15:52] #227 closed

[2016-04-09 15:53] doomspork commented on #194
As part of the `index.md` changes I want to ensure _all_ of the translated languages are listed, right now it's only a subset.

[2016-04-09 19:02] pragmaticivan opened #270 "Remove Line of available languages from index of all languages but english"
`Available in Việt ngữ, 汉语, Español, 日本語 and Português.`

It's creating complexity to update that every time a new language comes to the website.

Now we have `en jp cn es pt vi ru sk fr gr it` and it doesn't represents the list in the index.

My suggestion is to have this `Available in Việt ngữ, 汉语, Español, 日本語 and Português.` in the english version.

[2016-04-10 02:18] doomspork commented on #270
Thoughts @jesusangelm / @joneslee85 / @setzer777  / @brain-geek and others?

[2016-04-11 02:59] doomspork commented on #226
Going to close this.  @pragmaticivan feel free to open a PR for further discussion.

Thanks!

[2016-04-11 02:59] #226 closed

[2016-04-11 03:00] doomspork commented on #162
Closing because we now have a Glossary.  Thanks again @brain-geek and @pragmaticivan :+1:

[2016-04-11 03:00] #162 closed

[2016-04-11 08:51] cizixs commented on #152
@doomspork I have just updated the description in #273 .
Sorry for the late update, I will keep up with this translation.
Been busy with some personal stuff recently.

[2016-04-11 09:49] AquarHEAD opened #275 "Upgrade Elixir version in examples?"
For example in [Basic](https://elixirschool.com/lessons/basics/basics/), the first code example is 2 minor version behind latest Elixir version.

[code]

[2016-04-11 15:28] doomspork commented on #152
No worries @cizixs, I understand we all get busy.  Thank you so much for the update :+1:

[2016-04-11 15:28] #152 closed

[2016-04-12 09:10] cizixs opened #276 "Getting more done in GitHub with ZenHub"
Hola! @cizixs has created a [ZenHub](http://www.zenhub.io) account for the **doomspork** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboardi

[2016-04-12 13:46] AquarHEAD commented on #72
Hi, just a remind that I'm currently translating the Plug chapter, will submit a PR for review soon :)

[2016-04-12 15:10] doomspork commented on #276
Thanks @cizixs.  We had briefly discussed ZenHub vs Waffle.  For now we can give ZenHub a whirl.

[2016-04-12 15:10] #276 closed

[2016-04-12 15:11] doomspork commented on #275
@AquarHEAD can you take the lead on updating all of the examples?  One PR should be sufficient for all of the changes.

[2016-04-12 15:12] doomspork commented on #247
Copy and pasting what I put in Slack yesterday:

[2016-04-12 15:12] AquarHEAD commented on #275
@doomspork Sure will do as soon as I find enough time to go over everything :)

[2016-04-12 15:22] doomspork commented on #275
Great!  Thank you @AquarHEAD

[2016-04-12 15:24] pragmaticivan opened #278 "Design and Front end implementation of 404 Page"
The current Page is just a text with `Not found`

[2016-04-12 15:29] #270 closed

[2016-04-12 15:29] doomspork commented on #199
This was done as part of #260 but there is an issue with the fonts.  Once we get the fonts self hosted we can close this.

[2016-04-12 19:40] TypedLambda commented on #200
First steps are in the [german-translation](https://github.com/TypedLambda/elixir-school/tree/german-translation) branch of my fork.
I submit pull request as soon as i have some additional parts translated, in order to keep the language consistent.
Writing my native language in a technical context is funny. I'm totally not used to write documentation in german.  :smile:

[2016-04-12 20:32] doomspork commented on #200
Thank you for the help @TypedLambda

[2016-04-13 00:56] omissis commented on #197
@apeacox I have started reviewing it, more or less 50% done. Will continue in the next days as it's 3AM already 😱 Let me know what you think so far. Imho we could also review the verbs tenses and make 'em consistent across the whole guide, once we decide which one we're gonna use.

[2016-04-13 08:52] cizixs commented on #72
@AquarHEAD Glad someone is helping, you go ahead.

[2016-04-13 12:48] Koziolek commented on #202
I could do part of this.

[2016-04-13 13:14] Koziolek commented on #202
Forked to https://github.com/Koziolek/elixir-school branch issue-202
If anyone else would like to help please send me message we will coordinate our work

[2016-04-13 13:17] pjhampton commented on #202
Yep, sounds good @Koziolek! You lead this and we will send out a contributors later!

Thanks :smile:

[2016-04-13 14:56] jakefolio opened #281 "Design Feedback"
I just wanted to point out a few things I noticed while reading the site:

1. Default link color is the same as text and doesn't have an underline to make it obvious it's a link
2. The site name/logo links to the current page and doesn't bring you back to the homepage.

[2016-04-13 14:59] doomspork commented on #281
Hi @jakefolio, thanks for the feedback!  Would you open to contributing fixes for these?  PRs are welcome :grinning:

[2016-04-13 15:28] doomspork commented on #202
That is great news @Koziolek!  @kdebowski already opened our first Polish PR if you want to take a peek at it: #271

[2016-04-13 20:09] kdebowski commented on #202
@Koziolek, I've already started translating files to polish language. Files are divided into chapters and I'm in the beginning os basics.md - you can easily pick some file from the rest if you want to evade potential conflicts

[2016-04-14 03:06] AquarHEAD commented on #72
Hi @cizixs how about naming "Specifics" to "专章" instead of "详情"? I think the former title describes these chapters as special ones each regarding one thing(library) only, while the latter one sounds more like details, and it feels a bit awkward to use there.

[2016-04-14 14:15] Koziolek commented on #202
@kdebowski
Basics done ;) we need to coordinate it. Do you have trello account to coordinate translation (and make subtrasks list)?
Now I start to translate eex.md from special

[2016-04-15 07:19] kdebowski commented on #202
@Koziolek I've created Trello board for polish translations. If you could provide me your email account for Trello I can add you as a member.

[2016-04-16 01:31] doomspork commented on #281
Closed via #282, thanks again @jakefolio :+1:

[2016-04-16 01:31] #281 closed

[2016-04-16 01:32] doomspork commented on #97
I'm going to close this for now, I don't think this is something we can feasible support at the moment.

[2016-04-16 01:32] #97 closed

[2016-04-16 01:32] doomspork commented on #37
@erickgnavar with your `testing.md` PR, does that complete this list?

[2016-04-16 03:35] cizixs commented on #72
@AquarHEAD "详情" is not very accurate, but I can't find a more appropriate one. "专章" is not a common-used word, can lead to confusion too.

Change this trasnlation is necessary, just have to come up with another easy-to-understand word.

[2016-04-16 03:36] AquarHEAD commented on #72
@cizixs agreed, tried to find some references in translated book but didn't get much luck :(

[2016-04-16 05:06] erickgnavar commented on #37
Yes, 😀

[2016-04-16 15:05] doomspork commented on #37
:boom:  I'll send out a tweet later today about this milestone.

Thanks everyone!

[2016-04-16 15:05] #37 closed

[2016-04-16 15:29] doomspork commented on #199
This should be fixed thanks to #288 and @burden's help.

[2016-04-16 15:29] #199 closed

[2016-04-16 20:45] doomspork commented on #202
@kdebowski and @Koziolek, what are you twitter handles? 😀

[2016-04-18 16:22] Koziolek commented on #202
koziolek
https://twitter.com/koziolek

[2016-04-18 16:45] kdebowski commented on #202
https://twitter.com/kamil_debowski

[2016-04-19 14:00] Daqu opened #295 "[cn]Translation error about tuple"
It is in elixir-school/cn/lessons/advanced/metaprogramming.md **line 22**

I found the word `tuple` was translated in `列表` instead of  `元组`.In chinese, tuple often was translate into `元组` and list was translate into `列表`

the orginal

my version

[2016-04-21 15:53] doomspork commented on #295
Hi @Daqu, thank you for reaching out!  I will have to defer to @cizixs and others on this.  If we don't hear back, feel free to open a PR with the change 👍

[2016-04-21 15:58] AquarHEAD commented on #295
I think it's a correct fix

2016年4月21日木曜日、Sean Callan<notifications@github.com>さんは書きました:

--
楼洵 (AquarHEAD)
----------
Blossoms which were the joys that fell,
And leaves, the hopes that yet remain.
----------
http://about.aquarhead.me

[2016-04-22 18:03] nscyclone commented on #220
`advanced/concurrency.md` is already merged (#266), so I guess we could mark it as translated here.
I'll take `basics/sigils.md` soon.

[2016-04-24 07:19] pragmaticivan commented on #146
[1]
![logo1](https://cloud.githubusercontent.com/assets/301291/14766078/345aed30-09b2-11e6-9a74-4a163c00ccde.jpg)

[2016-04-24 07:19] pragmaticivan commented on #146
[2]
![logo2](https://cloud.githubusercontent.com/assets/301291/14766079/3f4918d4-09b2-11e6-8f09-9cdd8bc06064.jpg)

[2016-04-24 20:48] brain-geek commented on #220
I've updated the translations status. Also, I'll take otp-concurrency.md next.

[2016-04-25 01:32] jeanleonino commented on #146
The `Elixir` word is hairline thin, that makes it hard to read sometimes. The second logo the drop is curved in a weird way on top:

![quirk](https://cloud.githubusercontent.com/assets/1311402/14771836/df5e7812-0a63-11e6-9404-0db838e7d3d5.png)

But the first one would be hard to see/understand in a small scale (like favicon). So both needs a bit of work :P

PS: @josevalim, could Plataformatec have

[2016-04-25 03:05] cizixs commented on #295
@Daqu You're right, please open a PR if you want to correct this.

[2016-04-25 08:49] josevalim commented on #146
@jeanleonino our position today is public, it just isn't permissive: both Elixir logo and brand are copyright to Plataformatec and cannot be used without permission.

The annoying part is that we mostly cannot grant any kind of permission until the bureaucratic process is done.

[2016-04-25 13:50] odiumediae opened #305 "Possible improvement of an example in Basics > Pipe Operator"
One of the examples in the Pipe Operator section could be replaced, since:

[code]

could simply be written:

[code]

which is not only shorter and more idiomatic, but also more readable. Under "Best Practices" the same example is used again, without the parentheses. A slightly different example might be helpful here. Maybe something like this:

[code]

[2016-04-25 16:02] doomspork commented on #146
Thanks for the explanation @josevalim 😀

[2016-04-25 16:03] doomspork commented on #305
@odiumediae please open a PR with your suggested changes 👍

[2016-04-25 16:10] doomspork commented on #202
@kdebowski or @Koziolek, would one of you like to lead the Polish translations?  I can add you to the repo so you can manage the issue and merges.  The only request is that you refrain from pushing to master and rely on pull requests so other contributors have an opportunity to provide feedback.

[2016-04-25 18:45] Koziolek commented on #202
Sounds good for me. It makes our work faster.

[2016-04-25 20:27] odiumediae commented on #305
[@doomspork](https://github.com/doomspork): I'd like to. Sorry, if this is a dumb question, but should I change the respective templates of all supported languages or just in the main (English) one?

Apropos languages, if I find the time, I'd like to provide the German translation. Any other German speakers here who'd like to help me?

[2016-04-25 20:31] doomspork commented on #305
@odiumediae if you wouldn't mind making the example changes across all languages everyone would greatly appreciate that.

We have an issue [here](https://github.com/doomspork/elixir-school/issues/200) for German Translations, a few people have expressed interest but no one has started.

[2016-04-26 17:12] eksperimental opened #314 "Basic menu section is always open"
Regardless if you are reading an article in the other sections.

Browser: Chrome and Firefox
OS: Linux

[2016-04-26 17:37] doomspork commented on #314
Thanks for the report @eksperimental!

[2016-04-27 04:41] doomspork commented on #202
@Koziolek I've added you as a collaborator so you can update this issue and merge PRs.  Please squash commits if there are many per lesson 👍

Myself and the other contributors are on Slack in the #elixirschool channel, if you'd like to join us 😀

[2016-04-27 11:14] Koziolek opened #317 "Wrong order of String lesson in menu"
String and Mix lessons have same number - 9.  Please move String to the end

[2016-04-27 14:30] pragmaticivan commented on #146
cc @doomspork any feedback about what should be do here?

[2016-04-27 15:43] nscyclone commented on #275
Dear @AquarHEAD, you were gone for a long time, so I made a PR for this issue on my own: #321. I hope I didn't have done any harm by this.

[2016-04-27 16:01] doomspork commented on #317
@setzer777 / @pjhampton — could one of you open a PR for this?

[2016-04-27 16:42] nscyclone commented on #314
I'm going to fix this within the next few days.

[2016-04-27 16:48] pjhampton commented on #317
Yep, guys. I will sort this out later as I am also adding a new lesson to basics.

[2016-04-27 17:08] doomspork commented on #317
This was resolved in #318

[2016-04-27 17:08] #317 closed

[2016-04-27 17:08] doomspork commented on #314
Thank you @nscyclone, that'd be great!

[2016-04-27 18:47] nscyclone commented on #186
PR #224 was merged today. I think this issue can be closed now.

[2016-04-27 18:53] #186 closed

[2016-04-27 19:59] AquarHEAD commented on #275
@nscyclone Thanks, was on a business trip last 2 weeks, and now just started a vacation, so barely have time to do things on my own( I'm happy that someone else could help, that's part of the reason why I opened an issue first :D

[2016-04-28 15:18] doomspork commented on #275
Thank you @AquarHEAD and @nscyclone 👍

[2016-04-28 15:18] #275 closed

[2016-04-28 18:18] nscyclone commented on #220
I'll take 'basics/comprehensions.md' next. It's original version is already merged but is not included in our list yet.

[2016-05-01 07:26] nscyclone commented on #247
We can show the languages at the bottom of the sidebar only for existing translations.
Or we can show all the languages but if the translation is not available yet, there could be a JS `confirm` with text like: `Unfortunately, this lesson is not yet translated to {{language}}. Would you like to see the original one?`.

[2016-05-01 10:05] brain-geek opened #336 "Automatic 'table of contents' building"
Hey!

I think it would be very useful to have 'table of contents' build automatically in a lesson. The way we do it right now is error-prone.

All data is already there (we always link to all h* elements in a lesson), we just need to use it somehow.

For example, there is a [js script](https://github.com/ghiculescu/jekyll-table-of-contents) to do that.

What do you think?

[2016-05-01 11:15] brain-geek commented on #220
I'll take "Documentation" next to finish up all 'Basics' lessons.

[2016-05-01 20:03] Koziolek opened #338 "Lesson about custom types and @spec"
Probably basic, but I'm not sure.

Short summary:
- the `@spec` and how to define "interfaces"
- Creating custom types
  - Why we need it - tuples are too generic
  - `@type` and how to use it
  - short exercise - create custom type of email that will be keyword of `[{:name NAME}, {:domain, DOMAIN}]` with set of functions like `toEmail` and `fromEmail`.

@doomspork @pjhampton any suggestions?

[2016-05-01 22:26] doomspork commented on #338
I've wanted to do a typespec lesson for awhile!  I think this is a good idea.

[2016-05-01 22:27] doomspork commented on #336
@brain-geek if you want to set this up, I'm open to using it 👍

[2016-05-01 22:50] doomspork commented on #314
Fixed by @nscyclone in #330

[2016-05-01 22:50] #314 closed

[2016-05-02 08:47] pjhampton commented on #338
Yep. I also love this idea. Do you want me to write this lesson or do you want to take it @Koziolek?

[2016-05-03 20:10] Koziolek commented on #336
Remember guys that we need to introduce this in all files in all translations (lot of testing).

[2016-05-03 20:11] doomspork commented on #336
Agreed @Koziolek

[2016-05-03 20:26] Koziolek opened #344 "Linking in String lesson not works"
Some of links in table of content in String lesson not works.
List:
 * Graphemes and Codepoints
 * all functions subsections

[2016-05-07 06:34] nscyclone commented on #336
I am already working on this. (Just in case if someone wanted to start.)

[2016-05-08 15:21] doomspork commented on #344
This should have been fixed via #346

[2016-05-08 15:21] #344 closed

[2016-05-08 15:24] doomspork commented on #336
Thank you @nscyclone 💜

[2016-05-09 09:33] pragmaticivan opened #355 "Portuguese Translations"
## Get Involved!

We are seeking **Portuguese** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.
- **Set up**
  - [x] _config.yml
  - [x] index.md
- **Basics**
  - [x] Basics
  - [x] Collections
  - [x] Enum
  - [x] Pattern Matching
  - [x] Control Structures
  - [x] Functions
  - [x] Pipe Operator
  - [x] Mod

[2016-05-11 04:33] pragmaticivan commented on #146
![elixir-school-logo-final](https://cloud.githubusercontent.com/assets/301291/15170037/cf6dc62a-16f6-11e6-91e9-4dc059419c32.png)

[2016-05-12 15:41] pragmaticivan commented on #146
Does anyone have any new feedback? Those logos have been waiting here for 18 days.

[2016-05-12 15:42] pragmaticivan commented on #146
cc @doomspork @pjhampton

[2016-05-12 16:09] pjhampton commented on #146
I like it @pragmaticivan, it's my favorite... but it's not my decision sadly. @doomspork do you have an update on the logos?

[2016-05-12 16:13] nscyclone commented on #336
It would be nice to have some sort of rules to share with the authors of pending translations because they do not know about this feature yet and still continue creating manual TOCs.
I think we could update `README` or `CONTRIBUTING` to reflect the usage of the TOC generator template and then close this issue. Recommendations for translations are somehow located in `README` so I can't decide where

[2016-05-12 16:54] doomspork commented on #146
@pjhampton as I said to @pragmaticivan in the channel, we are going with his logo.  This is an opportunity for someone to offer feedback on improving the final draft.

Let me just set some expectations while we're here.  I cannot convey enough how much I appreciate all of the help with this project but please be reasonable with when you expect responses.  We've just had a long discussion about thi

[2016-05-12 17:00] doomspork commented on #336
Very good point @nscyclone.  I'm not sure people read either of those documents but that is certainly a start.  We should probably also ask the existing PR authors to update their changes, right?

[2016-05-12 17:00] doomspork commented on #295
@Daqu did you still want to open a PR for this? 😀

[2016-05-12 17:13] pragmaticivan commented on #146
Hey thanks for the feedback, actually I posted asking for general feedback and marked you guys after to keep tracking haha. That makes sense, not in a hurry just wanted to leave a comment after the logo update.

[2016-05-12 18:13] nscyclone commented on #336
@doomspork, here is [an interesting thing](https://github.com/blog/2111-issue-and-pull-request-templates) we could look at. This may help us with newer PRs until we release new `CONTRIBUTING` and `README` (actually it may help after that too). Anyway, I couldn't find any other solution so I think we could do nothing else but leave a comment in every existing PR manually.

[2016-05-12 18:58] nscyclone commented on #336
@doomspork, I've just left a copy of advice in every open PR with translations: #229, #244, #264, #316, #319, #320, #326, #343, #345, #347, #350, #352, #353 and #359.

[2016-05-12 22:44] doomspork commented on #336
Thank you @nscyclone, that is tremendously helpful!

[2016-05-15 16:27] #127 closed

[2016-05-15 16:28] doomspork commented on #187
I think we've agreed this is something we're interested in doing so I'm going to close this issue for the time being.  Let's open separate issues for incorporating the exercises 👍

[2016-05-15 16:28] #187 closed

[2016-05-15 16:28] doomspork commented on #336
Huge thanks to @nscyclone and @brain-geek for this 👍

[2016-05-15 16:28] #336 closed

[2016-05-15 16:29] doomspork commented on #50
I'm going to close this issue in favor of conversations we have in Slack.

[2016-05-15 16:31] doomspork commented on #146
I'm sitting down today to give this the time it deserves.  Thanks for the patience @pragmaticivan 👍

[2016-05-15 19:23] doomspork commented on #146
Okay!  First and foremost, this is an _awesome_ idea and I greatly appreciate your help @pragmaticivan.  That said, here is the little feedback I do have:

- The school doesn't appear to be centered.  If you look at the stairs you can see he horizon enters and exits at different heights which suggests it's off center.
- The Elixir logo/icon/mark does not have smooth lines.  I worry that will be mo

[2016-05-16 10:24] Koziolek opened #366 "Probably missed description in Ecto.counting section"
In lesson about Ecto in section `Counting` we have some code only. Maybe we need some small description like:

[code]

Changes made to the original lesson could be found [here](https://github.com/doomspork/elixir-school/pull/401/files).
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone
- [x]  ko /cc @devleoper
- [x]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Kozio

[2016-05-16 16:25] doomspork commented on #201
@Dalgona / @devleoper / @rijgndqw012 — which of these are complete?

[2016-05-18 16:57] devleoper commented on #201
@Dalgona, @rijgndqw012 and I made a [Trello board](https://trello.com/b/mDGHoOM2/translation) to track processes of translation work and glossaries. It will be nice to take a look if interested in translations.

[2016-05-18 17:00] doomspork commented on #201
@devleoper would you like to be added as a project collaborator so you can manage this Issue and the KO PRs?

[2016-05-18 17:07] devleoper commented on #201
@doomspork Sure! I'd love to do this. :laughing:

[2016-05-18 17:08] doomspork commented on #201
@devleoper you've been added!  Please refrain from pushes directly to master 👍

[2016-05-20 19:33] Koziolek opened #375 "Bad text formatting in polish translation"
Lot of additional line breaks, some orphans chars at end of line, one word lines etc.

[2016-05-20 19:49] Koziolek commented on #375
Fixed

[2016-05-20 19:49] #375 closed

[2016-05-22 23:16] riseshia commented on #201
Hi, I want to join this issue, however, there is too less information to check which document is translating or not...
Could i assume these is no progress either no pr or completed on todo list?

[2016-05-22 23:47] setzer777 opened #392 "Mistake in Advanced/Executables lesson in an example"
![image](https://cloud.githubusercontent.com/assets/13922607/15457365/81fe23b6-204d-11e6-87a8-a6873eb5ebf2.png)

The upcase from hello is not WORLD, but in fact, HELLO.

[2016-05-22 23:59] doomspork commented on #392
@setzer777 could you open a PR to fix this?

[2016-05-22 23:59] aleandros commented on #392
@setzer777 @doomspork I think this is not a mistake. I copy my response from the PR discussion:

[code]

So `response({[upcase: true], "Hello" })` would expand to `response({[upcase: true], "World"})` which would then be "WORLD"

[2016-05-23 00:05] aleandros commented on #392
The example is a little bit misleading though. While correct, this discussion might mean that the example adds unnecessary complexity for the subject at hand. An option would be to open a PR to completely remove the first clause definition for `response/1` and change the corresponding example.

[2016-05-23 00:05] doomspork commented on #392
@aleandros you are correct, this isn't a bug after all.  You may be correct about the confusion as well.  @setzer777 what do you think?

[2016-05-23 00:06] devleoper commented on #201
@riseshia There is [a trellio board](https://trello.com/b/mDGHoOM2/translation) for tracking which documents are in progress or translated.

[2016-05-23 00:08] riseshia commented on #201
@devleoper oh, thanks to notice me 👍

[2016-05-23 00:42] devleoper commented on #201
@Dalgona @riseshia @rijgndqw012
I'm going to merge PRs when all of the Basic lessons are traslated (and reviewed). After that, Korean translation PRs will be merged seperately.
Korean: 기본 레슨(`ko/lessons/basics/`)이 얼마 남지 않았으니까 열려 있는 PR은 기본 레슨을 전부 번역하고 나서 적용할까 싶어요. 그 이후에 들어오는 PR은 개별적으로 검토를 거치고 나서 머지할까 합니다!

[2016-05-23 01:51] setzer777 commented on #392
Oh yeah I got it! I didn't see the code at the moment, but I fully agree with aleandros
So, the TODOs are:
1. Remove the useless function option:
[code]
2. Fix the output described in this issue.

[2016-05-23 05:08] nscyclone commented on #220
I'm going to start translating the 'Mix Tasks' lesson soon.

[2016-05-24 00:58] beeetooo opened #399 "Add exercise for Enum Lesson"
## Exercise for Enum Lesson - Count the repetitions of a character in a string

Given a string X, return an array with the number of repetitions of the characters inside the string.
For example:
Input: `character`
Output:

[code]

Any thoughts @doomspork @pjhampton?

[2016-05-24 01:00] setzer777 commented on #399
I don't know if we should be building complex exercises or simple ones? Maybe we can include one of each difficulty?

[2016-05-24 01:01] doomspork commented on #399
I think 1-2 simple ones and a more difficult one, if applicable.

[2016-05-24 01:03] setzer777 commented on #399
I would rather prefer to have one easy and one complex, otherwise we would be saturating the lessons with exercises, which I think is not the best idea, but let's open a debate for this.

[2016-05-24 01:05] doomspork commented on #399
Truthfully I think the lesson will dictate the exercises.  More advanced lesson will likely only have a single, more complex example.  Basics and fundamentals make sense having more than one exercise.

[2016-05-24 01:08] setzer777 commented on #399
Yeah, I think you are right 👍 So, let me propose this:
1. *For basic lessons*: From one to two exercises, an easy and a complex.
2. *For advanced lessons*: One complex exercise.

Are we tuned? c:

[2016-05-24 01:19] 3100 commented on #49
I updated the TODO list above.

Note
Those new to Elixir and / or Github are encouraged to get involved :smile:. 1 Pull Request per lesson.

[2016-05-24 01:35] doomspork commented on #49
Thank you @3100!  I'll try to help by shooting out some tweets this week 👍

If you've got any ideas send them my way 😀

[2016-05-24 05:27] nscyclone commented on #399
Well, I think that just posting those exercises at the bottom of each lesson is not the best and modern way to interact with user. Maybe we should look into adding our custom Elixir course at some programming education services (e.g. 'codecademy')? There is José's [course](https://www.pluralsight.com/courses/meet-elixir) at pluralsight.com but it isn't free.
Or if we feel ourselves strong enough w

[2016-05-24 14:21] Nagasaki45 opened #402 "Never mentioned how to update a map before demonstrating it on struct"
In Basics -> Composition -> structs there is an explanation of how to update a struct:

However, update a map was never introduce before.

[2016-05-24 14:41] doomspork commented on #392
This is now resolved.

[2016-05-24 14:41] #392 closed

[2016-05-24 15:42] nscyclone commented on #366
I'll take care of updating the Russian translation.

[2016-05-26 18:16] brain-geek commented on #220
I'll take 'Metaprogramming' next.

[2016-05-27 17:12] devleoper commented on #201
@Dalgona @riseshia @rijgndqw012
Translating basic lessons are almost done, and all of they are in review or merged! :tada: For peer-reviewing the HTML rendered result(in case of markup errors or some error), I've built [staging environment](http://elixir-school-ko-staging.herokuapp.com/ko/) which has merged all of PRs for basic lesson. If you found something uncomfortable—that means it's able to b

[2016-05-28 00:53] riseshia commented on #201
@devleoper  when i find wrong typo from released lession?

[2016-05-28 03:35] devleoper commented on #201
@riseshia You can create a new pull request which can fix the typo. Or ask other person(usually the person who made typo) to make a PR.

KO: 수정 사항을 반영하셔서 새로 풀 리퀘스트를 남겨주셔도 되고요, 오자를 내신 분이 직접 수정하시도록 연락하셔서 그 사람이 풀리퀘를 만들도록 하는 것도 좋겠어요.

[2016-05-28 17:15] devleoper commented on #201
I mentioned that everybody had their own styles while translating this document in Korean. and Now I'd like to unify the style in translated lessons, and make a guidelines to translate further chapters. (It seems quite late) I've found some differences(to discuss) through our translation:

번역된 한국어 문서에서 번역하신 분 마다 스타일이 다른 점은 이전에도 언급한 적이 있습니다. 이제 기초 레슨을 검토하면서 이런 부분을 통일하고, 다음 챕터를 번역할 때도 이런 부분을 적용해서 통일

[2016-06-02 20:44] jaksz commented on #223
Hey, I started a translation at #434 . However, we need to make sure the Jekyll set up is actually compatible with a right-to-left language first.

[2016-06-04 12:37] sobolevn commented on #220
I'll take `eex`.

[2016-06-04 12:41] sobolevn commented on #197
May I also take `eex` (the same task as I took in [russian](https://github.com/doomspork/elixir-school/issues/220#issuecomment-223753441))?

Or should we do it step by step?

[2016-06-05 14:08] doomspork commented on #197
@sobolevn I don't see a problem with this 👍

[2016-06-05 14:38] sobolevn commented on #197
@doomspork Thanks, I am translating `eex` then.

[2016-06-07 05:06] devleoper commented on #201
Since some participants are studying at the school, they're ~~suffering from~~ preparing the final exam these days. Korean Translations are almost done thanks to great contributions. (this is not the end. I know, Elixir school continues changing and evolving, So does Korean translation.) We can finalize this after the students finish their semester.

Prepare for the final exam of this semester, an

[2016-06-14 03:42] doomspork commented on #402
@Nagasaki45 this is a good point, would you like to open a PR clarifying things?

[2016-06-14 03:43] doomspork commented on #95
@KaoruDev would you like to try tackling this?  If not, I think we'll close this for the time being.

[2016-06-14 15:45] KaoruDev commented on #95
I'll try to take a stab at it, if i don't get it done by Monday, close this =)

[2016-06-14 15:46] doomspork commented on #95
Thank you 👍

[2016-06-15 16:36] nscyclone opened #453 "Translate the social media section"
Well, the title seems to be self-explanatory. For now we have the same text (`Share This Page`) at the bottom of every lesson regardless of the selected language.
Translation progress:
- [x] en
- [x] ru
- [x] ko
- [x] jp
- [x] no
- [x] pl
- [x] sk
- [x] fr
- [x] cn
- [x] id
- [ ] es /cc @aleandros
- [ ] pt /cc @pragmaticivan
- [ ] vi /cc @joneslee85
- [ ] it /cc @lucidstack
- [ ] my /cc @alkaha

[2016-06-16 03:08] AquarHEAD commented on #72
what about "专题"?

[2016-06-16 14:06] doomspork commented on #220
@brain-geek @nscyclone and everyone else, I'm wondering how best to track small changes to previously translated lessons and I was hoping to get your feedback.  Do you find this particular Issue format helpful?  Would it be sufficient to make additions to it for each change awaiting translation?

I'm looking for ways to handle PRs like [#452](https://github.com/doomspork/elixir-school/pull/452), a

[2016-06-16 14:08] doomspork commented on #355
@pragmaticivan Do you still find this particular Issue format helpful? I'm looking for ways to handle PRs like #452, any thoughts would be greatly appreciated.  I'd like to refrain from using a third-party service if possible, those seem to bring about their own unique headaches

[2016-06-16 14:16] doomspork commented on #399
Sorry it's taken me so long to get back to this particular topic!

@nscyclone I do agree with you that listing exercises at the bottom of each lesson isn't a very modern way of doing things, personally I'm not a huge fan of it either.  That said, I have heard from a lot of folks that they'd like some exercises to go along with the content.  I think appending the exercises to the bottom of lessons

[2016-06-16 15:29] nscyclone commented on #399
@doomspork, I can't tell anything concrete for now but I think we could get some feedback from the community before we start. I mean, for example, we could add a temporary [form](https://formspree.io/) at the footer with a small description like: "The great growing community inspired us to make an open-source IT learning project. Feel free to share your thoughts, suggestions and wishes with us!".

[2016-06-16 15:38] nscyclone commented on #220
@doomspork, I think this is the best option so far. The only question is how to automate this. Some sort of [webhook](https://developer.github.com/webhooks/) that would check whether a specific label is applied to an issue and then would apply the required changes to issues like this one when needed (adding an empty checkbox under the new `Improvements` section or something else).

[2016-06-16 15:42] pragmaticivan commented on #355
Not really for new changes. Can't see a better way unless we have inside the wiki explaining that if someone create a new change they chould report the issue for all the languages available.

[2016-06-16 17:02] doomspork commented on #399
@nscyclone I think reaching out to the community would be a great idea, we can also distribute a survey via Twitter.

[2016-06-16 18:11] nscyclone commented on #399
@doomspork, I've spent some time to write a long post and finally decided to discard it.
Actually, Twitter is good but I am not sure that its polls could be useful for this case at the starting stage &mdash; we don't yet know what to ask and what could people vote for. For now, we could stick a tweet telling that we're requesting some feedback (maybe a special hashtag could be used for the easier

[2016-06-16 18:15] doomspork commented on #399
I was assuming we'd put the survey or form elsewhere and use Twitter to assist in distributing a link to it.

[2016-06-16 18:25] nscyclone commented on #399
@doomspork, sorry, I misunderstood that. Anyway sharing the received suggestions via Twitter to see the actual support for each one is a viable idea.
So what, in your opinion, is the best way to ask for feedback?

[2016-06-17 15:48] setzer777 commented on #399
I think twitter polls could be really great c: I agree in everything you said haha

[2016-06-17 16:01] setzer777 commented on #399
Why don't we start today? Let's just ask for feedback in Twitter and see what happens 👍 :shipit:

[2016-06-19 11:23] Koziolek commented on #202
@doomspork could you close this :)

[2016-06-19 11:49] #202 closed

[2016-06-19 15:55] brain-geek commented on #220
@nscyclone That's nice idea to create issues for each translation!
We can do it manually - creating an issue ticket with checklist for each merged PR and look how it goes.

[2016-06-22 00:00] doomspork commented on #399
Done @setzer777 — https://twitter.com/elixirschool/status/745405806040911872

[2016-06-22 17:50] brain-geek commented on #220
I'm taking `ets.md` next.

[2016-06-27 09:15] yuriibodarev commented on #220
I can translate `eex.md` and after that I can take `plug.md`

[2016-06-27 10:02] nscyclone commented on #220
@yuriibodarev, AFAIK, `eex.md` is already a [WIP](https://github.com/doomspork/elixir-school/issues/220#issuecomment-223753441) by @sobolevn.

[2016-06-27 10:03] sobolevn commented on #220
we had a conversation, that it's totally fine by me.

[2016-06-27 10:05] brain-geek commented on #220
I've reassigned everything in first post according to Slack discussion.

[2016-06-27 16:21] devleoper commented on #201
@riseshia @malkoG @Dalgona

There was tons of personal things these days, I apologize for the late responses and to disappoint you. 😞

I've just merged **Basics** and **Specifics** lessons, which has quite enough feedback to launch. and commented about some technical issues (like branch managing or Jekyll-syntax problems). and I started working and giving feedback. :rocket:

Plus while merging PRs

[2016-06-28 20:36] nscyclone commented on #220
I've just updated the list because it lacked the `strings.md` lesson from the `basics` sections and the sections were described differently.
I'll try to find some time to send a PR with `strings.md` tonight.

[2016-06-30 14:43] bigtunacan opened #478 "Collections Enum.chunk_by"
In the Collections chapter for Enum.chunk_by the following example is used.

    Enum.chunk_by(["one", "two", "three", "four", "five"], fn(x) -> String.length(x) end)

This results in

[["one", "two"], ["three"], ["four", "five"]]

To a new comer (like myself) one might expect then that all strings of the same length would be grouped together if the function returns the same value, but this is not

[2016-06-30 21:07] doomspork opened #480 "Updates to Basic's Atom section"
It would be great to incorporate the additions from #470 into the other languages.

Translation progress:
- [x] en
- [x] ru /cc @brain-geek / @nscyclone
- [x] ko /cc @devleoper
- [x] jp /cc @3100
- [ ] no /cc @therobinsj
- [x] pl /cc @Koziolek
- [ ] sk /cc @michalvalasek
- [ ] fr /cc @julienXX
- [x] cn /cc @cizixs
- [ ] es /cc @aleandros
- [ ] pt /cc @pragmaticivan
- [ ] vi /cc @joneslee85
- [ ] i

[2016-06-30 21:08] doomspork commented on #480
If this format doesn't work for folks, let me know what might work better.  Thank you! 👍

[2016-06-30 21:09] doomspork commented on #366
@Koziolek could you open a PR for English & Polish?  We'll use that to get the other translations completed. 👍

[2016-06-30 21:11] #402 closed

[2016-06-30 21:12] doomspork opened #481 "Translate section on updating/accessing maps"
Add section on updating and accessing maps with atoms #452

Translation progress:
- [x] en
- [x] ru /cc @brain-geek / @nscyclone
- [x] ko /cc @devleoper
- [ ] jp /cc @3100
- [ ] no /cc @therobinsj
- [x] pl /cc @Koziolek
- [ ] sk /cc @michalvalasek
- [ ] fr /cc @julienXX
- [x] cn /cc @cizixs
- [ ] es /cc @aleandros
- [ ] pt /cc @pragmaticivan
- [ ] vi /cc @joneslee85
- [ ] it /cc @lucidstack
- [ ]

[2016-07-01 08:25] mikaoelitiana commented on #196
Salut les gars, je me lance dans elixir et je voudrais également participer à la traduction de la doc en FR. Je ne sais pas si la checklist est à jour mais je vais commencer par basics/testing.

[2016-07-01 08:28] julienXX commented on #196
@mikaoelitiana hello, je pense que la liste est à jour. N'hésite pas à me ping pour une review :)

[2016-07-01 08:29] mikaoelitiana commented on #196
@julienXX c'est entendu, merci

[2016-07-03 14:28] heri16 opened #487 "Mention that GenEvent handlers runs in a single process in a single synchronous loop"
I think it is good to mention that GenEvent handlers are run sequentially in a single process/pid, and that this will eventually become a bottleneck. The better example would be to dispatch a message from the event_handler to another Process. For example, using GenServer.cast(main_handling_pid, event) for concurrency.

Additionally, If backpressure is desired to prevent overloading Handler GenServ

[2016-07-06 07:37] mikaoelitiana commented on #196
@julienXX un nouveau PR à valider ici #493

[2016-07-07 14:29] devleoper commented on #201
Almost there! We have just a few things to complete up-to-date translation! :tada:

* **If you made pull requests currently opened:** Could you handle something that is currently in issues? Checking out and adding just few commits can make PRs merge-ready!
* **If your pull requests are all merged:** Could you review and look for something awkward/need to be modified?

Sometimes Github sends a lot

[2016-07-08 20:04] Koziolek commented on #480
Done

[2016-07-08 20:04] Koziolek commented on #481
done

[2016-07-10 04:38] doomspork commented on #487
@heri16 would you be open to updating the lesson?

[2016-07-16 14:06] Dalgona commented on #201
Finally 30 out of 30! :tada:

[2016-07-16 14:09] doomspork commented on #201
This is amazing @devleoper @riseshia @malkoG @Dalgona!!  Thank you so much!

I'd like to tweet something about this, could you please provide me with your twitter handles?

[2016-07-16 14:10] riseshia commented on #201
I don't care, mine is @Re_Shia :)

[2016-07-16 14:10] Dalgona commented on #201
@doomspork of course! mine is [at]d57pub_

[2016-07-16 14:13] devleoper commented on #201
same as my github handle, @devleoper!

[2016-07-16 19:27] Koziolek commented on #338
I'm writing this. Should be ready to review in next few days.

[2016-07-16 20:32] doomspork commented on #338
Awesome @Koziolek!  Looking forward to it.

[2016-07-16 20:38] doomspork commented on #201
Tweeted!  Thank you again for all of your hard work 👍

https://twitter.com/elixirschool/status/754414448517996544

[2016-07-17 17:49] ybur-yug commented on #478
@bigtunacan How would you recommend clarifying this?

From the documentation for `Enum.chunk_by/2`:

[code]

So each time the function being applied has a different return, a new chunk is started.

Would it read more clearly as something like this?

[code]

Any suggestions? Happy to work on making this one more understandable.

CC @doomspork you have any thoughts on how it could be made more clear

[2016-07-17 17:50] doomspork opened #523 "Replace Jekyll with Phoenix"
As I announced in my OpenCamp's talk today, we will be migrating from Jekyll to Phoenix to support new features and improve the internationalization efforts (see: `gettext`).

Features we'd like to support:
- Better internationalization efforts
- Interactive exercises and examples (see: [ExPlayground](https://github.com/stevedomin/ex_playground))
- Download as PDF book

**Issues**

These are the I

[2016-07-17 19:15] christiansakai commented on #480
@doomspork I can help for id translation if @rezaprima doesn't mind.

[2016-07-17 19:54] brain-geek commented on #523
Wow, that's awesome!

@doomspork ping me if I can help!

[2016-07-17 20:08] christiansakai commented on #523
@doomspork I'd love to help

[2016-07-17 20:54] nscyclone commented on #220
I've just started translating the last free lesson &mdash; `mnesia.md`.

[2016-07-17 21:21] ybur-yug commented on #50
@doomspork do you want to reopen this per our discussion earlier today or should I just join the slack group?

[2016-07-17 21:23] doomspork commented on #50
I will re-open today when I'm back home 👍

[2016-07-17 21:37] ybur-yug commented on #50
Cool. Can't wait to do some real contribution! If you'd like shoot me a DM on Slack when you have some time to chat, I'd like to run something by you that this could definitely be incorporated into :)

[2016-07-17 22:42] ybur-yug commented on #523
@doomspork so breaking this down I think we could potentially have a really simple, elegant system. Just some first thoughts...

1. We probably should make an umbrella. If we put the gettext stuff we do in its own section we not only get free isolation but we could eventually extract it trivially to be its own library if we came up with something cool on top of just the normal functionalities. Wit

[2016-07-18 10:25] merxer commented on #523
WoW!! That's  good news

[2016-07-18 16:01] doomspork commented on #523
I'm excited to see so many people excited!

@brain-geek, @christiansakai I most certainly welcome your involvement.  Let's use this issue to hash out the details.  Once we know how we want to tackle this we can break it up into reasonable sized chunks and create issues so people can get involved.

@ybur-yug great minds think alike!  There's going to be more churn on the translations so having them

[2016-07-18 16:07] doomspork commented on #480
@christiansakai all contributions are welcome! 😀

[2016-07-18 16:12] doomspork commented on #478
This was resolved by @ybur-yug in #528!

[2016-07-18 16:12] #478 closed

[2016-07-18 16:20] christiansakai commented on #523
@doomspork thanks! I'm excited. I've been learning Elixir and Phoenix, played around on it by creating basic apps, SPA style and server rendering in Phoenix, but its pretty basic, so I'm not a Phoenix expert. Please guide me.

[2016-07-18 17:39] ybur-yug opened #529 "Update `Enum.chunk_by` in translated guides"
PR #528 updated the `Enum.chunk_by/2` section of the basics/enum lesson to be a bit more clear.

You can see the exact changes in English [here](https://github.com/doomspork/elixir-school/pull/528/commits/cdc2d2bec63ab9f7759ee8ba3c0a09ed38f41809).
## Update

**This has since been included to show the arity, see [here](https://github.com/doomspork/elixir-school/compare/master...improvement/add_arit

[2016-07-19 20:36] nscyclone commented on #529
It seems like `it` is mentioned twice in the task list.

[2016-07-19 20:49] ybur-yug commented on #529
@nscyclone woops! Fixing

[2016-07-19 20:49] ybur-yug commented on #529
@nscyclone fixed

[2016-07-19 21:09] nscyclone commented on #529
I wonder whether we should mention the functions' arities in the [references](https://github.com/doomspork/elixir-school/pull/528/files#diff-da9b21c2c73f7335cedc97aa18d36b0cR53) and [headers](https://github.com/doomspork/elixir-school/pull/528/files#diff-da9b21c2c73f7335cedc97aa18d36b0cR51)? They are used in the [Strings lesson](https://github.com/doomspork/elixir-school/blob/master/lessons/basics

[2016-07-19 21:11] ybur-yug commented on #529
@nscyclone since its core to the nature of the language itself I think this was an oversight by me. I will update.

[2016-07-19 21:35] sformisano opened #536 "Translations style guideline needed"
Hey all,

I was talking with @ybur-yug about helping out with the italian translation of elixir-school when I realised you guys may benefit from a translation style guideline to boot.

i.e. I assume right now it's up to the translator to decide what to do with:
- Source code language, e.g. does `["one", "three", "five"]` become `["uno", "tre", "cinque"]` ?
- Technical terms, e.g. does the translat

[2016-07-19 22:10] ybur-yug commented on #529
@nscyclone fixed [here](https://github.com/doomspork/elixir-school/compare/master...improvement/add_arity_to_enum_chunk_by_basics#diff-da9b21c2c73f7335cedc97aa18d36b0cR53) and opening a PR

[2016-07-19 22:11] ybur-yug commented on #529
@nscyclone PR opened https://github.com/doomspork/elixir-school/pull/537

[2016-07-19 22:14] ybur-yug commented on #536
CC @brain-geek @nscyclone @devleoper @3100 @therobinsj @Koziolek @michalvalasek @julienXX @cizixs @aleandros @jonahoffline @pragmaticivan @joneslee85 @apeacox @alkaha @rezaprima
(and any others I may have missed, sorry, was going off the typical translation CC list)

[2016-07-20 00:03] devleoper commented on #536
I think having consistent guidelines will help translators, especially when they are in decision to do something or not.

But I'm concerned about some (human) languages that already have their own practices. When the usual practice of some (human) language conflict with our guidelines, It can be even worse for translators.

We should carefully think about these practices and keep guidelines simple

[2016-07-20 01:52] ybur-yug commented on #536
@developer I absolutely agree.

With the amount of subtle inflections/incantations that can come along with the territory from how many languages we support translation into. I.E if this was originally written in Pushkin-style Russian and attempted to translate to English directly, the sheer amount of idiomatic content in the original would be incredibly hard to purvey accurately.

However, I lack

[2016-07-20 02:01] ybur-yug commented on #536
Felt like help wanted was an inappropriate tag since this is more discussion, and adding to that discussion isn't so much 'help' but already implied ** anal retention intensifies **

[2016-07-20 02:39] christiansakai commented on #536
I think having consistent guidelines will help, but simple guidelines as the translation varies between translators.

I'm an ID (Indonesia) native speaker, and EN is my 2nd language. As having lived in the USA for the past 5 years, I have a different approach than @rezaprima in translating (I assume he is still located in Indonesia). It seems that his translation looks more like a word-to-word tra

[2016-07-20 05:39] nscyclone commented on #536
In the source code we translate only the comments leaving everything else untouched. For technical terms we have the [glossary](https://github.com/doomspork/elixir-school/blob/master/GLOSSARY.md) and there is a small note about the terms translation process in its header.
The translation should obviously be literary. Ideally, I suppose, when someone will read your translation along with the Englis

[2016-07-20 07:27] brain-geek commented on #536
I guess it should stay in English, except for the comments - that's the way we do in Russian right now. It makes maintenance much easier, while all parts required for understanding are translated.

That's a tough question, but from my experience, non-localized terms read very unnaturally. And the only way is localizing to some extent.

We can suggest a generic approach, but anyway applying each ru

[2016-07-20 10:26] sformisano commented on #536
@ybur-yug with regards to slang and idiomatic expressions, I'd say the best practice possible is to simply keep it to a minimum, so perhaps at least avoid using them consciously so translators don't have to go crazy :*)

@devleoper sure, but I doubt languages have an established standard on how to handle, for example, source code. You are right, however, on raising this point RE technical jargon.

[2016-07-20 11:10] brain-geek commented on #536
@sformisano Just a side note - I don't think that this policy/guideline should be translated. It will get out-of-date fast, just adding maintenance costs. And anyway, if someone is translating from english - this person definitely can read that english document.

[2016-07-20 11:28] sformisano commented on #536
@brain-geek fair enough :)

[2016-07-20 18:49] brain-geek commented on #220
Wow, looks like we've translated all lessons to Russian!

Plug is still in review ( #542 ), but I guess we'll finish with it in a few days.

[2016-07-20 18:51] brain-geek commented on #220
Hm, not yet - there's new 'Umbrella projects' lesson. I'm adding it to top list.

[2016-07-20 19:20] yuriibodarev commented on #220
Can I take `Umbrella projects` for translation? I will start it after we'll finish with `Plug`!

[2016-07-22 12:33] brain-geek commented on #220
@yuriibodarev Sure, marked it as taken by you.

[2016-07-22 22:57] doomspork commented on #50
Updated this with a few new lessons, open to suggestions for others!

[2016-07-22 22:58] doomspork commented on #305
This was addressed in #511  👍

[2016-07-22 22:58] #305 closed

[2016-07-22 23:56] ybur-yug commented on #50
@doomspork hex docs & creating a DSL I'd love to do. Could probably knock out one of them this weekend.

I'm also doing some personal work with GenStage but I lack the expertise to do a writeup that gives the module justice yet. But hopefully I get there in hte coming weeks.

[2016-07-22 23:58] ybur-yug commented on #50
@doomspork also just noticed you were talking about wanting to the DSL bit but its from quite a while ago. I was thinking of making a simple one that translates to markdown or something. Or maybe if I wanted to be really cool LaTex or something, but thats totally a large yak to shave. Thoughts?

[2016-07-25 17:11] ybur-yug opened #551 "Inclusion of video lessons and/or asciinema-casts"
## The Idea
[Asciinema](http://asciinema.org) is a wonderful tool for recording terminals.
I have worked with it in the past and find it quite a pleasure to use and it has a ton of neat features. You can even copy/paste the output its giving as the 'video' plays.

I'd love to have a screencast-of-sorts for each lesson.

## Approaches

### Straight Asciinema Cast
The first/most obvious is just doin

[2016-07-25 19:32] doomspork commented on #551
@ybur-yug / @brain-geek / @pragmaticivan / @setzer777 / @pjhampton  — How do you all feel about this?

[2016-07-25 20:10] nscyclone commented on #551
The idea is great and I thought about this earlier. I suppose that this is really the most modern, convenient and fastest form of learning something at the moment. But as @ybur-yug already mentioned it is also a quite expensive and hard work. Probably this means that some part of the content should become non-free and go beyond the open-source format.
We could also start another Twitter-poll once

[2016-07-25 21:03] brain-geek commented on #551
We can try some on either basic or new lessons with Asciinema 2 gif - this shouldn't be very hard, but will help validating the idea.

[2016-07-25 21:05] ybur-yug commented on #551
We wouldnt even need to convert it to GIF I dont believe @brain-geek.
Since the casts are just JSON streamed into a window, in the worst case we could make a private site to display them and iframe it in. Gif adds a TON of filesize overhead we dont need/want. Raw Asciinema files clock in at around 100kb/minute so the bandwidth cost would be super low to get everything out. This also would remove t

[2016-07-25 21:29] brain-geek commented on #551
@ybur-yug But overall - what do you think about adding few short examples to an existing lesson as an example?

For example, [iex interaction start](https://elixirschool.com/lessons/basics/basics/#trying-interactive-mode) could use it.

[2016-07-26 03:00] ybur-yug commented on #551
@brain-geek I totally think that is an awesome start. And its far too huge an undertaking to consider this in one sweep.

Maybe this would be a sane plan to begin:

1. Make an issue with a list of lessons
2. Have a sublist for each one of potential quick examples
3. Handle the PR's adding them like we do translations right now
4. Start getting feedback and see what the users think

[2016-07-27 12:01] michalvalasek commented on #523
Great idea, I'd love to help!

One comment tho: I'd be cautions with the docker stuff as it's quite an obstacle for new people wanting to get involved in the project. It might sound trivial for an experienced docker user, but believe me - it's hard for a beginner, especially on Mac.

[2016-07-27 13:49] ybur-yug commented on #523
@michalvalasek can you elaborate on the specifics of what makes it difficult?

Our policy in the shop I work at is to do a few things to ensure that its as approachable as possible.

1. Provide a Makefile that handles deployment, running the server, tests, db creation/seeding/etc with simply commands that is platform-agnostic
2. Make sure everyone uses docker toolbox & docker-compose so were on th

[2016-07-27 19:51] michalvalasek commented on #523
@ybur-yug Not everyone knows and uses docker. As someone new to docker you first have to learn about all the concepts (virtualization, docker images, docker containers), relations between them and finally all the tools involved (virtualbox, docker, dinghy, docker-compose). Sure, you can copypaste some commands from the README to your commandline, but you'll be stuck at the first divergence from th

[2016-07-27 21:27] ybur-yug commented on #523
I agree wholeheartedly.

I was just saying that there was one specific case that would be a nicety with an addition if we were to be using docker.

And when I said this I met something along the lines of [discourse](http://github.com/discourse/discourse). If you check out their docs, the vagrant setup is actually really, really beautifully simple and takes no special expertise to pull off. Vagrant

[2016-07-28 12:19] Koziolek commented on #338
In https://github.com/doomspork/elixir-school/pull/564

@doomspork, @nscyclone  guys, could you take a look and put your comments.

[2016-07-28 15:20] doomspork commented on #338
Thank you @Koziolek, I will look today 👍

[2016-07-28 20:30] pjhampton commented on #338
I like this @Koziolek. Once we firm up the semantics, I will help you fine tune the English. Thanks for contributing as usual ❤️

[2016-07-29 08:56] Koziolek opened #566 "Lesson about Dialyzer, Dialyxir and debugging"
Based on experience with #338 and list from #50.
1. Create lesson in Specifics group
2. Check lesson about spec and add links

[2016-07-29 12:15] pjhampton opened #567 "Getting more done in GitHub with ZenHub"
Hola! @pjhampton has created a [ZenHub](http://www.zenhub.com) account for the **doomspork** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnb

[2016-07-29 14:12] #567 closed

[2016-08-02 04:11] eze1981 opened #574 "Fix best practices example in `basics\pipe-operator` translated guides"
PR #569  Fix best practices example in the `basics\pipe-operator` lesson.

You can see the exact changes in English [here](https://github.com/doomspork/elixir-school/pull/569/files#diff-eaff4de352ee1fd132c689fc5651b5d5).
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [x]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc Koziolek

[2016-08-02 08:02] julienXX commented on #574
@eze1981 here is the French update:

## Bonnes pratiques

Si l'arité d'une fonction et supérieure à 1, assurez vous d'utiliser des parenthèses. Ce n'est pas nécessaire pour Elixir mais plus pour les autres développeurs qui pourraient mal interpréter votre code. Si on prends notre 3ème exemple, et enlevons les parenthèses de `String.ends_with?/2`, nous pouvons voir l'avertissement suivant:

[code]

[2016-08-05 03:26] scouten opened #583 "Suggestion: Explain how functions are named early."
In http://elixirschool.com/lessons/basics/collections/, which is early in the process, you start referring to functions by their arity (i.e. `++/2` when talking about List Concatenation). As a newbie to the language, that syntax is completely unfamiliar (except that I have read a couple of other introductions to the language). IMHO it would help to work in a reference to that syntax early on (or a

[2016-08-05 03:45] scouten opened #585 "Description of `use` macro lacks context"
http://elixirschool.com/lessons/basics/modules/#use provides a fairly technical description of _what_ `use` does, but doesn't explain _why_ you would use it. Also it refers to the concept of "macro" which I don't yet understand.

[2016-08-05 03:47] scouten opened #586 "Description of import and require should explain why you use one vs the other"
After reading http://elixirschool.com/lessons/basics/modules/#import and http://elixirschool.com/lessons/basics/modules/#require, I don't really understand _why_ I would choose one over the other.

[2016-08-05 03:49] scouten commented on #586
BTW, I am overall _very_ impressed with elixir-school. Please take my issues and PRs as suggestions for how to improve something that is already very effective at its mission. I'm very new to Elixir and I'm finding this to be one of the fastest ways to grok the language. :+1:

[2016-08-05 03:50] scouten opened #587 "Description of use uses the quote macro without explaining it"
In the code sample in http://elixirschool.com/lessons/basics/modules/#use, you use the `quote` macro but I don't yet know what that means.

[2016-08-05 04:07] scouten opened #590 "Description of @doc also uses @spec without describing it"
In http://elixirschool.com/lessons/basics/documentation/#documenting-functions, you introduce the concept of the `@doc` very clearly, but the code example also uses the `@spec` annotator without describing it at all.

[2016-08-05 04:22] scouten opened #593 "Section on mocking doesn't say why mocks are bad"
Why are they discouraged in the Elixir community, as referenced in http://elixirschool.com/lessons/basics/testing/#mocking?

(FWIW I'm no big fan of mocks myself, but I think this section would benefit from a description of the community's thought on mocks.)

[2016-08-05 04:28] scouten opened #594 "What defines "appropriate" use of list comprehensions?"
The section http://elixirschool.com/lessons/basics/comprehensions/#basics ends with the sentence, "List comprehensions are syntactic sugar and should be used only when appropriate."

How do I know whether a possible use of a list comprehension is "appropriate"? If it isn't, what else would I use?

[2016-08-05 04:33] doomspork commented on #583
Thank you @scouten, I think this is  _great_ suggestion!  Would you be interested in taking a shot at adding this?

[2016-08-05 04:36] doomspork commented on #586
@scouten thank you for all of your generous feedback!  I _very_ much appreciate it, it's through involvement like your's we are able to improve the resource for everyone!

[2016-08-05 08:11] Koziolek commented on #590
Look at #338 after finish with that I will add links to documentation lesson

[2016-08-05 15:07] nscyclone opened #598 "Fix description of UTF-8 encoding"
Changes made to the original lesson could be found [here](https://github.com/doomspork/elixir-school/pull/597/files).
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone
- [x]  ko /cc @devleoper
- [x]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [x]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline

[2016-08-05 15:10] julienXX commented on #598
FYI Basic/Strings lesson is not yet translated in French.

[2016-08-05 16:26] doomspork commented on #598
Thanks for the heads up @julienXX

[2016-08-05 18:47] scouten commented on #583
@doomspork: Yes, I'll take a stab at that. Might be a couple of days before I can get to it.

[2016-08-05 19:30] scouten commented on #583
Turns out I had some time today. See PR #599.

[2016-08-05 20:17] wolverineks opened #600 "2 different meaning for 'pipe operator'"
the site calls
```|``` [a pipe operator](https://github.com/doomspork/elixir-school/blob/master/lessons/basics/collections.md) and ```|>``` [a pipe operator](https://github.com/doomspork/elixir-school/blob/master/lessons/basics/pipe-operator.md)
i've heard ```|``` called cons operator or construction operator

is there a consensus on this?

[2016-08-05 22:39] ybur-yug commented on #600
I have always heard of `|` as pipe operator w.r.t *nix, and `|>` as the pipe operator in Elixir. I always thought the operator in the language was met to resemble the name of the unix pipe because it is essentially performing the same function. I believe the unix piece is named after the character, which looks like a pipe.

Though this is purely anecdotal. If I have a few minutes I'll poke around

[2016-08-07 00:21] ybur-yug commented on #593
@souten [This goes into it a good bit](http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/)

I can work on a writeup that doesnt just copypasta their work if its still open to be taken on.

[2016-08-07 13:05] brain-geek commented on #600
Looks like @wolverineks is right - `|` is not a pipe operator in Elixir and that's a mistake on our side.

[Learn you some erlang](http://learnyousomeerlang.com/syntax-in-functions) names it `cons operator`, so this looks like the term we should use:
[code]

But I haven't found any info about this name in official Elixir docs/code - they only operate with term `cons cell` which is name of the [dat

[2016-08-07 13:09] Slotos commented on #600
"|" is often called a pipe character. However in Elixir (or rather Erlang) it is a cons operator.

In (very) simple terms it doesn't split lists, it creates a link between a value and the rest of the list:

[code]

List splitting uses it as following: list of *one element* followed by the rest equals a known list, what is that *one element*? Think of it as BEAM solving an equation for you. Another

[2016-08-07 18:25] brain-geek opened #608 "Using proper term in 'collection' - cons operator"
Changes made to the original lesson could be found in #605 .
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone
- [x]  ko /cc @devleoper
- [x]  jp /cc @3100
- [x]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [x]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [x]  cn /cc @cizixs
- [x]  es /cc @aleandros / @jonahoffline / @eze1981
- [x]  pt /cc @pragmaticivan
- [ ]  vi /cc @j

[2016-08-08 00:29] scouten commented on #593
@ybur-yug: great article, and it pretty much matches my own view on the subject. I'll be happy to review your writeup on it, though a link to that article would probably suffice.

[2016-08-08 09:17] Koziolek commented on #608
Done :)

[2016-08-08 09:30] brain-geek commented on #608
Thanks, @Koziolek !

[2016-08-08 10:34] Koziolek commented on #574
[PL] done

[2016-08-09 10:50] nscyclone commented on #600
The answer is given above and the fix process [has started](https://github.com/doomspork/elixir-school/issues/608). Shouldn't we close this issue?

[2016-08-09 11:40] brain-geek commented on #600
You're right, @nscyclone

[2016-08-09 11:40] #600 closed

[2016-08-13 21:27] ukchukx opened #619 "Exercises needed at the end of each lecture"
First off, I would want to commend the creator(s) of this awesome resource for a job well done.
I think if there are exercises at the end of each lecture, it would help deepen the understanding of the concepts taught.
Thanks again for this wonderful resource.

[2016-08-14 16:22] ybur-yug commented on #619
I like the idea. Do you have any thoughts on exactly what they should cover or want to stab at opening a few PR's with examples in them to spark discussion further @ukchukx?

[2016-08-14 16:26] setzer777 commented on #619
Hi @ukchukx !

A few time ago we planned to do that and got into a really interesting debate [here](https://github.com/doomspork/elixir-school/issues/399)
The main idea is that some guys in the team doesn't think the best idea is to just add exercises at the end of the lessons, and they expose their opinions in the issue.

Why don't you take a look and then post your opinion on the topic? :)

[2016-08-14 16:36] #619 closed

[2016-08-14 18:01] doomspork commented on #619
Thanks for @ukchukx, I'd love to hear your thoughts on #399.

As part of the move from Jekyll to Phoenix that I'd like to complete, I'd like to add more interactive lessons.

[2016-08-15 22:00] ukchukx commented on #619
Thanks for the correction, guys.
I didn't know there was an issue already addressing this, unfortunately (my half-hearted search did not turn up any).

Unfortunately not, @ybur-yug, as I'm just starting to learn Elixir.

That's a reasonable explanation, @setzer777. I'll take a look & post my opinion (if I have any & if no one has touched on it).

Kudos on the upcoming interactive lessons, @doomspo

[2016-08-16 14:31] christiansakai opened #620 "Lesson about Binaries"
Lesson about working with binaries in Elixir? about `byte-size`, `binary-size`, `unsigned-integer-size`, etc.

[2016-08-17 20:34] pjhampton commented on #620
This would be awesome! Are you taking this forward @christiansakai? :)

[2016-08-17 20:38] pjhampton opened #624 "Lesson about ExUnit"
In the slack convo with @doomspork we discussed the possibility of ExUnit lesson. I will take this forward and keep everyone update in this Github Issue.

[2016-08-17 23:44] christiansakai commented on #620
I'll try to come up with something!

Sent from my iPhone

[2016-08-18 14:51] doomspork commented on #620
Thank you @christiansakai!  If you open a PR with what you have, I'm sure people will be happy to provide input 😀

[2016-08-21 21:29] stosorio commented on #200
Hi!
I'd like to help out with the german version :)

[2016-08-22 10:47] Koziolek commented on #590
I will add link in lesson :)

[2016-08-22 20:38] doomspork commented on #200
Any help is more than welcomed @stosorio!

[2016-08-22 20:48] TypedLambda commented on #200
Help would be great. I could not find the time getting back to translating yet.
I found it especially hard which jargon to translate and which to keep.
(Translate "collection" or just keep it, Translate "enumeration" or keep it because of the "Enum" module etc. )
I realized that I've not read a computer science or programming language book in German for at least ten years...
if you compile a list

[2016-08-23 18:29] doomspork commented on #523
I want to begin laying the foundation for this but am unsure of the UX/UI, is anyone familiar with a designer who might be interested in lending a hand?

[2016-08-23 20:46] ybur-yug commented on #523
My buddy @caleblummer and I are hacking on a Phoenix side project and he might be interested, we've both been talking heavily about giving back since were rolling with Phoenix for several parts of the app. You can check out [some of his stuff](https://dribbble.com/three23) @doomspork.

[2016-08-24 01:07] joneslee85 commented on #523
@doomspork I am unsure if this is better than Jekyll. A static site is much simpler to deploy, to put in S3 for CDN dist, and comes with less maintenance and prone to hacking. Phoenix solution requires much more devops work, to me it is overkill solution of which rewards are not as equal as the effort to port it. Just my 5 cent

[2016-08-24 19:21] nscyclone commented on #220
There is a [new lesson](https://github.com/doomspork/elixir-school/blob/master/lessons/advanced/typespec.md) in the `advanced` section. Does anyone want to take it?

[2016-08-24 20:23] yuriibodarev commented on #220
I will take it

[2016-08-25 07:59] nscyclone commented on #366
@Koziolek, how do you look on updating this issue with [this](https://github.com/doomspork/elixir-school/issues/598) format? `en`, `ru` and `pl` translations are already completed.

[2016-08-25 08:06] nscyclone commented on #201
Thanks for all your great work!
You guys were the first to finish the translation race, probably you want to keep the leadership with the freshest [lesson](https://github.com/doomspork/elixir-school/blob/master/lessons/advanced/typespec.md)?

[2016-08-27 04:59] Dalgona commented on #201
@nscyclone Of course! Actually @devleoper is already working on it 👍

[2016-08-29 08:00] Koziolek commented on #366
It's OK for me :)

[2016-08-29 09:31] hinamiyagk commented on #366
Japanese translation is done(#444)

[2016-08-29 15:32] ybur-yug opened #642 "Translate Improvement from PR #612 On Duplicates & List Subtraction"
Changes made to the original lesson could be found in #612.
## Translation

Translation progress:
- [x] en
- [x]  jp /cc @hinamiyagk
- [x]  es /cc @aleandros / @jonahoffline / @eze1981
- [x]  ru /cc @nscyclone
- [x]  ko /cc @devleoper
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [x]  cn /cc @cizixs
- [ ]  pt /cc @pragmaticivan
- [ ]  vi /

[2016-08-29 23:08] doomspork commented on #523
@ybur-yug he is quite talented!

@joneslee85 you do raise a very valid point.  As it currently stands I think Jekyll is sufficient but if we want to expand the feature set of Elixir School I think we have to look elsewhere.  Some of the things on my "dream sheet" of features:

- Interactive Elixir-in-the-browser examples and exercises
- User accounts for users who wish to track progress
- Allow a

[2016-08-30 06:23] brain-geek commented on #523
@doomspork

This can be implemented as a separate subdomain, like `try-elixir.org`.

Would it bring a lot of value? I don't think we are going to compete with something like CodeSchool.

This can be done with Jekyll too. Those 10 PDFs can be generated automatically on deployment.

It's a valid point, should we cover this? It's already covered by existing projects.

Anyway, is there any point of dr

[2016-08-31 06:16] skanel opened #647 "Request for Cambodia lanuage"
I am cambodian I would like to translate to my language of this document, could guide me how?

Thanks

[2016-08-31 06:33] nscyclone commented on #647
Thanks, @skanel! This would be great!
We have a section about starting a new translation [here](https://github.com/doomspork/elixir-school/blob/master/README.md#translating). There are also some [common rules](https://github.com/doomspork/elixir-school/blob/master/CONTRIBUTING.md) for contributions.
If you will have any questions after reading this, feel free to ask right in this issue. We are gla

[2016-08-31 08:02] skanel commented on #647
I have followed the guideline but I get this error message:

` bundle install
Fetching source index from https://rubygems.org/
Using rake 10.4.2
Using addressable 2.3.8
Using execjs 2.6.0
Using json 1.8.3
Using babel-source 5.8.34
Using colorator 0.1
Installing ffi 1.9.10 with native extensions

Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

    current directory: /tmp/bundler

[2016-08-31 08:06] nscyclone commented on #647
@skanel, did you try to install the `ruby-dev` package?

[2016-08-31 08:13] skanel commented on #647
ok thank you , now it works, and I am ready to start my translation :)

[2016-09-04 19:58] holsky commented on #593
@ybur-yug are you still on it? Otherwise I could give it a try in 1-2 paragraphs (plus a link maybe?)

[2016-09-04 20:27] holsky commented on #594
Coming from Python, aren't list comprehensions the way to go for shoveling data into, out of and between lists?

[2016-09-04 20:33] holsky commented on #624
@pjhampton are you making progress on this? If not, I will look into ExUnit soon so I could write a lesson from a fresh beginner's perspective :)

[2016-09-04 20:42] holsky commented on #399
As a beginner I would also really appreciate some exercises in the lessons. I agree that there are more modern ways than exercises at the bottom of lessons, but the cost-value ratio is pretty high. Did you make any decision in this regard yet?

[2016-09-04 21:23] pjhampton commented on #624
Hey @holsky,

Thanks for reaching out! Actually, I have only done the planning and not started it. If it's cool with @doomspork, I think you should definitely give it a go! I have plenty of other stuff to write for the site :-)

[2016-09-04 21:31] pjhampton opened #654 "Update Ecto Lesson"
https://elixirschool.com/lessons/specifics/ecto/

Should we consider updating the Ecto lesson to Ecto 2? For example, talking models to schema, etc.

[2016-09-05 00:54] doomspork commented on #624
Go for it @holsky!

[2016-09-05 16:31] doomspork commented on #654
@pjhampton I think this is a good idea, want to take a stab at it?

[2016-09-05 20:01] pjhampton commented on #654
Definitely @doomspork :)

[2016-09-05 21:37] X4lldux opened #658 "False statement in OTP Supervisors/Task Supervisor/Supervised Tasks"
It states that if a task is supervised by `Task.Supervisor` and the task crashes, it will be restarted - it will not be! Default `:restart` spec in `Task.Supervisor` is set to `:temporary` which means that tasks will never be restarted.
By changing the example to:
[code]
the statement would be true - but I suggest explaining the default behavior before that, for clarity.

[2016-09-06 19:14] holsky commented on #624
Can you invite me to that Slack channel? I think I need to know more about what you think needs to be improved in the current Testing lesson :)

[2016-09-06 19:30] doomspork commented on #624
@holsky are you on Elixir Slack?  Our channel is public: #elixirschool

[2016-09-09 17:45] ipmsteven opened #664 "Message Passing section in Advanced/Concurrency"
In [Message Passing](https://elixirschool.com/lessons/advanced/concurrency/#message-passing) section, there is a code snippet which shows how process pass and listen message.

[code]

This code is a little bit confusing for me since the new created process will exit right after it receive the first message(we can verify that by using `Process.alive?(pid)`)

How about make a recursive call in `list

[2016-09-09 17:46] doomspork commented on #664
@ipmsteven I think is a great change!  Would you be interested in opening a PR with this change and perhaps a short note mentioning the recursion?

[2016-09-09 18:25] ipmsteven commented on #664
sure

[2016-09-09 19:40] doomspork commented on #523
It looks like the epub/pdf portion of this may be handled by a third party!  I was recently pinged by a project (http://javier.xyz/docs2epub/) looking to process Elixir School into a book which we could make available ourselves.  Within the next week or so they'll send me over the initial run so we can provide feedback on improving the final product.

@brain-geek you're probably right, Jekyll does

[2016-09-09 22:13] doomspork opened #667 "Update Concurrency section"
PR #665 updated the Concurrency lesson to include recursion in the example and a note about handling multiple messages.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [x]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [x]  cn /cc @cizixs
- [ ]  es /cc @aleandros

[2016-09-10 02:49] #664 closed

[2016-09-17 13:13] holsky commented on #593
Sorry for the messy timeline here, but the actual PR is only one commit.

[2016-09-17 18:58] scouten commented on #593
@holsky I'm a bit confused. When I read the referenced commits (b846e9a, etc.), I see some new paragraphs that pretty reasonably address my question about mocking. But when I read PR #677, it appears you're adding a completely different section (about `assert_receive`) to the page. Maybe b846e9a was meant to be included in a different PR?

[2016-09-17 20:27] holsky commented on #593
Hmm I'm not sure how that happened but it seems I accidentally overwrote my commit through a push-force. Now I have this commit cleanly on a separate branch in my fork: https://github.com/holsky/elixir-school/tree/improve_testing
Can I somehow update this pull request to use the other commit, or rather close it and create a new one?

[2016-09-17 22:43] scouten commented on #593
@holsky you can't change the branch associated with a PR after creation, but I believe there is some git hackery you can do to straighten this out.

First: If you need to preserve the commit that is _currently_ associated with this PR, create a new branch that points to that commit (and, optionally, create a new PR for that new branch).

Then: Switch back to the `holsky:master` branch (i.e. the on

[2016-09-18 20:35] holsky commented on #593
thanks a lot, that should have worked :)

[2016-09-21 15:43] doomspork opened #679 "Update Testing lesson"
PR #678 (thanks @holsky!) updated the Test lesson to include sections on `capture_io`, `capture_log`, and `assert_receive`.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [x]  cn /cc @cizixs
- [ ]  es /cc @alean

[2016-09-22 03:24] doomspork opened #680 "Update section on Mocking"
PR #677 (thanks @holsky!) updated the section on Mocking to include some additional notes, we should update the translations to include these changes.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @

[2016-09-22 09:44] Koziolek commented on #590
@scouten please close this if solution is OK :)

[2016-09-22 15:27] #590 closed

[2016-09-22 23:14] marocchino commented on #201
Waiting for Specifications and types. Any progress?
Can I take it?

[2016-09-22 23:23] Dalgona commented on #201
Let's give him some more time :)

[2016-09-23 00:18] marocchino commented on #201
🙆

[2016-09-23 02:03] devleoper commented on #201
Currently I'm working on this...but there are lots of thing that I have to care about. I'll try to finish this until this weekend. I apologize.

One more suggestion: How about moving our [trello board](https://trello.com/b/75kn8xCu/elixir-school-translation-board) to new, fancy, shiny, and full-integrated GitHub Projects?

[2016-09-23 19:05] Koziolek commented on #587
`quote` macro is described in [metaprogramming lesson](http://elixirschool.com/lessons/advanced/metaprogramming/). We should add some links in modules lesson like typespec in documentation.

[2016-09-23 19:21] Koziolek commented on #587
Solution in https://github.com/doomspork/elixir-school/pull/686

[2016-09-26 15:15] AgIt0 opened #691 "Bulgarian Translation"
Hey, I started looking into the Bulgarian translation, but saw missing lessons and some missed updates from the English lessons, so here's a list of the stuff that need to be tackled:
- Check for errors/missing updates
  - [x] index.md
  - basics
  - [x] basics
  - [x] collections
  - [x] control-structures
  - [x] enum
  - [x] functions
  - [x] pattern-matching
  - [x] pipe-operator
- Translate

[2016-09-26 15:15] AgIt0 commented on #691
@doomspork would you assign me? Me and a friend will try to work on this :)

[2016-09-27 20:03] doomspork commented on #691
Howdy @AgIt0!  To add you I'll need to make you a contributor.  My only request is that you refrain from pushing directly to master and rely on pull requests instead.  Does that sound good?

[2016-09-27 20:04] AgIt0 commented on #691
ah I totally forgot about that...sure I won't even push to this repo :) will use the fork anyway

[2016-09-27 20:06] doomspork commented on #691
You've been added, welcome to the club 🎉

[2016-10-04 13:47] ybur-yug opened #700 "Clarify simple_one_for_one strategy for Supervisor in translations"
PR #695 updated the section on Supervisors to include some additional notes, we should update the translations to include these changes.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek #714
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
-

[2016-10-04 14:51] brain-geek commented on #700
Thanks for creating this one, @ybur-yug !
I'll take russian translation.

[2016-10-04 15:08] ybur-yug opened #701 "Update for 1.4 Enum functionalities/deprecations"
PR #696 updated the Enumerable section to clarify the new functionalities of `min`/`max` now having an arity 2 version, the deprecation of `uniq/1`, and the addition of `map_every/3`.
# NOTE

**As elixir 1.4 is not yet released, please submit translation PR's to point at `improvement/elixir-1.4`**
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone #708
- [x]  ko

[2016-10-04 15:19] doomspork commented on #701
Thank you @ybur-yug!

[2016-10-06 06:03] devleoper opened #703 "Using Github Projects in translation"
Recently Github [released some cool features](https://github.com/universe-2016) that help collaboration: Reviewing and Project.

Previously when there is a improvements from English texts, we make an issue for translators to keep the translated lessons up-to-date. but it is hard for translators to organize _things to do_ and _things done_.

There are some good tools (e.g. [Trello](https://trello.c

[2016-10-06 06:08] devleoper commented on #703
Also, this may make not only translations easier, but Lessons suggestion(#50) more reachable and inspiring.

[2016-10-06 07:01] ybur-yug commented on #703
I think would be awesome, and had been pondering about it myself but didn't come up with a robust solution as I usually just mark things to be translated...not actually do it at all, so I lack the perspective needed to make it easier for you folks to contribute in that form and/or even really outline or think about the process involved.

Basically, if you think its an awesome idea and wanna do it,

[2016-10-06 07:11] ybur-yug commented on #703
PS as I ponder more overall i think a LOT of the new features GH has launched could really help us here. Maybe we should start another big group thread just to talk about potential directions w.r.t managing the project and leveraging these. It has grown so much that the sheer amount of contribution is even growing compared to when I came on around July and I'm sure we could come up with some thing

[2016-10-06 15:02] doomspork commented on #703
@devleoper and @ybur-yug, I think Projects is a _great_ solution for managing translations and new lessons.  I'm all for giving it a go.

[2016-10-06 17:51] doomspork commented on #703
@devleoper / @ybur-yug — I created two Projects: Translations and New Lessons.  What next?  What columns do we need?  Suggestions, In-Progress, Done?

[2016-10-06 17:53] doomspork commented on #703
@nscyclone / @pjhampton / @Koziolek / @brain-geek or any other contributors / translators want to weigh in?

[2016-10-06 18:34] pjhampton commented on #703
I think this is a great idea 👍  What about an **Updating Lessons** project?

[2016-10-06 19:06] ybur-yug commented on #703
@doomspork I've always liked having like 'ideabox' (all ideas/thoughts, catch-all), 'backlog' (planned to be implemented), 'in progress', and 'done' for the new-content style stuff. For translation I think the 'ideabox' doesnt really fit.

[2016-10-07 07:16] nscyclone commented on #703
I suppose @ybur-yug's suggestion looks good but I'd use `backlog`, `wip` & `done` as columns and create a new separate `ideabox` project with same columns just because ideas should not be limited to lessons and translations only and as was mentioned earlier it doesn't fit for translations.

[2016-10-07 09:15] brain-geek commented on #703
This idea sounds awesome. 👍

[2016-10-07 09:41] Koziolek commented on #703
Sounds good  :+1:

[2016-10-08 21:37] doomspork commented on #703
I've added a third project per @nscyclone suggestion: `Ideabox`.  I've also created the initial columns: `backlog`, `wip`, and `done`.

Would anyone be interested in helping me migrate over the existing issues in cards?

[2016-10-08 21:58] doomspork opened #711 "Mnesia guide extensions"
PR #697 (thanks @brunogirin!) adds additional content to the mnesia lesson, we'll want to update the translations.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek / @nscyclone
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @j

[2016-10-09 17:36] brain-geek commented on #703
Hey, @doomspork , one more idea: we may ocasionaly need 'fix/change' tasks in projects.

One example would be my current 'spellcheck all the lessons' task.

Or issues with requests like #594 , #585 or other, which require lesson updates. When this improvement is done in English - task in 'Translations' will be created.

[2016-10-09 21:03] ybur-yug commented on #594
I was pondering about this today and ended up browsing some source and messing around a bit @holsky @scouten.

[code]

[code]

Lets use this simple bit as an example.
If we look at the [source where comprehensions are defined](https://github.com/elixir-lang/elixir/blob/50293b46f13a86328f0ffabdcbb8592e29ac24c6/lib/elixir/lib/kernel/special_forms.ex#L1228):

[code]

In the source docs, it really men

[2016-10-10 18:13] Koziolek commented on #585
Will be fix in scope of #587

[2016-10-10 19:28] holsky commented on #594
I found this feeling "imperative" for the specific  case you do above, where you only apply a function to all elements in the pipe. I would write it like so, to make the flow more visible:

[code]

In the examples from the documentation however, I would prefer the comprehension, because it actually creates a new list. So I agree, no reason to not use them :)

[2016-10-10 19:33] ybur-yug commented on #594
@holsly yeah I totally should have used the `&stuff/arity` notation, youre right. Thats one of my 'i should do this but dont' problems in Elixir I need to work on.

[2016-10-10 19:37] holsky commented on #594
Haha I'm glad I could contribute that :)

[2016-10-10 21:58] brain-geek commented on #658
I've digged into the [Elixir docs](http://elixir-lang.org/docs/stable/elixir/Supervisor.Spec.html) and looks like the default restart approach is `:permanent`:

[code]

`Overall, the default values for the options are:` ` restart: :permanent`.

But anyway, that's a good catch to ådd to lesson. Thanks, @X4lldux .

[2016-10-11 10:54] X4lldux commented on #658
Cool for the idea! Even though it's just a side efetct ;)

But... Your showing docs for a regular Supervisor, while my issue is about Task.Supervisor, called `ExampleApp.TaskSupervisor` in the example, has it's [defaults](https://github.com/elixir-lang/elixir/blob/v1.3.4/lib/elixir/lib/task/supervisor.ex#L41) set to `:temporary`.

[2016-10-12 22:07] ybur-yug commented on #703
@doomspork it seems we have this working reasonably well with the new projects setup. Should we close this?

[2016-10-13 02:23] capaci commented on #355
Can I make "Custom Mix Tasks" translation? :)

[2016-10-13 02:34] capaci commented on #355
Can I make Custom Mix Tasks translation? :)

[2016-10-13 03:15] capaci commented on #355
I did it on PR #725

[2016-10-13 16:52] doomspork commented on #703
@brain-geek very good point, where do you think those should live?

@ybur-yug yeah, we can close this and finish up any conversations 👍

[2016-10-13 16:52] #703 closed

[2016-10-14 02:25] anderkonzen commented on #711
I'll take the PT translation for this one

[2016-10-14 14:13] brain-geek commented on #703
@doomspork I guess that should be third project.

[2016-10-15 13:46] brain-geek commented on #658
Wow, I didn't get that one. Fixed the PR.

Thanks, @X4lldux !

[2016-10-15 14:06] X4lldux commented on #658
No problem.
If you mean #716,  the update it self looks good, but you've missed the last paragraph - unless you want to have a separate PR with a bufix for that. :)

p.s.
sorry for mis-closing.

[2016-10-16 00:32] doomspork commented on #658
@X4lldux is this good to close now that #716 merged?

[2016-10-16 00:44] X4lldux commented on #658
Almost. The last paragraph still says:

[2016-10-16 12:45] yakschuss commented on #551
@ybur-yug hey Bobby, I'm fairly new to Elixir but I'd love to pair on something like this if you're interested.

[2016-10-16 15:35] ybur-yug commented on #551
@yakschuss I had forgotten about this one being open. I'm not quite sure pairing would work well on asciicasts just because the nature of it is being a very tight, perfected bit that is done with relative quickness. However, I'm sure we could think of something that could be good to hack on together in the near future. DM me on slack or email me and we could brainstorm a bit. I should be doing som

[2016-10-16 17:27] Lechindianer commented on #200
I already said it on Twitter but I make efforts to translate it into German. These lessons are already finished: https://github.com/Lechindianer/elixir-school/tree/master/de/lessons

[2016-10-16 20:38] ybur-yug commented on #200
@Lechindianer @pjhampton would it make sense to make a `German Translations (master card)` that we could put in the projects board, and create issues for each remaining lesson in german and track it on the master card with a checklist/PR number?

Not sure what the best way is, just wanna make it as easy as possible for new contributors etc.

[2016-10-16 21:40] doomspork commented on #658
Thanks @X4lldux!  @brain-geek do you want to fix this up too or should I?

[2016-10-16 22:11] anderkonzen commented on #481
Gonna take the PT translation

[2016-10-17 06:48] Lechindianer commented on #200
@ybur-yug By the end of the week you should see a PR for all basic lessons. Personally I don't think creating issues for remaining lessons makes sense. You have to update this information manually which is as useful as outdated code comments. It would be more helpful if there was a notification to some kind of sub-groups (translation units) if there's a change on the original English version that

[2016-10-17 12:22] ybur-yug commented on #200
You're the one contributing so if that works for you, I am perfectly fine with it! Just was a thought in general. If you're doing it all in one sweet thats much more effective. With other languages like Portugese theres a lot more people passing things around so it makes more sense on things like that.

Thank you a ton! Looking forward to seeing it :)

[2016-10-17 13:11] nscyclone commented on #583
Shouldn't we update this issue with a translations task list?
The English updates were merged back in August, the [Japanese translation is pending](https://github.com/doomspork/elixir-school/pull/735).

[2016-10-17 15:58] brain-geek commented on #658
Okay, but the funny thing here that in that case (`start_child`) it actually gets restarted.

Looks like `spawn_link` and `start_child` have [different](https://github.com/elixir-lang/elixir/blob/v1.3.4/lib/elixir/lib/task/supervisor.ex#L134-L137) defaults! :)

IEx example of trying the code from example:

[code]

[2016-10-17 15:58] brain-geek commented on #658
From the IEx output you can see that failed process gets started 5 times - and fails 5 times (then it hits the limit).

[2016-10-17 16:06] brain-geek commented on #658
@X4lldux accounting that fact, do you think we can close this one?

We can add some more explanations, but I think that would be very confusing for beginners then.

[2016-10-17 16:21] ybur-yug commented on #658
@brain-geek good catch, I think youre right about it being potentially very confusing to a beginner.

[2016-10-17 16:22] doomspork commented on #658
@brain-geek nice work!  I think this safe to close this one for now, any notes will only confuse beginners and derail their learning.

[2016-10-17 16:22] #658 closed

[2016-10-17 16:22] doomspork commented on #658
@X4lldux if you think we could improve this further please submit a PR and we can continue the conversation there 👍

[2016-10-17 17:02] doomspork commented on #583
Yes @nscyclone, we should

[2016-10-18 01:40] devleoper commented on #583
In Korean translation, PRs by @marocchino have already merged.

[2016-10-19 19:15] et opened #739 "Is ruby 2.3.0 required"
The latest stable release of ruby is `2.3.1` yet the `Gemfile` indicates that you must use [2.3.0](https://github.com/doomspork/elixir-school/blob/master/Gemfile#L2).
Can that be changed to `~> 2.3.0` so `2.3.1` can be used to run the Jekyll app?

[2016-10-19 19:48] doomspork commented on #739
I think that should work @et, would you mind opening a PR?

[2016-10-19 19:57] et commented on #739
#741

[2016-10-19 21:28] #739 closed

[2016-10-19 23:01] zmcartor opened #742 "Guide about 'require' , 'use' , 'import'"
The three keywords 'require' , 'use' , 'import' are very close in meaning, but do subtlety different things within Elixir. Especially interested in when to use each, and how to write intelligent 'use' macros.

[2016-10-19 23:31] ybur-yug commented on #742
This is [RE this conversation](https://twitter.com/zmcartor/status/788872587363307520) if anyone wants to follow the original bit from twitter.

[2016-10-20 09:33] X4lldux commented on #658
@brain-geek I guess, in the scope of the example from the lesson, where the default restart policy is overridden to be `:transient` instead of `:temporary` your example is correct (in your example you also overrode default restart policy. But if you'd left `Task.Superviosr`'s default strategy, your _divdie_by_zero_ task would die once and never be restarted).

Maybe my initial proposition, adding

[2016-10-20 15:38] nscyclone opened #750 "Update the `basics/sigils` lesson"
PR #740 added a paragraph about the new `~N` sigil added in Elixir 1.3.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone #752
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  pt /cc @pragmaticivan

[2016-10-21 02:31] cizixs commented on #72
@aquarhead We can settle on "专题" right now. If there comes a better one, we just update it.

[2016-10-21 02:38] cizixs commented on #366
Chinese translation is done at #748.

[2016-10-21 09:46] devleoper opened #756 "Translations Update advanced/otp-supervisors.md"
PR #716 Added restart values to the supervisors lesson.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone @brain-geek
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  pt /cc @pragmaticivan
- [ ]  vi

[2016-10-21 20:00] brain-geek commented on #756
I'm working on the russian version.

[2016-10-21 20:10] brain-geek commented on #756
By the way. Thanks, @devleoper for creating this task. For some reason I thought that it's already in place.

[2016-10-21 21:33] aquarhead commented on #72
BTW @doomspork I'm not sure where to discuss it, but I think we should add an additional front matter just for marking which commit is the translation based on. So we can use git to compare what has changed between the base commit and current HEAD.

We could even implement some [Jekyll Commands](https://jekyllrb.com/docs/plugins/#commands) to automate generating new translation, and showing git di

[2016-10-24 21:20] Lechindianer commented on #200
Can you assign this issue to me? Currently I'm translating the advanced lessons :)

[2016-10-24 21:42] ybur-yug commented on #200
@Lechindianer is wont let me assign you, but I will add this to the projects page and get it updated properly. Thanks for all your hard work! Maybe @doomspork could fix the permissions stuff so it could be assigned? Not sure why it wont let me (never have used that feature)

[2016-10-31 00:17] doomspork opened #768 "Full fledge example projects"
I'd like to open up discussions about a new section or sub-site to Elixir School for full-fledged projects.  This would be something different from individual lesson exercises.  I envision these projects spanning multiple lessons and serving as examples for applying the knowledge and further familiarizing one's self with Elixir development.

This has been of particular interest to @ybur-yug and is

[2016-10-31 00:18] doomspork commented on #768
@ybur-yug could you give everyone the gist of what you had in mind?  I know this is something you've really wanted to get started for awhile now.

[2016-10-31 10:02] pjhampton commented on #768
I like the idea!
What is the current stats looking like from the google analytics @doomspork? What are you more popular lessons?

[2016-10-31 16:02] doomspork commented on #768
@pjhampton I don't think I've ever dug into the analytics to look at that, great idea!  @ybur-yug had a suggestion for a full fledge GenStage example application, that's the hottness right now so might be a great start.

The trick, in my opinion, will be coming up with real world problems that relatable and easy to follow along with.  It's easy to come up with contrived examples but that doesn't h

[2016-10-31 16:51] pragmaticivan commented on #768
I like the idea, but for this case I would suggest more images, illustration and a better explanation visually about what's going on. Not just code and text.

[2016-10-31 17:11] doomspork commented on #768
Agreed @pragmaticivan!  I think there needs to be more content, these projects should be in-depth.

[2016-10-31 19:17] ybur-yug commented on #768
@pragmaticivan what kind of example imagery are you thinking of?

[this](https://github.com/ybur-yug/genstage_tutorial) is the tutorial I had written up that just ended up too meaty. I mean I guess to expand you could incorporate it into an umbrella and have some imagery of the observer and the flow of demand from producer --> consumer etc.

I'm not as useful on those notes because I prefer things

[2016-11-01 18:59] firec0der opened #771 "Ukrainian translation"
Hi, folks!

Looks like someone started translating lessons to Ukrainian. Is here someone in charge of it?
If no, I can do it.

[2016-11-01 19:00] doomspork commented on #771
Howdy @firec0der!  @brain-geek is heading up the RU and UA, I'm sure he'd welcome your help!

[2016-11-01 20:23] brain-geek commented on #771
Hey @firec0der .

Yes, I've started translating ukrainian. Do you want to take a lesson for translation?

[2016-11-01 21:25] firec0der commented on #771
Hi, @brain-geek.
Yeah, I'd like to help.

[2016-11-01 21:31] brain-geek opened #772 "Ukrainian Translations"
## Get Involved!

We are seeking **Ukrainian** translators for this project. If you would like to get involved with translating a lesson. Please folk the project and start translating.

Process is simple: you chose the article from the list and translate it. One translated article - one PR.

- **Set up**
  - [x] _config.yml (@brain-geek)
  - [x] index.md (@brain-geek)
- **Basics**
  - [X] basics.m

[2016-11-01 21:33] brain-geek commented on #771
I've created the task #772 to track the progress of Ukrainian translations.

Process is simple: you chose the topic/article from the non-taken ones and translate it. One translated article - one PR.

@firec0der if you need any more help - ping me on Slack or email or even here. I'd love to help.

[2016-11-01 22:43] doomspork commented on #771
I'm going to close this since we have #772 now.  Thanks for joining the efforts @firec0der!

[2016-11-01 22:43] #771 closed

[2016-11-01 22:47] firec0der commented on #771
Thank you guys. Let the challenge begin! :)

[2016-11-02 20:52] ybur-yug opened #774 "GenFlow/Flow Lesson"
We need a lesson on Flow/GenFlow to follow up once PR #770 is merged.
It should go through the basics and be a bit short, but emphasize that it is for _large amounts of data_, and not enumerating over a 1000 item list.

[2016-11-03 23:22] doomspork commented on #774
We should be sure to cover partitioning, windows, and triggers in addition to the general Flow functionality.

[2016-11-04 02:59] ybur-yug opened #775 "Behaviours lesson improperly numbered on list of advanced topics"
![example](http://i.imgur.com/CJuOUtO.png)

I merged this one and didn't realize the error in how its added to advanced. I can fix this one tomorrow if someone else isn't around to hotfix it this evening.

[2016-11-04 04:44] doomspork commented on #775
Should be fixed by https://github.com/doomspork/elixir-school/commit/99e5e06443dbecc68ac0e0bf4d13a9e7e3060b4c.  It's deploying now.

[2016-11-04 10:26] yuriibodarev commented on #220
I think You can mark **typespec** as translated. And there is a new lesson on **behaviours** in Advanced which I want to take for translation!

[2016-11-04 10:31] brain-geek commented on #220
@yuriibodarev thanks for the note. Added and marked for you.

[2016-11-04 13:21] ybur-yug commented on #775
@doomspork PR'd one other small issue with this in #776

[2016-11-04 13:21] #775 closed

[2016-11-04 17:32] et commented on #742
I'd like to pick this up @ybur-yug and @zmcartor.
Should this be a new lesson or added to an existing section like the [modules](https://elixirschool.com/lessons/basics/modules/) section?

[2016-11-04 18:48] doomspork commented on #742
Howdy @et!  That would be great and as far as I know it no one is looking into this one currently.  If you'd like to take a whack at it please do!

I think we can expand on the modules lesson, what do you think?

[2016-11-04 18:57] et commented on #742
Hey @doomspork, I think that seems like the right spot. I'm curious though what would need to be expanded for the [composition section](https://elixirschool.com/lessons/basics/modules/#composition). @zmcartor thoughts?

[2016-11-04 20:26] doomspork commented on #742
Not critical but while you're making changes it appears we're missing some backticks in that lesson:

![image](https://cloud.githubusercontent.com/assets/73386/20021241/9fc7fe9c-a29a-11e6-9bf1-85bcaa35a94e.png)

Should be:

"Using `UseImportRequire.UseMe` defines a `use_test/0` function through invocation of the `__using__` macro."

[2016-11-06 14:39] cizixs commented on #667
Chinese version is merged.

[2016-11-06 16:28] doomspork commented on #667
Thank you @cizixs, your help is very much appreciated!

[2016-11-08 05:29] nscyclone opened #785 "Update the `specifics/ets` lesson"
PR #782 fixed a small shortcoming. The existing translations have to be checked whether they are affected by it.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone #786
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [x]  pl /cc @Koziolek #847
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  pt /cc @pragmaticivan
- [ ]  vi /cc @joneslee85
- [ ]  id /cc @rezaprima
- [x

[2016-11-10 11:27] Saneery commented on #220
Hi @brain-geek, i want to take for translation a new lesson **GenStage**

[2016-11-10 11:50] brain-geek commented on #220
@Saneery Marked for you. Thanks!

[2016-11-11 07:17] imranismail opened #794 "Permission to use material and brand for a workshop"
We are organizing a workshop to raise some awareness around Elixir, it's not going to be monetized but there will be some amount of "commitment fee" that the attendants need to pay. Something around $5 usd.

We will be keeping it true to ElixirSchool and brand it as ElixirSchool Kuala Lumpur.. Kuala Lumpur being the city.

The idea is to mimic the ruby community's Ruby Girl's movement.

[2016-11-11 16:44] ybur-yug commented on #794
@doomspork is the owner and only person who can comment on if that is truly fair game.

@imranismail IMHO any beginner event shouldn't have a pay-wall for entry, its just silly. The point of these materials are to give _everyone_ a _free_ resource; and that doesn't accomplish that goal at all. But I'm not the owner/creator so my opinion is just that, some random guy's opinion.

[2016-11-12 02:50] imranismail commented on #794
@ybur-yug it's not a paywall really, just a commitment fee because of the limited slots available. I've held past Elixir events that are free but those are more on talks instead of workshop style.

[2016-11-14 00:49] doomspork commented on #794
Hi @imranismail!  I'm excited to hear you're interested in making in-person training available to people in your area.  I am more than happy to have you make use of the materials, but I must say I am not a fan of branding this an "Elixir School" organized a event when it is not at all affiliated with us.

If you were actively involved in Elixir School through translations or contributions I think

[2016-11-14 01:35] imranismail commented on #794
I've talked to @doomspork and resolved to branding it something differently.

For those interested, the small community is here: https://www.facebook.com/groups/elixirmy/

I'll update this issue once we've set up the event.

Thank you!

[2016-11-14 01:35] #794 closed

[2016-11-14 20:52] holsky commented on #593
@doomspork This can be closed now I think, right? You usually create a new issue to manage the translations, correct? (If you reply yes I will do it)

[2016-11-14 21:00] holsky opened #797 "Improve explanation in Pattern Matching lesson"
What really helped me understand how pattern matching in Elixir/Erlang work is to compare the '=' operator to the equals sign in algebra. I would phrase the introductory sentence in the section like so. What do you think?

Are you ready for a curveball? In Elixir, the = operator is actually a match operator, comparable to the equals sign in algebra. If you think about it, writing x = x + 1 is fund

[2016-11-14 21:03] holsky opened #798 "Function lesson: Add warning that function headers are matched in order of appearance"
One of the things that cost me a lot of time early on, was that I wrote my functions matching in the wrong order, with the broadest pattern on top so that the finer ones below were never reacher. Maybe it would be a good idea to add a small word of warning to the Pattern Matching part of the functions lesson?

[2016-11-14 21:11] holsky opened #799 "Error Handling: Include guidance when to use which type of error handling"
While the lesson is great at explaining the mechanism for error handling (including the {:ok, ...}, {:error, ...} convention), I miss some guidance on when to use which type of error handling. I would rephrase the second paragraph like this:

The general conventions for the types of error handling in Elixir go like this:
  * for errors that are part of the normal operation of a function (e.g. a us

[2016-11-15 01:38] ybur-yug commented on #799
Do you want to take a stab at a PR @holsky?

[2016-11-15 01:38] ybur-yug commented on #798
Can you give some examples of this? I can see it as an issue but have never run into it myself @holsky.

[2016-11-15 01:40] ybur-yug commented on #797
`Are you ready for a curveball` might not translate very well. I don't know if I like the algebraic comparison. Thoughts @doomspork? I totally agree that we need some overall refinement especially from the perspective of new people diving in, but worry about getting too dense too early myself.

[2016-11-15 02:04] scouten commented on #593
+1 on closing

[2016-11-15 20:53] doomspork commented on #593
Yes @holsky!  Thanks for the ping.

[2016-11-15 20:53] #593 closed

[2016-11-15 20:55] doomspork commented on #798
I like this idea @holsky, ordering is important.  Any suggestions on how we might address this?  Would you like to take a stab at adding a note?

[2016-11-17 13:55] gemantzu commented on #785
#795 for greek language

[2016-11-18 16:44] nscyclone commented on #797
@ybur-yug, `Are you ready for a curveball` is already a part of [the original lesson](https://github.com/doomspork/elixir-school/blob/6232c1e585443e4716f613f905b48e52853be226/lessons/basics/pattern-matching.md#L15) and is translated as well. So I don't think there will be any issues related to translations.

Thanks, @holsky, this is definitely a good idea!
In my opinion, the algebraic comparison i

[2016-11-18 18:03] doomspork commented on #797
@nscyclone that sounds great, please open a PR

[2016-11-18 18:32] #797 closed

[2016-11-18 18:35] nscyclone opened #809 "Update the `basics/pattern-matching` lesson"
PR #808 improved the pattern matching explanation.
## Translation

Translation progress:
- [x] en
- [x]  ru /cc @nscyclone #810
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  pt /cc @pragmaticivan
- [ ]  vi /cc @jonesl

[2016-11-21 17:45] holsky commented on #798
Will do, probably by end of next week!

[2016-11-21 17:46] holsky commented on #799
Love to, probably by end of next week.

[2016-11-21 17:47] holsky commented on #797
Didn't have time to look before, but looks good :)

[2016-11-26 11:53] vinicius73 opened #823 "error in elixirschool.com"
We're getting the message 'Not found' while accessing elixirschool.com

[2016-11-26 13:16] justinrolston commented on #823
I saw this start at least 12 hours ago.

[2016-11-26 16:15] denispeplin commented on #823
Same for me, it went down yesterday evening.

[2016-11-26 19:44] ybur-yug commented on #823
This may be because I merged [this](https://github.com/doomspork/elixir-school/pull/821)?

I'm not sure because I don't have access to the server and Sean is quite busy right now. I will put out a tweet. :( Sorry, everyone.

[2016-11-26 19:50] doomspork commented on #823
@ybur-yug I ran home and bounced the boxes.  There's no apparent errors in the logs:

[code]

Can you try running the application locally to see if there's an error in the compilation?

[2016-11-26 19:51] ybur-yug commented on #823
@doomspork yeah, pulling now.

[2016-11-26 19:55] justinrolston commented on #823
It's back up

[2016-11-26 19:58] ybur-yug commented on #823
Looks like merging that PR fixing encoding did it then? Or did you do some magic @doomspork?

[2016-11-26 21:56] vinicius73 commented on #823
is back

[2016-11-26 21:56] #823 closed

[2016-11-27 14:49] jeramyRR opened #826 "Ecto Changeset section mixed up error functions"
The section below has the two functions, password_mismatch_error and password_incorrect_error in incorrect order.

[code]

[2016-11-27 20:12] moxley opened #828 "Issues with Plug lesson"
Hi, thank you for contributing to the Elixir ecosystem with Elixir School!

I landed on Elixir School while searching for a quick example to get a minimum Plug application running. My application only needs to expose a single JSON endpoint for an AJAX request.

Can I make a pull request with the following changes?

* Move `VerifyRequest` example down to a later section. It's not essential to get s

[2016-11-28 05:00] ybur-yug commented on #828
Any and all pull requests are welcome!

I'd recommend checking out our [style guide](https://github.com/doomspork/elixir-school/wiki/Lesson-Styleguide) to avoid any little nitpicks that can be common/easy to make if you arent familiar with the patterns.

Point per my, my general thoughts:

1. I think the goal of a specifics lesson is a bit more akin to something we'd see out in the wild, and this

[2016-11-28 16:59] doomspork commented on #826
Thank you @jeramyRR 👍

[2016-11-28 16:59] #826 closed

[2016-11-28 22:24] brain-geek commented on #220
I'll take the fresh *guardian* lesson.

[2016-11-28 23:58] ybur-yug opened #830 "Guardian Translation"
The new [Guardian Lesson](https://github.com/doomspork/elixir-school/pull/790/files#diff-e538c0f2f91ebba8407d60afed009eed) was just merged today (11/28/16).

PR #790 was the origin.

## Translation

Translation progress:
- [x] en
- [x]  ru - @brain-geek has said he will take up
- [x]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek #907
- [ ]  sk /cc @michal

[2016-11-29 00:18] ybur-yug opened #831 "Routing/Naming Mismatch In Libraries Section"
This may be intentional. If it is and I missed the conversation in the PR for adding the libraries section, apologies.

If we go to look at [the new Guardian Lesson](http://elixirschool.com/lessons/specifics/guardian/) the URL is `/lessons/specifics/guardian` but its listed under the `Libraries` entity which is listed with pieces that all have their own namespaced routes.

I would think that Libra

[2016-11-29 02:45] doomspork commented on #831
@ybur-yug this is a mistake.  We should create the directory and move the lessons.

[2016-11-29 05:52] nscyclone opened #834 "Translate the new section name"
The new [section](https://github.com/doomspork/elixir-school/blob/master/_config.yml#L107) for libraries was added in #729.
## Translation

Translation progress:
- [x] en
- [x] ru /cc @nscyclone
- [x] uk /cc @brain-geek
- [x]  gr /cc @gemantzu
- [x]  ko /cc @marocchino
- [x]  jp /cc @3100
- [x]  it /cc @lucidstack
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]

[2016-11-29 06:00] doomspork commented on #834
@ybur-yug thing we could use a tweet to get this done?

[2016-11-29 06:43] ybur-yug commented on #831
closing per #832 assuming it will end up proper

[2016-11-29 06:43] #831 closed

[2016-11-29 06:49] ybur-yug commented on #834
@doomspork worth trying, couldnt hurt. I will shoot one out now.

[2016-12-02 14:36] Koziolek opened #850 "Specifications and types translation"
The new [Specifications and types](https://github.com/doomspork/elixir-school/commit/1562b32e9b253f4d8aa4edb44fd18d07a4c804a1) is ready.

PR #564 was the origin.

## Translation

Translation progress:
- [x] en - #564
- [x]  ru - /cc @brain-geek / @nscyclone
- [ ]  ko /cc @devleoper
- [x]  jp /cc @3100 - #638
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /

[2016-12-02 15:55] hinamiyagk commented on #850
Japanese translation is already done(#638)

[2016-12-02 18:14] ybur-yug opened #851 "Plug, Ecto and Mnesia should be in Libraries section"
I think these don't fit in specifics as they are libraries. Therefore it would make more sense to put them there. If anyone is opposed to this please chime in, otherwise I will PR it later today or this weekend.

[2016-12-02 19:40] agustif commented on #851
Hey, I'm no expert but would enjoy collaborating on Ecto at least (the lib I know more of the three)

What did you had in mind?

[2016-12-02 21:07] doomspork commented on #851
I don't agree,  I see Libraries being for anything not part of Elixir-lang (Plug, Ecto) or OTP/Erlang (Mnesia).

Happy to hear what other's say though.  Thoughts @brain-geek, @nscyclone, @pjhampton, or anyone else?

[2016-12-02 21:13] pjhampton commented on #851
Emm, I agree with @doomspork. They are part of either the Elixir ecosystem (so to speak) or OTP, therefore specifics. If they were written by a 3rd party, I would see your point.

[2016-12-02 23:47] ybur-yug commented on #851
That does make sense. I hadn't thought of it from an ecosystem-level. I'll close this.

[2016-12-02 23:47] #851 closed

[2016-12-04 22:38] walkr opened #853 "Just one thing"
I opened this issue to say I appreciate you and the other contributing members for creating Elixir School. 👏🏽
It's a **super nice** resource for anyone learning Elixir & Co.

Thank you! 💙

[2016-12-05 10:24] Koziolek opened #855 "Translation of Behaviours lesson"
The new [Behaviours](https://github.com/doomspork/elixir-school/commit/de6a26fdea0f76fd96de6534396863b4c269fd40) lesson is ready.

PR #710 was the origin.

## Translation

Translation progress:
- [x] en - #710
- [x]  ru - /cc @brain-geek / @nscyclone #885
- [ ]  ko /cc @devleoper
- [x]  jp /cc @3100 / #1294
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /c

[2016-12-05 11:40] Koziolek opened #856 "Translation of GenStage Lesson"
The new [GenStage](https://github.com/doomspork/elixir-school/commit/73f465be84608947588bb024868fed0677304b38) lesson is ready.

PR #770 was the origin.

## Translation

Translation progress:
- [x] en - #710
- [x]  ru - /cc @brain-geek / @nscyclone #845
- [ ]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [x]  pl /cc @Koziolek #902
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @ju

[2016-12-05 19:24] gemantzu commented on #830
#839 greek

[2016-12-05 19:47] gemantzu commented on #856
#821 for greek, the system had an issue so it might be a later commit than this.

[2016-12-05 19:47] gemantzu commented on #855
#821 for greek

[2016-12-05 19:53] Koziolek commented on #855
@gemantzu please mark when ready :)

[2016-12-07 10:02] gemantzu commented on #850
Greek translation is already done(#629)

[2016-12-13 13:08] optikfluffel commented on #200
Any updated on this? 😸

[2016-12-15 06:03] saneery commented on #220
You can mark GenStage lesson as translated.

[2016-12-15 08:22] brain-geek commented on #220
Thanks for noting. Marked.

[2016-12-15 20:25] nscyclone commented on #220
I'll start working on `Poolboy` this weekend.

[2016-12-18 20:45] nscyclone opened #884 "Translation of Poolboy Lesson"
The new [Poolboy](https://github.com/doomspork/elixir-school/blob/master/lessons/libraries/poolboy.md) lesson is ready.

## Translation

Translation progress:
- [x] en - #833
- [x]  ru - /cc @nscyclone #892
- [x]  ko /cc @devleoper #838
- [ ]  jp /cc @3100
- [ ]  no /cc @Devalo
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandr

[2016-12-22 22:33] brain-geek opened #893 "Update "else example for case operator" in control structures lesson"
PR #882 improved the control structures lesson

## Translation

Translation progress:
- [x] en
- [x]  ru /cc @brain-geek
- [ ]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @therobinsj
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  pt /cc @pragmaticivan
- [ ]  vi /cc @joneslee85
-

[2016-12-24 15:46] Koziolek commented on #566
Advanced or Specifics this is the Question?

IMO Specifics, @doomspork, @nscyclone, what do you think?

[2016-12-24 21:42] doomspork commented on #566
👍 for Specifics

[2017-01-04 16:38] yuriibodarev commented on #774
We have a new GenStage lesson so now we will need another one on Flow?

[2017-01-04 19:58] ybur-yug commented on #774
Yes @yuriibodarev, feel free to take a stab at it

[2017-01-06 21:28] ybur-yug opened #908 "1.4 Changes for References Involving New Deprecations and/or Features Worth Adding"
In 1.4 we have a few new features, a good amount of deprecations, and some general improvements.

With this, we should probably keep current _at least_ with deprecations that are present in 1.4 and also consider potentially adding onto lessons to cover the most useful of the new features.

## Shiny New Stuff
- Date/Time/DateTime/NaiveDateTime comparison, addition, diffs
- Other calendar improvemen

[2017-01-10 03:47] BryanJBryce opened #911 "Guardian: JSON Web Tokens not Javascript Web Tokens"
Guardian Lesson: Intro should say _JSON_ Web Tokens not _Javascript_ Web Tokens.

[2017-01-10 05:28] pragmaticivan commented on #884
pt-BR https://github.com/doomspork/elixir-school/pull/913

[2017-01-10 07:30] doomspork commented on #911
Thank you for reporting and resolving this @BryanJBryce 👍

[2017-01-10 07:30] #911 closed

[2017-01-10 09:17] yuriibodarev commented on #774
@ybur-yug Thanks! I wan't to take [RU] translation of GenStage lesson and make a lesson on Flow if possible!

[2017-01-16 00:43] doomspork opened #920 "Translation of Plug lesson changes"
Big thanks to @moxley for a substantial overhaul of the Plug lesson, changes here: https://github.com/doomspork/elixir-school/pull/861

## Translation

Translation progress:
- [x] en #861
- [ ]  ru - /cc @nscyclone
- [x]  ko /cc @devleoper #942
- [ ]  jp /cc @3100
- [ ]  no /cc @Devalo
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc

[2017-01-16 00:45] doomspork opened #921 "Translation of Dialyzer lesson"
New lesson on Dialyzer and Debugger thanks to @Koziolek!  Original PR here: https://github.com/doomspork/elixir-school/pull/900

## Translation

Translation progress:
- [x] en #900
- [ ]  ru - /cc @nscyclone
- [ ]  ko /cc @devleoper
- [ ]  jp /cc @3100
- [ ]  no /cc @Devalo
- [ ]  pl /cc @Koziolek
- [ ]  sk /cc @michalvalasek
- [ ]  fr /cc @julienXX
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros /

[2017-01-16 00:48] doomspork opened #922 "Translation of new IEx Helpers lesson"
Another new lesson, this one on IEx helpers courtesy of @ybur-yug!  Original PR here: https://github.com/doomspork/elixir-school/pull/824

## Translation

Translation progress:
- [x] en #824
- [ ]  cn /cc @cizixs
- [ ]  es /cc @aleandros / @jonahoffline / @eze1981
- [ ]  fr /cc @julienXX
- [x]  gr /cc @gemantzu #945
- [ ]  id /cc @rezaprima
- [ ]  it /cc @sformisano
- [x]  ja /cc @3100 #1248
- [x]

[2017-01-16 15:48] doomspork commented on #853
Thank you @walkr that is very generous!  Huge thanks to all the contributors and translators who've really made this what it is 😀

Thank you for the kind words

[2017-01-16 15:48] #853 closed

[2017-01-17 12:53] 3tarazona commented on #922
Hi, I would like to help with Spanish translations! Let me know if you need my help in any document.

[2017-01-17 13:25] nscyclone commented on #922
Hi, @3tarazona!
AFAIK the Spanish translations are not started yet, so you probably would be interesting in beginning it from scratch.
We have a [small section](https://github.com/doomspork/elixir-school/blob/master/README.md#translating) about translations in our README that might be helpful. There are also some [common rules](https://github.com/doomspork/elixir-school/blob/master/CONTRIBUTING.md

[2017-01-17 21:28] #828 closed

[2017-01-17 21:28] doomspork commented on #146
Closing this for now, got some things in the works 😀

[2017-01-17 21:28] #146 closed

[2017-01-18 04:45] pragmaticivan opened #926 "Add support to "edit this page" link"
That would automatically link to the file on Github.

<img width="155" alt="screen shot 2017-01-17 at 8 45 24 pm" src="https://cloud.githubusercontent.com/assets/301291/22051174/e65e404c-dcf5-11e6-8bcc-0681e823eea9.png">

[2017-01-18 04:46] pragmaticivan opened #927 "Show who contributed to the page based on commits in one file"
ex: https://webpack.js.org/configuration/entry-context/

<img width="166" alt="screen shot 2017-01-17 at 8 46 11 pm" src="https://cloud.githubusercontent.com/assets/301291/22051186/013a9474-dcf6-11e6-9baf-f5b9aba73b17.png">

[2017-01-18 05:11] ybur-yug commented on #926
@pragmaticivan I dont think this would even really be accurate as a function per what it says, though.

You are not actually editing the page, at most you are proposing a change.

This also would bypass `CONTRIBUTING.md` etc and other resources as a means to start working on the project, possibly creating unneeded issues from things stemming from not reading the basics of how changes are desired t

[2017-01-18 06:17] pragmaticivan commented on #926
Having this feature may not cause any problem, but instead lead people to try to submit changes as Pull Request even for small typos. As you know, contributing markdown is used on Github to show an Alert about reading the CONTRIBUTING file (https://github.com/blog/1184-contributing-guidelines). There's no bypass.

The same way issues for new files doesn't have any explanation about how to contribu

[2017-01-19 01:45] ybur-yug commented on #926
I did not know about the `CONTRIBUTING` feature, but IMO it still would hurt the signals:noise ratio that we have worked quite hard to maintain to be at a reasonable level while still making the project accessible (which I would say is a success, considering we are touching nearly 30 languages that we are translated to with over 150 contributors, <3 to everyone whose given to this awesome thing).

[2017-01-19 19:52] Koziolek opened #930 "IEX Helpers in wrong folder"
Header of file is:

[code]

but file is in specifics dir.

[2017-01-19 23:49] doomspork commented on #926
I'd like to mull this over a bit more.  I certainly like the idea of lowering the barrier to contribute but at the same time I also agree with @ybur-yug's concerns.  I can see with a "Edit This Page" feature folks making single changes at a time, not rolling many up into a pull request, this could create a great deal of work for all contributors.

CC @nscyclone, @brain-geek, @devleoper, @joneslee8

[2017-01-20 03:15] ybur-yug commented on #930
Thanks @Koziolek thats totally my bad.

[2017-01-20 04:11] #930 closed

[2017-01-20 05:39] nscyclone commented on #926
There is a `Fork me on GitHub` ribbon at the top right of every page. It leads to the [repository index](https://github.com/doomspork/elixir-school) making the visitors read both `README` and `CONTRIBUTING` unless they purposely aren't going to read those.
I suppose this is sufficient for someone who would want to contribute.

[2017-01-20 12:08] devleoper commented on #926
"Suggest Changes" link can also promote visitors to contribute the project. Github helps the user who wants to edit forking and shows "please read guidelines before going further" when someone tries to make a pull request.

For users who might not read README, We can make a page that covers "starting translation of Elixir School from scratch" (which README mainly covers), and then we can add an "a

[2017-01-20 13:04] brain-geek commented on #926
I've looked through comments and, apparently, one of the main concerns when adding this feature is low quality of such contributions.

If it's not hard to have - I'd suggest adding this feature (should be just Github link of correct format) and see how it goes. Worst case scenario - we'll remove this feature. Best case - we'll improve quality.

Other option to get feedback about typos could be a s

[2017-01-27 01:57] ybur-yug opened #939 "Remove GenEvent From OTP Concurrency Lesson"
The long term plan is to [deprecate GenEvent](http://blog.plataformatec.com.br/2016/11/replacing-genevent-by-a-supervisor-genserver/).
We currently go into it [here](http://elixirschool.com/lessons/advanced/otp-concurrency/#genevent).

Since we have shown a good bit of concern with regard to what we should encourage as patterns and practices, we should probably remove this section of the lesson an

[2017-01-28 03:24] bhargavrpatel opened #941 "Is everything except false and nil really true?"
[code]

[2017-01-28 04:06] doomspork commented on #941
Hi @bhargavrpatel, you're comparing two different types together.  A better way to illustrate the truthy/falsey values is with an `if` statement:

[code]

[2017-01-28 04:06] #941 closed

[2017-02-01 15:21] Koziolek commented on #939
It is part of bigger job. Updating content to Elixir 1.4.

[2017-02-02 12:21] gemantzu opened #944 "Versioning"
I think it is time to add some versioning in these translations, so we can see right away which files need editing. We can add an integer on the `header` of the file (right below language for example) that gets bumped up every time a change is submitted.  This has to work only on the english version.  The translations have to declare which version of the original file they cover.
This way, I think

[2017-02-02 20:40] doomspork commented on #944
@gemantzu I think this is a great idea.  Any suggestions on how best to tackle this?

CC @nscyclone @brain-geek @devleoper @Koziolek and friends?

[2017-02-03 09:39] Koziolek commented on #944
Absolutely yes. Versioning is great, but that deprecated is brilliant idea :)

[2017-02-03 11:55] gemantzu commented on #944
We could always add versioning like we do in our software (major_version.minor_version.bug_fix) or a simple integer like 100, it becomes 110 if there are some big changes and 111 in minor tweaks. 200 if someone does a major overhaul.  The status becomes `deprecated` when the major version is different, `needs updates` when the second number is different and nothing when the last number is differen

[2017-02-03 20:58] doomspork commented on #944
So as a plan of attack @gemantzu, what all do we need to do?  I'm guessing something along the lines:

1) Add a `version: x.x.x` to the Jekyll metadata.
2) Tag the current English lessons as `v1.0.0` and then update all translations to their appropriate version.  Those not current could be something like `v0.1.0`.
3) Add some script to compare the current version with the English version and label

[2017-02-03 22:02] gemantzu commented on #944
1. Sure
2. Tag the current version as 1.0.0 and deprecate all translations, so that maintainers can bump up the versions depending on if the translation file is updated or not.
3. I don't have the slightest idea about Jeckyl, but can we have a script to do that each time there is a change?

[2017-02-03 23:16] doomspork commented on #944
@gemantzu I believe since Jekyll has to be recompiled and generated each time that we can hook into that for the checks.  I'll spend some time this weekend looking into it.

[2017-02-04 01:35] devleoper commented on #944
If we version documents like vx.x.x, we can display message depending on the differences of versions. Such as:

- There are small changes since this document was translated.
- There are changes since this document was translated. Some parts might not work.
- There was big changes since this document was translated. Most of the parts might be outdated and not working.

[2017-02-04 08:44] gemantzu commented on #944
@devleoper I like your messages, we should go with those.
Could we also do a report for the translators? That will categorize the lessons by the magnitude of differences?
example:
## Major Changes
### Basics - Enum
### Advanced - Concurrency
## Minor Changes
### Specifics - Plug
### Libraries - Poolboy
## Bugfixes
### Specifics - Ecto
This could show in the website, or just be a plain text file in

[2017-02-04 17:18] brain-geek commented on #944
This is a great idea, I vote for implementing this.

[2017-02-05 22:05] ybur-yug opened #947 "Translation of GenEvent Removal"
Original PR Here #946.

This removes any reference to GenEvent, as it is being deprecated.
This issue also has the latest list of all languages and contributors to use as an issues template. I added some that are typically missing.

## Translation
- [x] en #946
- [x] bg
- [x] bn
- [ ] cn /cc @cizixs
- [ ] de
- [x] es /cc @aleandros / @jonahoffline / @eze1981
- [x] fr /cc @julienXX
- [x] gr /cc @ge